Source: debathena-misc-glue
Section: debathena/net
Priority: extra
Maintainer: Debathena Project <debathena@mit.edu>
Build-Depends: cdbs, debhelper, dh-buildinfo
Standards-Version: 3.9.3

Package: debathena-misc-glue
Architecture: all
Depends: debathena-acroread-glue | acroread, debathena-freewrl-glue | freewrl, debathena-realplay-glue | realplayer | realplay, ${misc:Depends}
Description: Miscellaneous attach-and-run scripts for Debathena
 This package contains attach-and-run scripts for software installed
 in Athena lockers that is unavailable in the default Debian or
 Ubuntu repositories. If you wish, you can instead install local
 versions of these applications from third-party repositories.

Package: debathena-acroread-glue
Architecture: all
Provides: acroread
Conflicts: acroread
Replaces: acroread, debathena-misc-glue (<< 1.5~)
Depends: ${misc:Depends}
Description: Debathena attach-and-run script for acroread
 Athena provides acroread in the 'acro' locker, so it is not
 necessary to install it locally. This package provides a
 /usr/bin/acroread that runs acroread out of the acro locker.

Package: debathena-freewrl-glue
Architecture: all
Provides: freewrl
Conflicts: freewrl
Replaces: freewrl, debathena-misc-glue (<< 1.5~)
Depends: ${misc:Depends}
Description: Debathena attach-and-run script for freewrl
 Athena provides freewrl in the 'freewrl' locker, so it is not
 necessary to install it locally. This package provides a
 /usr/bin/freewrl that runs freewrl out of the freewrl locker.

Package: debathena-realplay-glue
Architecture: all
Provides: realplayer, realplay
Conflicts: realplayer, realplay
Replaces: realplayer, realplay, debathena-misc-glue (<< 1.5~)
Depends: ${misc:Depends}
Description: Debathena attach-and-run script for realplay
 Athena provides realplay in the 'infoagents' locker, so it is not
 necessary to install it locally. This package provides a
 /usr/bin/realplay that runs realplay out of the infoagents locker.
