Source: debathena-thirdparty-sound
Section: debathena/base
Priority: extra
Standards-Version: 3.9.3
Maintainer: Debathena Project <debathena@mit.edu>
Build-Depends: cdbs, debhelper, dh-buildinfo

Package: debathena-thirdparty-sound
Architecture: all
Depends: sox,
 libsox-dev,
 rhythmbox,
 ${misc:Depends}
Description: Debathena metapackage for third-party sound software
 This includes a set of subpackages of commonly-used third-party software
 within the sound domain.  It is intended for cluster machines though usable
 anywhere.  Direct questions about software included in this metapackage
 to 3partysw@mit.edu.
