#!/usr/bin/make -f

include /usr/share/cdbs/1/rules/debhelper.mk

# Hack to prevent dh_link from "canonicalizing" the /usr/athena and
# /bin/athena symlinks to e.g. athena -> ../usr.  This seems to not be
# needed on recent distributions, but is still a problem on at least
# dapper.
DEB_DH_LINK_debathena-base = --your-mother || true

common-install-indep::
	ln -s . $(DEB_DESTDIR)/usr/athena
	ln -s . $(DEB_DESTDIR)/bin/athena
