#!/usr/bin/make -f

include /usr/share/cdbs/1/rules/debhelper.mk

# Hack to prevent dh_link from "canonicalizing" the /usr/athena and
# /bin/athena symlinks to e.g. athena -> ../usr.  This seems to not be
# needed on recent distributions, but is still a problem on at least
# dapper.
DEB_DH_LINK_debathena-base = --your-mother || true

common-install-indep::
	mkdir -p $(DEB_DESTDIR)/usr/athena
	ln -nsf ../bin $(DEB_DESTDIR)/usr/athena/bin
	ln -nsf ../include $(DEB_DESTDIR)/usr/athena/include
	ln -nsf ../lib $(DEB_DESTDIR)/usr/athena/lib
	ln -nsf ../sbin $(DEB_DESTDIR)/usr/athena/sbin
	ln -nsf ../share $(DEB_DESTDIR)/usr/athena/share
	ln -s . $(DEB_DESTDIR)/bin/athena
