#!/usr/bin/make -f

CUPS_VERSION = $(shell dpkg-query --showformat='$${Version}' --show cups || echo 0)
CUPS_14 = $(shell dpkg --compare-versions $(CUPS_VERSION) ge '1.4.3~' && echo y)

DEB_DIVERT_EXTENSION = .debathena

ifeq ($(CUPS_14),y)
    DEB_DIVERT_FILES_debathena-cluster-cups-config += \
	/usr/share/debathena-cupsys-config/cupsd-site.conf.debathena
endif

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/rules/config-package.mk
