#!/usr/bin/env xdg-open

[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Link
Icon[en_US]=help-about
Name[en_US]=Welcome to Athena
URL=../welcome
Name=Welcome to Athena
Icon=help-about
