Source: debathena-nmh-config
Section: debathena-config/mail
Priority: extra
Maintainer: Debathena Project <debathena@mit.edu>
Build-Depends: cdbs, debhelper, dh-buildinfo, config-package-dev (>= 5.0~)
Standards-Version: 3.9.3

Package: debathena-nmh-config
Architecture: all
Depends: debathena-nmh | nmh (>= 1.5~), debathena-bash-config, libsasl2-modules-gssapi-mit, ${misc:Depends}
Provides: ${diverted-files}
Conflicts: ${diverted-files}, debathena-nmh (<= 1.0+athena9.4.34-0debathena4)
Description: NMH configuration for the Athena environment
 This package configures Debian's nmh package to work with the Athena
 environment.
