[Desktop Entry]
Encoding=UTF-8
Name=Search for Files
Name[ar]=ابحث عن ملفات
Name[be]=Пошук файлаў
Name[bg]=Търсене за Файлове
Name[ca]=Cerca fitxers
Name[cs]=Hledat soubory
Name[da]=Søg efter filer
Name[de]=Nach Dateien suchen
Name[el]=Αναζήτηση για Αρχεία
Name[es]=Buscar archivos
Name[et]=Otsi faile
Name[fr]=Rechercher des fichiers
Name[hu]=Fájlok keresése
Name[ja]=ファイルを探します
Name[ko]=파일 찾기
Name[lt]=Ieškoti bylų
Name[lv]=Meklēt Failus
Name[ms]=Cari Fail
Name[nl]=Naar bestanden zoeken
Name[no]=Søk etter filer
Name[pl]=Wyszukiwanie plików
Name[pt]=Procurar Ficheiros
Name[pt_BR]=Procurar Arquivos
Name[ro]=Caută fişiere
Name[ru]=Поиск файлов
Name[sk]=Hľadať súbory
Name[sl]=Išči datoteke
Name[sv]=Sök efter filer
Name[tr]=Dosyaları Ara
Name[uk]=Пошук файлів
Name[vi]=Tìm tập tin
Name[wa]=Cweri après des fitchîs
Name[zh_CN]=搜索文件
Name[zh_TW]=搜尋檔案
Comment=Search your disk for files
Comment[ar]=ابحث في قرصك عن ملفات
Comment[be]=Адшукаць файлы на дыску
Comment[bg]=Търсене за файлове на вашият диск.
Comment[ca]=Cerca fitxers en el vostre disc
Comment[cs]=Hledat soubory na vašem disku
Comment[da]=Søg efter filer på disken
Comment[de]=Die Platte nach Dateien durchsuchen
Comment[el]=Αναζήτηση στο δίσκο σας για αρχεία
Comment[es]=Buscar archivos en su disco
Comment[et]=Otsi faile oma kettalt
Comment[fr]=Recherche des fichiers sur votre disque
Comment[hu]=Fájlok keresése a lemezen
Comment[ja]=ディスクからファイルを探します
Comment[ko]=디스크에서 파일을 찾습니다
Comment[lt]=Ieškoti bylų diske
Comment[lv]=Meklēt failus savā diskā
Comment[ms]=Cari di cakera untuk fail
Comment[nl]=Doorzoek de harde schijf naar bestanden
Comment[nn]=Søk på disken etter filer
Comment[no]=Søk etter filer på din disk
Comment[pl]=Wyszukuje pliki na dysku
Comment[pt]=Procurar ficheiros no seu disco
Comment[pt_BR]=Procure por arquivos no disco
Comment[ro]=Caută fişiere pe discul dumneavoastră
Comment[ru]=Найти файлы на диске
Comment[sk]=Hľadajte súbory na disku
Comment[sl]=Išči datoteke na disku
Comment[sv]=Sök på din disk efter filer
Comment[tr]=Diskte dosyaları ara
Comment[vi]=Tìm tập tin trên đĩa
Comment[zh_CN]=在您的磁盘上搜索文件
Comment[zh_TW]=在磁碟中搜尋檔案
Exec=gnome-search-tool
Icon=gnome-searchtool.png
Terminal=false
Type=Application
X-GNOME-DocPath=gnome-search-tool/gnome-search-tool.xml
Categories=GNOME;Application;Core;
