#!/usr/bin/make -f

include /usr/share/cdbs/1/rules/debhelper.mk

KERBEROS_CONFIGS_VERSION = $(shell apt-cache showsrc kerberos-configs | grep-dctrl -n -s Version '' | head -n1)
HAVE_KRB4_CONFIG = $(shell dpkg --compare-versions "$(KERBEROS_CONFIGS_VERSION)" lt '2.1~' && echo yes)

ifneq ($(HAVE_KRB4_CONFIG),)
binary-predeb/debathena-maybe-krb4-config:: debathena-maybe-krb4-config-substvars

debathena-maybe-krb4-config-substvars::
	echo "debathena-maybe-krb4-config-depends=krb4-config" \
	  >> debian/debathena-maybe-krb4-config.substvars
endif
