Source: debathena-thirdparty-accessories
Section: debathena/base
Priority: extra
Standards-Version: 3.9.3
Maintainer: Debathena Project <debathena@mit.edu>
Build-Depends: cdbs, debhelper, dh-buildinfo

Package: debathena-thirdparty-accessories
Architecture: all
Depends: xtightvncviewer,
 xcal,
 rxvt,
 nautilus-open-terminal,
 eterm,
 ${misc:Depends}
Description: Debathena metapackage for third-party accessories software
 This includes a set of subpackages of commonly-used third-party software
 within the accessories domain.  It is intended for cluster machines though usable
 anywhere.  Direct questions about software included in this metapackage
 to 3partysw@mit.edu.
