[Desktop Entry]
Encoding=UTF-8
Name=Archive Generator
Name[ar]=مولد الأرشيف
Name[az]=Arxiv Yaradıcısı
Name[be]=Генератар архіваў
Name[bg]=Генератор на Архив
Name[ca]=Generador d'arxius
Name[cs]=Generátor archívů
Name[da]=Arkivgenerator
Name[de]=Archivierer
Name[el]=Γεννήτρια Αρχείοθέτησης
Name[es]=Generador de archivos comprimidos
Name[et]=Arhiveerija
Name[eu]=Artxibo-sortzailea
Name[fi]=Archive Generator
Name[fr]=Générateur d'Archive GNOME
Name[hu]=Archívumkészítő
Name[ja]=GNOME アーカイブ作成器
Name[ko]=아카이브 만들기
Name[lt]=Archyvų generatorius
Name[lv]=Arhīvu Ģenerātors
Name[ms]=Penjana Arkib
Name[nl]=Archiefgenerator
Name[nn]=Arkivgenerator
Name[no]=Arkivgenerator
Name[pl]=Generator archiwów
Name[pt]=Gerador de Ficheiros Comprimidos
Name[pt_BR]=Compactador
Name[ro]=Generator arhivă
Name[ru]=Генератор архивов
Name[sk]=Generátor archívov
Name[sl]=Generator arhivov
Name[sv]=Arkivskapare
Name[tr]=Arşiv Oluşturucu
Name[vi]=Trình tạo kho lưu
Name[zh_CN]=归档生成器
Name[zh_TW]=保存檔產生程式
Comment=Create compressed archives containing many files
Comment[ar]=إنشاء أرشيفات مضغوطة تحوي عدة ملفات
Comment[be]=Стварыце сьціснутыя архівы, якія утрымліваюць шмат файлаў
Comment[bg]=Създава компресиран архив съдържащ много файлове
Comment[ca]=Crea arxius comprimits que contenen molts fitxers
Comment[cs]=Vytváření komprimovaných archívů s mnoha soubory
Comment[da]=Opret komprimerede arkiver der kan indeholde mange filer
Comment[de]=Komprimierte Archive mit vielen Dateien erzeugen
Comment[el]=Δημιουργία συμπιεσμένων αρχείων που περιέχουν πολλά αρχεία
Comment[es]=Crea archivos comprimidos conteniendo muchos archivos
Comment[et]=Loo pakitud arhiive, mis sisaldavad mitmeid faile
Comment[fr]=Stocke des fichiers dans des archives compressées
Comment[hu]=Sok fájlt tartalmazó tömörített archívum létrehozása
Comment[ja]=たくさんんのファイルを含んだ圧縮されたアーカイブを作成します
Comment[ko]=여러 개의 파일이 들어 있는 압축된 아카이브를 만듭니다
Comment[lt]=Sukurti suspaustus archyvus, saugančius daug bylų
Comment[lv]=Izveidot kompresētu arhīvu, kas satur vairākus failus
Comment[ms]=Cipta akrib termampat yang mengandungi banyak fail
Comment[nl]=Gecomprimeerde archieven maken met meerdere bestanden
Comment[nn]=Lagar komprimerte arkiv innhaldande mange filer
Comment[no]=Opprett komprimerte arkiv som inneholder mange filer
Comment[pl]=Tworzy skompresowane archiwa zawierające wiele plików
Comment[pt]=Criar ficheiros comprimidos que contenham vários ficheiros
Comment[pt_BR]=Crie arquivos comprimidos contendo vários arquivos
Comment[ro]=Crează arhive comprimate conţinând multe fişiere
Comment[ru]=Создаёт сжатые архивы, содержащие много файлов
Comment[sk]=Vytvára komprimované archívy obsahujúce veľa súborov
Comment[sl]=Ustvari komprimirane arhive, ki vsebujejo več datotek
Comment[sv]=Skapa komprimerade arkiv som innehåller många filer
Comment[vi]=Tạo kho lưu nén chứa nhiều tập tin
Comment[zh_CN]=创建含有许多文件的归档文件
Comment[zh_TW]=建立內含許多檔案而且經過壓縮的保存檔
Exec=archive-generator
Terminal=false
Icon=document-icons/gnome-compressed.png
Type=Application
X-GNOME-DocPath=meat-grinder/meat-grinder.xml
Categories=GNOME;Application;Utility;System;
