	See bonobo/doc/FAQ for more details on how to name components.

	Based on the assumption that the OMG will allow us to register
the GNOME/ and Bonobo/ toplevel namespaces; the following spaces have
been registered to the following projects, and are controlled by the
following people [ subject to any pending complaints ]:

* GNOME/			michael@helixcode.com, jirka@5z.com

subdomains:
	AbiWord			abiword		msevior@mccubbin.ph.unimelb.edu.au
	Achtung/		achtung		mkestner@ameritech.net
	Chord/			gnome-chord	rob@pangolin.org.uk
	CoGnomen/		CoGnomen	merchan@baton.phys.lsu.edu
	Config/			GConf		hp@redhat.com
	ControlCenter/		control-center	?
	Crescendo/		creschendo	will@lashell.net
	DB/			Gnome-db	rodrigo@gnome-db.org
	Database/		libgda		rodrigo@gnome-db.org
	Development/		gnome-debug,	jpr@helixcode.com, dave@helixcode.com
	DevHelp/                DevHelp         micke@codefactory.se
	Dia/			Dia		james@daa.com.au
	EOG/			EOG		federico@helixcode.com
	Elysium/		Elysium		dobey@free.fr
	Encompass/		Encompass	dobey@free.fr
	Evolution/		Evolution	ettore@helixcode.com
	FileSelector/		file-sel	jacob@ximian.com
	GDA/			libgda		rodrigo@gnome-db.org
	GGV/			ggv		jaka@gnu.org
	Galeon/			galeon		marco@it.gnome.org
	Gnumeric/		Gnumeric	jgoldberg@home.com
	Grapevine/		grapevine	jirka@5z.com
	GtkHTML/		GtkHTML		rodo@helixcode.com
	Guppi/			guppi3		trow@gnu.org
	Magnifier/		gnome-mag	bill.haneman@sun.com
	Media/			gnome-media	peter@ximian.com
	MrProject/		mrproject	richard.hult@codefactory.se
	Nautilus/		Nautilus	darin@eazel.com
	Pilot/			gnome-pilot	eskil@eazel.com
	PonG/			pong	  	jirka@5z.com
	Print/			gnome-print	chema@celorio.com
	SodiPodi/		sodipodi	lauris@helixcode.com
	Spell/			gtkhtml		rodo@helixcode.com
	Terminal/		gnome-core	jirka@5z.com, jacob@helixcode.com	
	VCS/			gnome-vcs	snaggen@acc.umu.se
	VFS/			gnome-vfs	pavel@eazel.com
	Vertigo/		Panel 2.0	jirka@5z.com, jacob@helixcode.com	
	Yelp/			Yelp		micke@codefactory.se

standard interfaces:
	HTMLEditor		gtkhtml
	Panel			gnome-core
	Panel2 (in 1.4)		gnome-core
	PanelSpot		gnome-core
	Applet			gnome-core
	StatusSpot		gnome-core

deprecated interfaces:
	Unknown			gnome-libs
	Table			gnome-libs
	GenericFactory		gnome-libs

* Misc. Namespacing errors - non-deprecated.

Desktop/
	TextViewerFactory	gnome-libs
	TextViewer		gnome-libs
	Editor			gnome-libs

help_browser/
	simple_browser		gnome-core

[ reserved for component infastructure ]

* Bonobo/			miguel@helixcode.com, michael@helixcode.com
	Moniker/
	MonikerExtender/
	Sample/
		Audio
		Calculator
		CanvasItem	sample-canvas-item
		Clock
		Echo		bonobo-echo
		Mines		bonobo-mines
		Hello		bonobo-hello
		Paint		paint-component-simple
		Text		bonobo-text-plain

[ reserved for accessibility ]

* Accessibility/		bill.haneman@sun.com
