[Desktop Entry]
Encoding=UTF-8
Name=Character Map
Name[ar]=جدول الرموز
Name[az]=Hərf Xəritəsi
Name[be]=Табліца сымбаляў
Name[bg]=Таблица със символи
Name[bn]=অক্ষরের ছক
Name[bs]=Mapa karaktera
Name[ca]=Mapa de caràcters
Name[cs]=Mapa znaků
Name[cy]=Map Nodau
Name[da]=Tegnoversigt
Name[de]=Zeichentabelle
Name[el]=Πίνακας Xαρακτήρων
Name[en_CA]=Character Map
Name[en_GB]=Character Map
Name[es]=Mapa de caracteres
Name[fi]=Merkkikartta
Name[fr]=Table de caractères
Name[gu]=અક્ષર કોષ્ટક
Name[hi]=अक्षर तालिका
Name[hr]=Tablica znakova
Name[hu]=Karaktertábla
Name[id]=Tabel karakter
Name[it]=Tabella caratteri
Name[ja]=文字マップ
Name[ko]=글자 표
Name[lt]=Simbolių lentelė
Name[mn]=Тэмдэгтийн хүснэгт
Name[ms]=Peta Aksara
Name[nb]=Tegnkart
Name[nl]=Tekentabel
Name[nn]=Teiknkart
Name[no]=Tegnkart
Name[pa]=ਅੱਖਰ ਖਾਕਾ
Name[pl]=Mapa znaków
Name[pt]=Mapa de Caracteres
Name[pt_BR]=Mapa de Caracteres
Name[ru]=Таблица символов
Name[sk]=Mapa znakov
Name[sq]=Harta e simboleve
Name[sr]=Таблица знакова
Name[sr@Latn]=Tablica znakova
Name[sv]=Teckentabell
Name[ta]=எழுத்து வரைபடம்
Name[th]=ผังอักขระ
Name[tr]=Karakter Haritası
Name[uk]=Таблиця символів
Name[zh_CN]=字符映射表
Name[zh_TW]=字符表
Comment=Insert special characters into documents
Comment[ar]=إدراج رموز خاصة في المستند
Comment[az]=Sənədlərə xüsusi hərfləri daxil edin
Comment[bg]=Вмъкване на специални символи в документи
Comment[bn]=আপনার লেখায় বিশেষ কিছু অক্ষর ব্যবহার করুন
Comment[bs]=Ubacivanje posebnih znakova u dokumente
Comment[ca]=Inseriu caràcters especials en els documents
Comment[cs]=Vložit speciální znaky do dokumentů
Comment[cy]=Mewnosod nodau arbennig i fewn i ddogfenni
Comment[da]=Indsæt specielle tegn i dokumenter
Comment[de]=Sonderzeichen in Dokumente einfügen
Comment[el]=Εισαγωη ειδικών χαρακτήρων σε έγγραφα
Comment[en_CA]=Insert special characters into documents
Comment[en_GB]=Insert special characters into documents
Comment[es]=Insertar caracteres especiales en los documentos
Comment[fi]=Lisää erikoismerkkejä asiakirjoihin
Comment[fr]=Insère des caractères spéciaux dans vos documents
Comment[gu]=દસ્તાવેજમાં વિશિષ્ટ અક્ષરો ઉમેરો
Comment[hi]=दस्तावेज़ों में विशिष्ट अक्षर प्रविष्ट करें
Comment[hr]=Ubacivanje posebnih znakova u dokumente
Comment[hu]=Különleges karakterek dokumentumokba illesztése
Comment[id]=Masukkan karakter istimewa ke dalam dokumen
Comment[it]=Inserisce caratteri speciali nei documenti
Comment[ja]=ドキュメントの中に特殊な文字を挿入します
Comment[ko]=문서에 특수문자를 끼워넣습니다
Comment[lt]=Įterpia specialius simbolius į dokumentus
Comment[mn]=Баримт руу тусгай тэмдэгт оруулах
Comment[ms]=Menyisipkan aksara istimewa ke dokumen
Comment[nb]=Sett inn spesielle tegn i dokumenter
Comment[nl]=Voeg in documenten speciale tekens in
Comment[nn]=Sett inn spesielle teikn i dokument
Comment[no]=Sett inn spesielle tegn i dokumenter
Comment[pa]=ਦਸਤਾਵੇਜ਼ ਵਿੱਚ ਖਾਸ ਅੱਖਰ ਦਿਉ
Comment[pl]=Wstawia znaki specjalne do dokumentów
Comment[pt]=Inserir caracteres especiais em documentos
Comment[pt_BR]=Insere caracteres especiais nos documentos
Comment[ru]=Программа для вставки специальных символов в документы
Comment[sk]=Vložiť špeciálne znaky do dokumentov
Comment[sq]=Shto simbole të veçantë në dokumente
Comment[sr]=Унесите нарочите знаке у документа
Comment[sr@Latn]=Unesite naročite znake u dokumenta
Comment[sv]=Infoga specialtecken i dokument
Comment[ta]=ஆவணத்தில் சிறப்பு எழுத்தஒ சொருகு
Comment[th]=แทรกอักขระพิเศษเข้าในเอกสาร
Comment[tr]=Özel karakterleri belgelere yerleştir
Comment[uk]=Вставляння спеціальних символів у документ
Comment[zh_CN]=在文档中插入特殊字符
Exec=gucharmap
Icon=gucharmap.png
Terminal=false
Type=Application
Categories=Application;Utility;
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=gucharmap
X-GNOME-Bugzilla-Component=general
StartupNotify=true
