[Desktop Entry]
Encoding=UTF-8
Name=GGV PostScript Viewer
Name[am]=የGGV ፖስትስክሪፕት ተመልካች
Name[be]=GGV PostScript праглядальнік
Name[bg]=Програма за преглед на PostScript 
Name[ca]=Visualitzador PostScript GGV
Name[cs]=Prohlížeč PostScriptu GGV
Name[da]=Postscript-fremviser
Name[de]=GGV PostScript-Betrachter
Name[el]=Εφαρμογή προβολής PostScript GGV
Name[es]=Visualizador PostScript GGV
Name[et]=GGV PostScript failide vaatur
Name[fi]=GGV:n PostScript-katselin
Name[fr]=Visionneur PostScript GGV
Name[he]=מציג GGV PostScript
Name[hu]=GGV PostScript-néző
Name[it]=Visualizzatore PostScript GGV
Name[ja]=GGV PostScriptビューア
Name[ko]=GGV 포스트스크립트 보기
Name[lv]=GGV PostScript Skatītājs
Name[mn]=GGV PostScript-харагч
Name[ms]=Pelihat PostScript GGV
Name[nl]=GGV PostScriptweergave
Name[no]=GGV PostScript visning
Name[pl]=GGV - przeglądarka PostScriptu
Name[pt]=Visualizador de PostScript GGV
Name[pt_BR]=Visualizador de PostScript GGV
Name[ro]=Vizualizator PostScript GGV
Name[ru]=Программа просмотра файлов формата PostScript
Name[sk]=Prehliadač pre PostScript GGV
Name[sl]=GGV PostScript prikazovalnik
Name[sv]=PostScriptvisaren GGV
Name[ta]=GGV PostScript ¸¡ðÊ
Name[uk]=Переглядач документів PostScript
Name[vi]=Bộ xem PostScript GGV
Name[zh_CN]=GGV PostScript 查看器
Name[zh_TW]=GGV PostScript 檢視程式
Comment=A Ghostscript frontend to visualize PostScript files
Comment[am]=የፖስትስክሪፕት ፋይሎችን ለማየት የጎስትስክሪፕት
Comment[az]=PostScript faylları üçün Ghostscript ara üzü
Comment[be]=Дабудова да Ghostscript для адлюстраваньня PostScript файлаў
Comment[bg]=Ghostscript програма за визуализация на PostScript файлове
Comment[ca]=Una façana Ghostscript per al per visualitzar fitxers PostScript
Comment[cs]=Uživatelské rozhraní Ghostscriptu na prohlížení postscriptových souborů
Comment[da]=Ghostscript-grænseflade til at fremvise Postscript-filer
Comment[de]=Eine grafische GhostScript-Oberfläche zum Betrachen von PostScript-Dateien
Comment[el]=Προεπισκόπηση αρχείων PostScript μέσω του Ghostscript
Comment[es]=Visualizador de documentos PostScript
Comment[et]=Ghostscripti kasutajaliides PostScript failide kuvamiseks
Comment[eu]=PostScript fitxategiak ikusteko Ghostscript interfazea
Comment[fi]=Ghostscript-käyttöliittymä Postscript-tiedostojen katseluun.
Comment[fr]=Une interface graphique pour Ghostsript permettant de visualiser les fichiers PostScript
Comment[gl]=Interfaz de GNOME para o Ghostscript
Comment[he]=חזית Ghostscrip להצגת קבצי PostScript
Comment[hr]=Preglednik PostScript dokumenata
Comment[hu]=PostScript dokumentum néző
Comment[it]=Un frontend Ghostscript per visualizzare file PostScript
Comment[ja]=GNOME版Ghostscriptフロントエンド
Comment[ko]=GS를 이용하여 포스트스크립트 파일을 편하게 보여주는 프로그램
Comment[lt]=GNOME Ghostscript apvalkalas
Comment[lv]=Ghostscript priekšgals, lai vizualizētu PostScript failus
Comment[mn]=PostScript файлуудыг харах график GhostScript-гадаргуу
Comment[ms]=Antaramuka depan  Ghostscript untuk melihat fail PostScript
Comment[nl]=Een Ghostscript-schil om PostScript-bestanden te visualiseren
Comment[nn]=Grafisk grensesnitt for Ghostscript
Comment[no]=Grafisk grensesnitt for ghostscript
Comment[pl]=Nakładka na Ghostscripta pozwalająca na przeglądanie plików postscriptowych
Comment[pt]=Interface gráfica do ghostscript para visualizar ficheiros PostScript
Comment[pt_BR]=Uma interface Ghostscript para visualizar arquivos em PostScript.
Comment[ro]=O interfaţă Ghostscript pentru vizualizarea fişierelor PostScript
Comment[ru]=Оболочка к программе "Ghostscript" для отображения файлов формата PostScript
Comment[sk]=Používateľské rozhranie Ghostscriptu pre zobrazenie súborov PostScript
Comment[sl]=Pregledovalnik PostScript dokumentov
Comment[sv]=Ghostscript-gränssnitt för att visa PostScript-filer
Comment[ta]=PostScript §¸¡ôÒ¸¨Ç À¡÷ôÀ¾ð¸¡É µ÷ Ghostscript ÓýÉÉ¢
Comment[tr]=PostScript dosyalarını gösteren Ghostscript modülü
Comment[uk]=Програма перегляду файлів PostScript
Comment[vi]=Một GhostScript frontend để hiển thị tập tin PostScript
Comment[zh_CN]=用于阅读 PostScript 文件的 Ghostscript 前端
Comment[zh_TW]=檢視 PostScript 文件的 Ghostscript 圖形化程式
Icon=gnome-ghostview.png
Exec=ggv %U
StartupNotify=true
Terminal=false
Type=Application
Categories=GNOME;Application;Graphics;VectorGraphics;Viewer;
