#!/usr/bin/perl -0p
s{^Comment=Get help with .*$}{Comment=Get help with Debathena}m or die;
s{^Exec=yelp$}{Exec=yelp file:///usr/share/debathena-help-config/debathena.xml}m or die;
