#!/usr/bin/make -f

DEB_DIVERT_EXTENSION = .debathena
DEB_DIVERT_FILES_debathena-linerva-pam-config += \
	/etc/pam.d/common-auth.debathena.debathena \
	/etc/pam.d/common-password.debathena.debathena \
	/etc/pam.d/common-session.debathena.debathena \
	/etc/pam.d/cron.debathena \
	/etc/pam.d/login.debathena.debathena

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/rules/config-package.mk
