[Desktop Entry]
Encoding=UTF-8
Name=System Log
Name[ar]=سجلات النظام
Name[be]=Сыстэмныя часопісы
Name[bg]=Системен Журнал
Name[ca]=Registre del sistema
Name[cs]=Systémový soubor záznamů
Name[da]=Systemlog
Name[de]=Systemprotokoll
Name[el]=Καταγραφές Συστήματος
Name[es]=Bitácora del sistema
Name[et]=Süsteemi logiraamat
Name[fr]=Journaux système
Name[hu]=Rendszernapló
Name[ja]=システムログ
Name[ko]=시스템 로그
Name[lt]=Sistemos log'as
Name[lv]=Sistēmas Žurnāls
Name[ms]=Log Sistem
Name[nl]=Systeemlogboek
Name[no]=Systemlogg
Name[pl]=Dziennik systemowy
Name[pt]=Log do Sistema
Name[pt_BR]=Log do sistema
Name[ro]=Log sistem
Name[ru]=Системные журналы
Name[sk]=Systémové záznamy
Name[sl]=Sistemski dnevnik
Name[sv]=Systemlogg
Name[tr]=Sistem Günlüğü
Name[uk]=Системний журнал
Name[vi]=Log hệ thống
Name[wa]=Djournå sistinme
Name[zh_CN]=系统日志
Name[zh_TW]=系統紀錄檔檢視程式
Comment=View the system log file
Comment[ar]=اعرض ملف سجلات النظام
Comment[be]=Прагледзіць файлы сыстэмных часопісаў
Comment[bg]=Преглед на файловете със системни журнали
Comment[ca]=Visualitza el fitxer de registre del sistema
Comment[cs]=Prohlížet systémový soubor záznamů
Comment[da]=Vis systemlogfilen
Comment[de]=Systemprotokoll anzeigen
Comment[el]=Εμφάνιση του αρχείου καταγραφών συστήματος
Comment[es]=Ver la bitácora del sistema
Comment[et]=Vaata süsteemi logiraamatut
Comment[fr]=Affiche les journaux système
Comment[hu]=A rendszernapló-fájl megtekintése
Comment[ja]=システムのログを表示します
Comment[ko]=시스템의 로그 파일을 보여줌
Comment[lt]=Peržiūrėti sistemos log'o bylą
Comment[lv]=Apskatīt sistēmas žurnāla failu
Comment[ms]=Lihat fail log sistem
Comment[nl]=Systeemlogboek bekijken
Comment[no]=Vis systemets loggfiler
Comment[pl]=Wyświetla plik dziennika systemowego
Comment[pt]=Ver o ficheiro de log de sistema
Comment[pt_BR]=Visualizar arquivos de log do sistema
Comment[ro]=Vizualizează fişierul de log sistem
Comment[ru]=Просмотреть файлы системных журналов
Comment[sk]=Zobrazuje súbor so systémovým záznamom
Comment[sl]=Kaži datoteko sistemskega dnevnika
Comment[sv]=Visa systemloggfilen
Comment[tr]=Sistem günlüğünü izle
Comment[vi]=Xem tập tin log hệ thống
Comment[wa]=Vey li fitchî djournå do sistinme
Comment[zh_CN]=查看系统日志文件
Comment[zh_TW]=檢視系統紀錄檔
Exec=gnome-system-log
Icon=gnome-log.png
Terminal=false
Type=Application
X-GNOME-DocPath=gnome-system-log/gnome-system-log.xml
Categories=GNOME;Application;System;
