[Desktop Entry]
Name=Tasklist
Name[sl]=Seznam poslov
Name[cs]=Seznam úloh
Name[da]=Opgaveliste
Name[de]=Taskliste
Name[el]=Ëßóôá Äéåñãáóéşí
Name[es]=Lista de tareas
Name[et]=Programmipaneel
Name[fi]=Sovellusluettelo
Name[fr]=Liste des tâches
Name[gl]=Lista de Tarefas
Name[hu]=Taszkok listája
Name[it]=Lista dei task
Name[ja]=¥¿¥¹¥¯¥ê¥¹¥È
Name[lt]=Uşduoèiø juosta
Name[no]=Oppgaveliste
Name[pl]=Lista zadañ
Name[pt_BR]=Lista de Tarefas
Name[ro]=Listã procese
Name[sk]=Zoznam úloh
Name[sv]=Programlist
Name[tr]=Görev gözeyi
Name[uk]=óĞÉÓÏË ÚÁ×ÄÁÎØ
Name[wa]=Djîveye des bouyes
Name[zh_CN.GB2312]=¹¤×÷ÁĞ±í
Name[zh_TW.Big5]=¤u§@¦Cªí
Comment=GNOME Tasklist
Comment[sl]=Seznam poslov GNOME
Comment[cs]=Seznam úloh/procesù pro Gnome
Comment[da]=Oversigt over kørende programmer
Comment[de]=GNOMEs Taskliste
Comment[el]=Ëßóôá Äéåñãáóéşí GNOME
Comment[es]=Lista de tareas de GNOME
Comment[et]=Programmide juhtpaneel
Comment[fi]=Gnomen sovellusluettelo
Comment[fr]=Liste des tâches GNOME
Comment[gl]=Lista de Tarefas de GNOME
Comment[hu]=Taszklista applet
Comment[it]=Lista degli applicativi in esecuzione
Comment[ja]=¥¦¥¤¥ó¥É¥¦°ìÍ÷
Comment[lt]=GNOME uşduoèiø juosta
Comment[no]=GNOME oppgaveliste
Comment[pl]=Lista zadañ dla GNOME
Comment[pt_BR]=Lista de Tarefas do GNOME
Comment[ro]=Listã GNOME a proceselor
Comment[sk]=GNOME Zoznam úloh
Comment[sv]=Programlist för GNOME
Comment[tr]=Gnome görev gözeyi
Comment[uk]=GNOME óĞÉÓÏË ÚÁ×ÄÁÎØ
Comment[wa]=Aplikete avou li djîveye des bouyes di GNOME
Comment[zh_CN.GB2312]=GNOME ¹¤×÷ÁĞ±í
Comment[zh_TW.Big5]=GNOME ¤u§@¦Cªí
Exec=tasklist_applet
Icon=gnome-tasklist.png
Terminal=0
Type=PanelApplet
