Source: cyrus-sasl2-mit
Build-Depends: autotools-dev, debhelper (>= 4), libpam0g-dev, chrpath, libkrb5-dev, automake1.7 (>= 1.7.9), autoconf (>= 2.57), dbs, groff-base, comerr-dev, libtool (>= 1.5.6), libsasl2-dev
Build-Conflicts: kerberos4kth-dev, autoconf2.13, automake1.4
Section: debathena/libs
Priority: optional
Maintainer: Debathena Project <debathena@mit.edu>
Standards-Version: 3.6.1

Package: libsasl2-krb4-mit
Architecture: any
Depends: libsasl2-2 (>= 2.1.22), ${shlibs:Depends}
Description: Kerberos4  module for SASL using MIT Kerberos
 This is the Cyrus SASL API implementation, version 2. See package
 libsasl2 and RFC 2222 for more information.
 .
 This package provides the Kerberos4 module compiled against the MIT
 implementation of Kerberos.
