[Desktop Entry]
Name=Debathena Greeter
Comment=Debathena greeter for LightDM
Exec=/usr/lib/debathena-lightdm-config/debathena-lightdm-greeter
Type=Application
