#!/usr/bin/make -f

DEB_DIVERT_EXTENSION = .debathena
DEB_DIVERT_FILES_debathena-lightdm-config += \
	/etc/lightdm/lightdm.conf.debathena
DEB_TRANSFORM_FILES_debathena-lightdm-config += \
	/etc/init/lightdm.conf.debathena

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/rules/config-package.mk
