#!/usr/bin/make -f

%:
	dh $@ --with config-package

override_dh_configpackage:
	dh_configpackage
ifneq ($(wildcard /etc/init/lightdm.conf),)
	dh_configpackage --transform "/etc/init/lightdm.conf.debathena debian/transform_lightdm.conf.debathena"
endif
