Source: debathena-rs
Section: debathena/text
Priority: extra
Maintainer: Debathena Project <debathena@mit.edu>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.9.3

Package: debathena-rs
Architecture: any
Provides: rs
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Reshape a data array
 rs reshapes data arrays according to various transform possibilities.

