#!/usr/bin/make -f

DEB_AUTO_UPDATE_DEBIAN_CONTROL = 1
DEB_DIVERT_EXTENSION = .debathena
DEB_DIVERT_FILES_debathena-afs-config += \
	/etc/openafs/afs.conf.client.debathena \
	/etc/openafs/CellAlias.debathena \
	/etc/openafs/CellServDB.debathena \
	/etc/openafs/SuidCells.debathena \
	/etc/openafs/ThisCell.debathena \
	/etc/openafs/cacheinfo.debathena
DEB_TRANSFORM_FILES_debathena-afs-config += \
	/etc/openafs/afs.conf.debathena
include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/rules/config-package.mk

FROM_ATHENA = debian/CellAlias.debathena debian/CellServDB.debathena

clean:: $(FROM_ATHENA)
common-build-indep:: $(FROM_ATHENA)

$(patsubst %.debathena,%.athena,$(FROM_ATHENA)) : %.athena: FORCE
	wget http://stuff.mit.edu/afs/athena.mit.edu/service/$(patsubst debian/%.athena,%,$@) -O $@.new
	diff -q $@ $@.new  # Check that they are the same.
	rm -f $@.new

$(FROM_ATHENA) : %.debathena: %.athena %.debathena-extra
	cat $^ >| $@.tmp
	diff -q $@.tmp $@ || mv $@.tmp $@
	rm -f $@.tmp

FORCE:

.PRECIOUS: $(patsubst %.debathena,%.athena,$(FROM_ATHENA))
