#!/usr/bin/make -f

DEB_DIVERT_EXTENSION = .debathena
DEB_TRANSFORM_FILES_debathena-kerberos-config += \
	/etc/krb5.conf.debathena
DEB_CHECK_FILES_SOURCE_/etc/krb5.conf.debathena = \
	/usr/share/kerberos-configs/krb5.conf.template

KRB5_VERSION = $(shell dpkg-query -W -f '$${Version}' krb5-user)
ifeq ($(shell dpkg --compare-versions $(KRB5_VERSION) '<<' '1.7~' && echo y),y)
    DEB_TRANSFORM_FILES_debathena-kerberos-config += \
	/etc/krb.conf.debathena \
	/etc/krb.realms.debathena
    DEB_CHECK_FILES_SOURCE_/etc/krb.conf.debathena = \
	/usr/share/kerberos-configs/krb.conf.template

    binary-predeb/debathena-kerberos-config:: debathena-kerberos-config-substvars
    debathena-kerberos-config-substvars::
	echo "debathena-krb4-depends=krb4-config" \
	  >> debian/debathena-kerberos-config.substvars
endif

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/rules/config-package.mk
