#!/sbin/sh
# $Id: athena.config,v 1.4 1997-02-11 18:27:11 ghudson Exp $
#
# Make sure the state of the system is synchronized with /etc/athena/rc.conf.
#

IS_ON=/sbin/chkconfig

if $IS_ON verbose ; then
	OPTS=
else            # For a quiet startup and shutdown
	OPTS=-q
fi

case "$1" in
start|stop)
	if [ -f /dev/MAKEDEV.new ]; then
		rm -f /dev/MAKEDEV.new
		echo "Running MAKEDEV..."
		(cd /dev; ./MAKEDEV > /dev/null)
	fi

	. /etc/athena/rc.conf

	status=0
	case "$PUBLIC" in
	true)
		rm -f /etc/athena/.rc.conf.sync;
		/etc/athena/syncconf $OPTS
		status=$?
		;;
	false)
		case "$SYNCCONFIG" in
		true)
			/etc/athena/syncconf $OPTS
			status=$?
			;;
		esac
	esac

	# syncconf exits with status 1 if rc2 is modified.  Reboot if this
	# happened and we're running syncconf on startup.
	if [ "$1" -eq start -a "$status" -eq 1 ]; then
		killall rc2
	fi
        ;;

*)
        echo "usage: athena.config {start|stop}"
        ;;
esac

