[Desktop Entry]
Encoding=UTF-8
Name=Computer
Name[af]=Rekenaar
Name[ar]=الحاسوب
Name[az]=Kompüter
Name[be]=Кампутар
Name[bg]=Компютър
Name[bn]=কম্পিউটার
Name[bs]=Računar
Name[ca]=Ordinador
Name[cs]=Počítač
Name[cy]=Cyfrifiadur
Name[da]=Maskine
Name[de]=Computer
Name[el]=Υπολογιστής
Name[en_CA]=Computer
Name[en_GB]=Computer
Name[es]=Equipo
Name[et]=Arvuti
Name[eu]=Ordenagailua
Name[fi]=Tietokone
Name[fr]=Poste de travail
Name[ga]=Ríomhaire
Name[gl]=Ordenador
Name[gu]=કૅમ્પ્યુટર
Name[he]=מחשב
Name[hi]=कम्प्यूटर
Name[hr]=Računalo
Name[hu]=Számítógép
Name[id]=Komputer
Name[it]=Computer
Name[ja]=コンピュータ
Name[ko]=컴퓨터
Name[lt]=Kompiuteris
Name[mi]=Te Rorohiko
Name[mk]=Компјутер
Name[mn]=тооцоолуур
Name[ms]=Komputer
Name[nb]=Datamaskin
Name[ne]=कम्प्युटर
Name[nl]=Computer
Name[nn]=Datamaskin
Name[no]=Datamaskin
Name[pa]=ਕੰਪਿਊਟਰ
Name[pl]=Komputer
Name[pt]=Computador
Name[pt_BR]=Computador
Name[ro]=Computer
Name[ru]=Компьютер
Name[sl]=Računalnik
Name[sq]=Kompjuteri
Name[sr]=Рачунар
Name[sr@Latn]=Računar
Name[sr@ije]=Рачунар
Name[sv]=Dator
Name[ta]=கணிப்பொறி
Name[th]=คอมพิวเตอร์
Name[tk]=_Kampýuter
Name[tr]=Bilgisayar
Name[uk]=Комп'ютер
Name[vi]=Máy tính
Name[zh_CN]=计算机
Name[zh_TW]=電腦
Comment=View your computer storage
Comment[af]=Bekyk jou rekenaar se storingskapasiteit
Comment[ar]=عرض لمخزون حاسوبك
Comment[az]=Kompüterinizin məzmununu görün
Comment[be]=Паказаць сховішча вашага кампутара
Comment[bg]=Преглеждане пространството на вашия компютър
Comment[bn]=আপনার কমপিউটারের সংরক্ষণস্থল ( Storage ) দেখুন
Comment[bs]=Pregled diskova na računaru
Comment[ca]=Mostra l'emmagatzematge de l'ordinador
Comment[cs]=Zobrazit úložný prostor vašeho počítače
Comment[cy]=Gweld storfa eich cyfrifiadur
Comment[da]=Vis din maskinens lager
Comment[de]=Ihren Computer-Speicherort anzeigen
Comment[el]=Προβολή του αποθηκευτικού χώρου του υπολογιστή
Comment[en_CA]=View your computer storage
Comment[en_GB]=View your computer storage
Comment[es]=Ver el almacenamiento de su equipo
Comment[eu]=Ikusi zure ordenagailuaren biltegia
Comment[fi]=Katsele tietokoneen tallennustilaa
Comment[fr]=Voir les espaces de stockage de votre ordinateur.
Comment[gu]=તમારા કમ્પ્યુટરનું સ્ટોરેજ જુઓ
Comment[he]=צפה באחסון המחשב שלך
Comment[hi]=अपने कम्प्यूटर का भंडार देखें
Comment[hr]=Pregled storage Vašeg računala
Comment[hu]=Számítógép-tároló megtekintése
Comment[id]=Lihat media penyimpanan dalam komputer
Comment[it]=Mostra i supporti di memorizzazione del computer
Comment[ja]=お使いのコンピュータを表示します
Comment[ko]=컴퓨터의 저장장치를 봅니다
Comment[lt]=Rodyti kompiuterio laikmenas
Comment[mn]=Тооцоолуурын хадгалах байрлалаа харах
Comment[ms]=Lihat storan komputer anda
Comment[nb]=Vis datamaskinens filer
Comment[ne]=कम्प्युटरको भण्डारण देखाऊ
Comment[nl]=Uw computer-opslag weergeven
Comment[nn]=Vis datalageret ditt
Comment[no]=Vis datamaskinens filer
Comment[pa]=ਆਪਣੀ ਮਸ਼ੀਨ ਦੀ ਸਟੋਰਜ਼ ਵੇਖੋ
Comment[pl]=Wyświetla zasoby dyskowe komputera
Comment[pt]=Ver o armazenamento do seu computador
Comment[pt_BR]=Mostra o dispositivo de armazenamento do seu computador
Comment[ro]=Vizualizează datele stocate pe calculator
Comment[ru]=Просмотреть накопители вашего компьютера
Comment[sq]=Shiko suportet e memorizimit të kompjuterit tuaj
Comment[sr]=Погледајте дискове рачунара
Comment[sr@Latn]=Pogledajte diskove računara
Comment[sr@ije]=Погледајте дискове рачунара
Comment[sv]=Visa din datorlagringsplats
Comment[ta]=உங்கள் கணினி சேமிப்பை பார்
Comment[th]=ดูแหล่งเก็บข้อมูลบนเครื่อง
Comment[tr]=Bilgisayarınızın kayıtlarını görüntüle
Comment[uk]=Огляд дискових пристроїв комп'ютера
Comment[vi]=Xem lưu trữ trên máy tính của bạn
Comment[zh_CN]=查看您计算机的存储
Comment[zh_TW]=顯示您的電腦的空間
TryExec=nautilus 
Exec=nautilus computer:
Icon=gnome-fs-client
Terminal=false
Type=Application
Categories=Application;Core;
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=nautilus
X-GNOME-Bugzilla-Component=general
X-Gnome-Bugzilla-OtherBinaries=nautilus-adapter;nautilus-content-loser;nautilus-sidebar-loser;nautilus-text-view;nautilus-throbber;
