[Desktop Entry]
Name=Home Folder
Name[am]=የቤት ዶሴ
Name[ar]=الدليل الموطن
Name[be]=Хатняя тэчка
Name[bg]=Домашна Папка
Name[ca]=Carpeta Inici
Name[cs]=Domovský adresář
Name[da]=Hjemmemappe
Name[de]=Persönlicher Ordner
Name[el]=Κατάλογος Χρήστη
Name[es]=Carpeta inicio
Name[et]=Kodukaust
Name[fi]=Kotihakemisto
Name[fr]=Répertoire maison
Name[he]=תיקיית בית
Name[hu]=Saját mappa
Name[it]=Cartella Home
Name[ja]=ホームフォルダ
Name[ko]=내 폴더
Name[lt]=Namų katalogas
Name[lv]=Mājas Mape
Name[ms]=Folder Rumah
Name[nl]=Persoonlijke map
Name[no]=Hjemmekatalog
Name[pl]=Folder domowy
Name[pt]=Pasta Home
Name[pt_BR]=Pasta Pessoal
Name[ro]=Dosar Acasa
Name[ru]=Домашний каталог
Name[sk]=Domovský priečinok
Name[sl]=Domača mapa
Name[sq]=Kartela Home
Name[sv]=Hemmapp
Name[tr]=Başlangıç Dizini
Name[uk]=Домашня тека
Name[vi]=Thư mục nhà
Name[zh_CN]=起始文件夹
Name[zh_TW]=個人目錄資料夾
Comment=View your home folder in the Nautilus file manager
Comment[ar]=اعرض الدليل الموطن لديك في مدير ملفات ناوتيلاس
Comment[be]=Прагляд вашае хатняе тэчкі у Nautilus'е
Comment[bg]=Преглед на домашната папка във файловия мениджър на Nautilus
Comment[ca]=Veure el teu directori d'inici amb el gestor de fitxers Nautilus
Comment[cs]=Zobrazit váš domovský adresář ve správci souborů Nautilus
Comment[da]=Vis din hjemmemappe i filhåndteringen Nautilus
Comment[de]=Ihren persönlichen Ordner im Nautilus Dateimanager betrachten
Comment[el]=Εμφάνιση του καταλόγου χρήστη στον διαχειριστή αρχείων του Ναυτίλου
Comment[es]=Ver su carpeta de inicio en el administrador de archivos Nautilus
Comment[fi]=Katsele kotihakemistoasi Nautilus-tiedostonhallintaohjelmalla
Comment[fr]=Affiche votre répertoire personnel dans le gestionnaire de fichier de Nautilus
Comment[he]=הצג את תיקיית הבית שלך במנהל הקבצים נאוטילוס
Comment[hu]=Megnyitja a saját mappádat a Nautilus fájlkezelőben
Comment[it]=Mostra la cartella home dell'utente nel file manager Nautilus
Comment[ja]=Nautilusファイルマネージャでホームフォルダを表示します
Comment[ko]=노틸러스 파일 관리자로 내 폴더 보기
Comment[lt]=Rodyti namų aplanką Nautilus bylų tvarkyklėje
Comment[lv]=Skatīt mājas mapi Nautilus failu pāvaldniekā
Comment[ms]=Lihat folder rumah padan pengurus fail Nautilus
Comment[nl]=Toon uw persoonlijke map met Nautilus bestandsbeheer
Comment[no]=Vis din hjemmekatalog i Nautilus filhåndtereren
Comment[pl]=Wyświetla folder domowy przy użyciu menedżera plików - Nautilusa
Comment[pt]=Ver a pasta home no gestor de ficheiros Nautilus
Comment[pt_BR]=Visualizar
Comment[ru]=Просмотр домашнего каталога в диспетчере файлов Nautilus
Comment[sk]=Zobrazí váš domovský priečinok v správcovi súborov Nautilus
Comment[sl]=Glej domačo mapo v upravljalniku datotek Nautilus
Comment[sq]=Shfaqe kartelën home të përdoruesit tek file manager Nautilus
Comment[sv]=Visa din hemmapp i filhanteraren Nautilus
Comment[tr]=Nautilus dosya yöneticisinde başlangıç dizinini görün
Comment[vi]=Xem thư mục nhà của bạn trên quản lý tập tin của Nautilus
Comment[zh_CN]=在 Nautilus 文件管理器中查看起始文件夹
Comment[zh_TW]=在 Nautilus 檔案管理員中檢視個人目錄
TryExec=nautilus
Exec=nautilus
Icon=gnome-home.png
Terminal=0
Type=Application
Categories=Application;Core;



