[Desktop Entry]
Name=Nautilus
Name[uk]=Наут╕лус
Name[zh_TW.Big5]=Nautilus
Name[ca]=Nautilus
Name[da]=Nautilus
Name[tr]=Nautilus
Name[ru]=Наутилус
Name[ga]=Nautilus
Name[sv]=Nautilus
Name[de]=Nautilus
Name[ja]=Nautilus
Name[fi]=Nautilus
Name[gl]=Nautilus
Name[ta]=©║йд┼
Name[pt_BR]=Nautilus
Name[fr]=Nautilus
Name[es]=Nautilus
Name[nl]=Nautilus
Name[ko]=ЁКф©╥╞╫╨
Name[pl]=Nautilus
Name[no]=Nautilus
Name[hu]=Nautilus
Name[sk]=Nautilus
Comment=Nautilus File Manager and Graphic Shell
TryExec=run-nautilus
Exec=run-nautilus
Icon=nautilus-launch-icon.png
Terminal=0
Type=Application
