[Desktop Entry]
Encoding=UTF-8
Name=File Management
Name[af]=Lêerbestuur
Name[am]=የፋይል ጉባኤ
Name[ar]=إدارة الملفات
Name[az]=Fayl İdarəsi
Name[be]=Кіраваньне файламі
Name[bg]=Управление на файлове
Name[bn]=ফাইল ব্যবস্থাপনা
Name[bs]=Upravljanje datotekama
Name[ca]=Gestió de fitxers
Name[cs]=Správa souborů
Name[cy]=Rheolaeth Ffeiliau
Name[da]=Filhåndtering
Name[de]=Verwaltung von Dateien
Name[el]=Διαχείριση Αρχείων
Name[en_CA]=File Management
Name[en_GB]=File Management
Name[es]=Administración de archivos
Name[et]=Failihaldus
Name[eu]=Fitxategi-kudeaketa
Name[fa]=مدیریت پرونده
Name[fi]=Tiedostonhallinta
Name[fr]=Gestionnaire de fichiers
Name[gu]=ફાઈલ વ્યવસ્થાપક
Name[he]=ניהול קבצים
Name[hi]=फ़ाइल प्रबंधन
Name[hr]=Upravljanje datotekama
Name[hu]=Fájlkezelés
Name[id]=Pengaturan Berkas
Name[is]=Skráarstjórnun
Name[it]=Gestione dei file
Name[ja]=ファイル管理
Name[ko]=파일 관리
Name[li]=Besjtandjwirtsjaf
Name[lt]=Bylų tvarkymas
Name[lv]=Failu Pārvalde
Name[mk]=Подредување на датотеки
Name[ml]=രചനാ നടത്തിപ്പ്
Name[mn]=Файлуудыг зохицуулах
Name[ms]=Pengurusan Fail
Name[nb]=Filhåndtering
Name[ne]=फाईल ब्यवस्थापन
Name[nl]=Bestandsbeheer
Name[nn]=Filhandsaming
Name[no]=Filhåndtering
Name[pa]=ਫਾਇਲ ਪ੍ਰਬੰਧਨ
Name[pl]=Zarządzanie plikami
Name[pt]=Gestão de Ficheiros
Name[pt_BR]=Gerenciamento de Arquivos
Name[ro]=Administrare fişiere
Name[ru]=Управление файлами
Name[sk]=Správa súborov
Name[sl]=Upravljanje datotek
Name[sq]=Organizimi i file
Name[sr]=Управљање датотекама
Name[sr@Latn]=Upravljanje datotekama
Name[sr@ije]=Управљање датотекама
Name[sv]=Filhantering
Name[ta]=கோப்பு மேலாண்மை
Name[th]=การจัดการแฟ้ม
Name[tk]=Faýl Müdirlemegi
Name[tr]=Dosya Yönetimi
Name[uk]=Керування файлами
Name[vi]=Quản lý tập tin
Name[wa]=Manaedjmint des fitchîs
Name[zh_CN]=文件管理
Name[zh_TW]=檔案管理
Comment=Change how files are managed
Comment[af]=Verander die hantering van lêers
Comment[ar]=تغيير طريقة إدارة الملفات
Comment[az]=Faylların necə idarə ediləcəyini dəyişdır
Comment[be]=Дыялёг наладак кіраваньня файламі
Comment[bg]=Промяна, как се управляват файловете
Comment[bn]=ফাইল ব্যবস্থাপনা পদ্ধতি পরিবর্তন করো
Comment[bs]=Izmijeni način upravljanja datotekama
Comment[ca]=Canvia com es gestionen els fitxers
Comment[cs]=Změnit, jak jsou spravovány soubory
Comment[cy]=Newid sut rheolir ffeiliau
Comment[da]=Vælg hvordan filer håndteres
Comment[de]=Hier können Sie festlegen, wie Dateien verwaltet werden soll
Comment[el]=Αλλαγή του τρόπου διαχείρισης των αρχείων
Comment[en_CA]=Change how files are managed
Comment[en_GB]=Change how files are managed
Comment[es]=Cambiar el modo de administración de archivos
Comment[et]=Muuda failida haldamist
Comment[eu]=Aldatu fitxategiak kudeatzeko modua
Comment[fi]=Muuta tiedostojen hallintatapaa
Comment[fr]=Modifie la manière dont sont géré les fichiers
Comment[gu]=ફાઇલોના સંચાલનની રીત બદલો
Comment[he]=שנה את איך שהקבצים מנוהלים
Comment[hi]=फ़ाइलों का प्रबंधन बदलें
Comment[hr]=Promijeni način upravljanja datotekama
Comment[hu]=A fájlok kezelési módjának megváltoztatása
Comment[id]=Mengubah bagaimana berkas diatur
Comment[is]=Breytir hvernig skrár eru meðhöndlaðar
Comment[it]=Personalizza la gestione dei file
Comment[ja]=ファイルを管理する方法を変更します
Comment[ko]=파일 관리하는 방법을 바꿉니다
Comment[li]=De wies van besjtandjwirtsjaf verangere
Comment[lt]=Keisti, kaip tvarkomos bylos
Comment[lv]=Izmainīt, kā faili tiek pārvaldīti
Comment[mk]=Промени како се поредени датотеките
Comment[mn]=Файлууд хэрхэн зохицуулагдахыг энд тодорхойлж өгч болно
Comment[ms]=Tukar bagaimana fail diurus
Comment[nb]=Endre måten filer håndteres
Comment[ne]=फाक्षलको प्रवन्धन अनुसार पाठ परिवर्तन गर्नुस्
Comment[nl]=De wijze van bestandsbeheer veranderen
Comment[nn]=Endra korleis filer vert handsama
Comment[no]=Endre måten filer håndteres
Comment[pa]=ਫਾਇਲਾਂ ਕਿਵੇਂ ਸੰਭਾਲੀਆਂ ਜਾਦੀਆਂ ਹਨ, ਨੂੰ ਤਬਦੀਲ ਕਰੋ
Comment[pl]=Zmiana sposobu zarządzania plikami
Comment[pt]=Alterar como são geridos os ficheiros
Comment[pt_BR]=Altere o gerenciamento dos arquivos
Comment[ro]=Schimbă felul cum sunt administrate fişierele
Comment[ru]=Диалог настроек управления файлами
Comment[sk]=Úprava správy súborov
Comment[sl]=Spremeni način upravljanja z datotekami
Comment[sq]=Ndrysho mënyrën e organizimit të files
Comment[sr]=Измени како се управља датотекама
Comment[sr@Latn]=Izmeni kako se upravlja datotekama
Comment[sr@ije]=Измјени како се управља датотекама
Comment[sv]=Ändra hur filer hanteras
Comment[ta]=கோப்புகள் கையாளப்படுவதை மாற்று
Comment[th]=เลือกว่าแฟ้มจะถูกจัดการอย่างไร
Comment[tr]=Dosyaların yönetimini değiştir
Comment[uk]=Налаштовування властивостей керування файлами
Comment[vi]=Thay đổi cách quản lý tập tin
Comment[wa]=Candjî l' manire ki les fitchîs sont manaedjîs
Comment[zh_CN]=更改文件管理的方式
Comment[zh_TW]=設定如何管理檔案
Exec=nautilus-file-management-properties
Icon=file-manager
Terminal=false
Type=Application
StartupNotify=true
Categories=GNOME;Application;Settings;
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=nautilus
X-GNOME-Bugzilla-Component=Preferences
