[Desktop Entry]
Encoding=UTF-8
Name=Home Folder
Name[af]=Tuisvouer
Name[am]=የቤት ዶሴ
Name[ar]=الدليل المنزلي
Name[az]=Ev Qovluğu
Name[be]=Хатняя тэчка
Name[bg]=Домашна папка
Name[bn]=ব্যক্তিগত ফোল্ডার
Name[bs]=Početni direktorij
Name[ca]=Carpeta d'inici
Name[cs]=Domovský adresář
Name[cy]=Plygell Cartref
Name[da]=Hjemmemappe
Name[de]=Persönlicher Ordner
Name[el]=Κατάλογος Χρήστη
Name[en_CA]=Home Folder
Name[en_GB]=Home Folder
Name[es]=Carpeta personal
Name[et]=Kodukataloog
Name[eu]=Karpeta nagusia
Name[fi]=Kotikansio
Name[fr]=Dossier personnel
Name[ga]=Comhadlann Baile
Name[gu]=ઘરનું ફોલ્ડર
Name[he]=תיקיית בית
Name[hi]=घर फ़ोल्डर
Name[hr]=Direktorij:
Name[hu]=Saját mappa
Name[id]=Folder Home
Name[is]=Eigin mappa
Name[it]=Cartella Home
Name[ja]=ホーム・フォルダ
Name[ko]=내 폴더
Name[li]=Heimmap
Name[lt]=Namų aplankas
Name[lv]=Mājas Mape
Name[mi]=Kōpaki Kāinga
Name[mk]=Домашен директориум
Name[ml]=ആസ്ഥാന-കൂട്
Name[mn]=Гэр хавтас
Name[ms]=Folder Rumah
Name[nb]=Hjemmekatalog
Name[ne]=होम फोल्डर
Name[nl]=Persoonlijke map
Name[nn]=Heimemappe
Name[no]=Hjemmekatalog
Name[pa]=ਘਰ ਫੋਲਡਰ
Name[pl]=Folder domowy
Name[pt]=Pasta Pessoal
Name[pt_BR]=Pasta Pessoal
Name[ro]=Dosar Acasă
Name[ru]=Домашний каталог
Name[sk]=Domovský priečinok
Name[sl]=Domača mapa
Name[sq]=Kartela Home
Name[sr]=Лични директоријум
Name[sr@Latn]=Lični direktorijum
Name[sr@ije]=Лични директоријум
Name[sv]=Hemmapp
Name[ta]=இல்ல அடைவு
Name[th]=โฟลเดอร์บ้าน
Name[tk]=Öý Haltasy
Name[tr]=Ev Klasörü
Name[uk]=Домашня тека
Name[vi]=Thư mục Home
Name[wa]=Ridant måjhon
Name[zh_CN]=主文件夹
Name[zh_TW]=個人資料夾
Comment=View your home folder in the Nautilus file manager
Comment[af]=Bekyk jou tuisvouer in die Nautilus-lêerbestuurder
Comment[ar]=عرض لدليلك المنزلي في مدير ملفات نوتلس
Comment[az]=Ev qovluğunuzu Nautilus fayl idarəçisində gəzin
Comment[be]=Прагляд вашае хатняе тэчкі у "Наўтылюсе"
Comment[bg]=Преглед на домашната папка във файловия мениджър Nautilus
Comment[bn]=নটিলাস ফাইল ব্যবস্থাপকে আপনার ব্যক্তিগত ফোল্ডার দেখুন
Comment[bs]=Pogledajte vaš početni direktorij u Nautilusovom menadžeru datoteka
Comment[ca]=Veure el teu directori d'inici amb el gestor de fitxers del Nautilus
Comment[cs]=Zobrazit váš domovský adresář ve správci souborů Nautilus
Comment[cy]=Gweld eich plygell cartred yn y trefnydd ffeiliau Nautilus
Comment[da]=Vis din hjemmemappe i filhåndteringen Nautilus
Comment[de]=Ihren persönlichen Ordner im Dateimanager Nautilus anzeigen
Comment[el]=Εμφάνιση του καταλόγου χρήστη στο διαχειριστή αρχείων του Ναυτίλου
Comment[en_CA]=View your home folder in the Nautilus file manager
Comment[en_GB]=View your home folder in the Nautilus file manager
Comment[es]=Ver su carpeta de inicio en el administrador de archivos Nautilus
Comment[et]=Ava oma kodukataloog failihalduris Nautilus
Comment[eu]=Ikusi zure karpeta nagusia Nautilus fitxategi-kudeatzailean
Comment[fi]=Katsele kotikansiotasi Nautilus-tiedostonhallintaohjelmalla
Comment[fr]=Affiche votre dossier personnel dans le gestionnaire de fichiers Nautilus
Comment[gu]=તમાર ઘરના ફોલ્ડરને ર્નાટીલસ ફાઇલ વ્યવસ્થાપકમાં જુઓ
Comment[he]=הצג את תיקיית הבית שלך במנהל הקבצים נאוטילוס
Comment[hi]=अपने घर फ़ोल्डर को नॉटिलस फ़ाइल प्रबंधक में देखें
Comment[hr]=Pregledajte vašu osobnu mapu u Nautilusu
Comment[hu]=Megnyitja a saját mappáját a Nautilus fájlkezelőben
Comment[id]=Lihat folder home Anda di file manager Nautilus
Comment[is]=Skoðaðu þína heimamöppu í Nautilus skráarstjóranum
Comment[it]=Mostra la cartella home dell'utente nel file manager Nautilus
Comment[ja]=Nautilus ファイル・マネージャでホーム・フォルダを表示します
Comment[ko]=노틸러스 파일 관리자로 내 폴더 보기
Comment[li]=Eur heimmap tuine mit Nautilus besjtandjwirtsjaf
Comment[lt]=Rodyti namų aplanką su Nautilus bylų tvarkykle 
Comment[lv]=Skatīt mājas mapi Nautilus failu pāvaldniekā
Comment[mk]=Види го својот домашен директориум во поредувачот на датотеки на Nautilus
Comment[mn]=Гэр хавтсын агуулгыг файл-менежер- Наутилусаар харах
Comment[ms]=Lihat folder rumah padan pengurus fail Nautilus
Comment[nb]=Vis din hjemmekatalog i Nautilus filhåndtereren
Comment[ne]=नटिलस फाइल प्रवन्धकमा होम फोल्डर देखाऊ
Comment[nl]=Uw persoonlijke map weergeven met Nautilus bestandsbeheer
Comment[nn]=Vis heimemappa i Nautilus-filhandsamaren
Comment[no]=Vis din hjemmekatalog i Nautilus filhåndtereren
Comment[pa]=ਨਾਟਲਿਸ ਫਾਇਲ ਮੈਨਜੇਰ ਵਿੱਚ ਆਪਣਾ ਘਰ ਦਾ ਫੋਲਡਰ ਵੇਖੋ
Comment[pl]=Wyświetla folder domowy przy użyciu menedżera plików - Nautilusa
Comment[pt]=Ver a sua pasta pessoal no gestor de ficheiros Nautilus
Comment[pt_BR]=Visualiza sua pasta pessoal no gerenciador de arquivos Nautilus
Comment[ro]=Vizualizaţi dosarul dvs. Acasă în Nautilus
Comment[ru]=Окно просмотра домашнего каталога в файловом менеджере "Наутилус"
Comment[sk]=Zobrazí váš domovský priečinok v správcovi súborov Nautilus
Comment[sl]=Glej domačo mapo v upravljalniku datotek Nautilus
Comment[sq]=Shfaqe kartelën home të përdoruesit tek organizuesi i file Nautilus
Comment[sr]=Прегледајте ваш лични директоријум у Наутилусу
Comment[sr@Latn]=Pregledajte vaš lični direktorijum u Nautilusu
Comment[sr@ije]=Прегледајте ваш лични директоријум у Наутилусу
Comment[sv]=Visa din hemmapp i filhanteraren Nautilus
Comment[ta]=இல்ல அடைவை நாடுலஸ் கோப்பு மேலாளரில் பார்
Comment[th]=ดูโฟลเดอร์บ้านในตัวจัดการแฟ้ม Nautilus
Comment[tk]=Oa öý haltaňizi nautilusiň faýl müdirinde göriň
Comment[tr]=Nautilus dosya yöneticisinde ev klasörünü görüntüle
Comment[uk]=Перегляд вашої домашньої теки у менеджері файлів Наутілус
Comment[vi]=Xem thư mục Home của bạn trong trình quản lý tập tin Nautilus
Comment[wa]=Vey li ridant måjhon dins l' manaedjeu di fitchîs Nautilus
Comment[zh_CN]=在 Nautilus 文件管理器中查看主文件夹
Comment[zh_TW]=在 Nautilus 檔案總管中瀏覽個人資料夾
TryExec=nautilus 
Exec=nautilus
Icon=gnome-home
Terminal=false
Type=Application
Categories=Application;Core;
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=nautilus
X-GNOME-Bugzilla-Component=general
X-Gnome-Bugzilla-OtherBinaries=nautilus-adapter;nautilus-content-loser;nautilus-sidebar-loser;nautilus-text-view;nautilus-throbber;
