[Desktop Entry]
Name=GDict
Name[sl]=GSlovar
Name[pt_BR]=GDict
Name[da]=GDict ordbog
Name[de]=GDict
Name[el]=Ëåîéêü
Name[fi]=GDict
Name[fr]=GDict
Name[lt]=GDict
Name[no]=GDict
Name[ru]=GDict
Name[sk]=GDict
Name[sv]=GDict
Name[uk]=GDict
Comment=Gnome client for the MIT dictionary server
Comment[sl]=Odjemalec GNOME za MIT slovarski stre¾nik
Comment[pt_BR]=Cliente Gnome para o servidor de dicionário do MIT
Comment[da]=Gnome klient for MIT ordbogs-tjener
Comment[de]=GNOME-Client für den MIT-Wörterbuchserver
Comment[el]=ĞåëÜôçò ôïõ GNOME ãéá ôï ëåîéêü ôïõ MIT
Comment[fi]=Asiakas MIT-sanakirjapalvelimelle
Comment[fr]=Client Gnome pour le serveur de dictionnaire du MIT
Comment[lt]=Gnome klientas MIT şodynø serveriui
Comment[no]=Gnome klient for MIT ordbok-tjener
Comment[ru]=ëÌÉÅÎÔ Gnome ÄÌÑ ÓÌÏ×ÁÒÎÏÇÏ ÓÅÒ×ÅÒÁ MIT
Comment[sk]=Gnome klient pre slovníkovı server MIT
Comment[sv]=Gnomeklient för MIT:s ordlisteserver
Comment[uk]=ëÌ¦¤ÎÔ ÄÌÑ ÓÌÏ×ÎÉËÏ×ÏÇÏ ÓÅÒ×ÅÒÁ MIT
Exec=gdict -a
Terminal=0
Type=Application
Icon=gdict.png
