[Desktop Entry]
Name=GDict
Name[sl]=GSlovar
Name[pt_BR]=GDict
Name[da]=Ordbog
Name[el]=Ëåîéêü
Name[fr]=GDict
Name[gl]=GDict
Name[lt]=GDict
Name[no]=GDict
Name[sk]=GDict
Name[sv]=GDict ordbok
Comment=GNOME client for RFC 2229-compliant dictionary server
Comment[sl]=Odjemalec GNOME za RFC 2229-slo¾en slovarski stre¾nik
Comment[pt_BR]=Cliente GNOME para um servidor de dicionário compatível com RFC 2229
Comment[da]=Klient til RFC 2229-ordbogsopslag
Comment[el]=ĞåëÜôçò ôïõ GNOME ãéá ôï ëåîéêü ôïõ MIT
Comment[fr]=Client GNOME pour les serveurs de distionnaires compatible RFC-2229
Comment[gl]=Cliente de GNOME para o servidor de diccionario do MIT
Comment[lt]=Gnome klientas MIT şodynø serveriui
Comment[no]=GNOME klient for ordboktjenere som følger RFC 2229 standarden
Comment[sk]=GNOME klient pre slovníkovı server podµa RFC 2229
Comment[sv]=GNOME-klient för MIT:s ordliste-server
Exec=gdict --activate-goad-server=gdict
Icon=gdict.png
Terminal=false
Type=Application
