[Desktop Entry]
Encoding=UTF-8
Name=Dictionary
Name[am]=መዝገበ ቃላት
Name[ar]=معجم
Name[be]=Слоўнік
Name[bg]=Речник
Name[ca]=Diccionari
Name[cs]=Slovník
Name[da]=Ordbog
Name[de]=Wörterbuch
Name[el]=Λεξικό
Name[es]=Diccionario
Name[et]=Sõnaraamat
Name[fr]=Dictionnaire
Name[hu]=Szótár
Name[ja]=辞書
Name[ko]=사전
Name[lt]=Žodynas
Name[lv]=Vārdnīca
Name[ms]=Kamus
Name[nl]=Woordenboek
Name[nn]=Ordliste
Name[no]=Ordbok
Name[pl]=Słownik
Name[pt]=Dicionário
Name[pt_BR]=Dicionário
Name[ro]=Dicţionar
Name[ru]=Словарь
Name[sk]=Slovník
Name[sl]=Slovar
Name[sv]=Ordbok
Name[tr]=Sözlük
Name[uk]=Словник
Name[vi]=Từ điển
Name[wa]=Diccionaire
Name[zh_CN]=字典
Name[zh_TW]=字典
Comment=Lookup words in an online dictionary
Comment[ar]=ابحث عن معنى كلمات في قاموس فوري
Comment[be]=Пошук слова ў online слоўніку
Comment[bg]=Търсене на думи в речник
Comment[ca]=Cercar paraules a un diccionari on-line
Comment[cs]=Vyhledávání slov v on-line slovníku
Comment[da]=Slå ord op i en ordbog på internettet
Comment[de]=Wörter im Online-Wörterbuch nachschlagen
Comment[el]=Αναζήτηση λέξης σε λεξικό του Διαδικτύου
Comment[es]=Busca palabras en un diccionario en línea
Comment[et]=Otsi sõnu onlain-sõnaraamatust
Comment[fr]=Recherche des mots dans un dictionnaire en ligne
Comment[hu]=Szó keresése egy online szótárban
Comment[ja]=オンライン辞書で単語を検索します
Comment[ko]=온라인 사전에서 단어 찾아 보기
Comment[lt]=Ieškoti žodžių internetiniame žodyne
Comment[lv]=Lūkoties pēc vārda tiešsaites vārdnīcā
Comment[ms]=Cari perkataan pada kamus dalamtalian
Comment[nl]=Woorden opzoeken in een online woordenboek
Comment[nn]=Slå opp ord i ordliste på nettet
Comment[no]=Slå opp ord i en ordbok på nett
Comment[pl]=Wyszukuje słowo w słowniku sieciowym
Comment[pt]=Procurar palavras num dicionário online
Comment[pt_BR]=Procurar palavras em um dicionário on-line
Comment[ro]=Caută cuvântul într-un dicţionar online
Comment[ru]=Поиск слова в онлайновом словаре
Comment[sk]=Hľadá slovo v on-line slovníku
Comment[sl]=Poišči besedo v slovarju na mreži
Comment[sv]=Slå upp ord i en online-ordbok
Comment[tr]=Kelimelere çevrimiçi sözlükte bak
Comment[uk]=Пошук слова в словнику
Comment[vi]=Tìm từ trong từ điển trực tuyến
Comment[wa]=Cweri on mot dins on diccionaire so fyis
Comment[zh_CN]=在在线字典中查询单词
Comment[zh_TW]=在線上字典中檢索單字
Exec=gnome-dictionary -a
Terminal=false
Type=Application
Icon=gdict.png
X-GNOME-DocPath=gnome-dictionary/gnome-dictionary.xml
Categories=GNOME;Application;Utility;
