[Desktop Entry]
Encoding=UTF-8
Name=Character Map
Name[am]=የፊድል ካርታ
Name[ar]=خريطة الرموز
Name[be]=Табліца сымбаляў
Name[bg]=Таблица на символи
Name[ca]=Mapa de caràcters
Name[cs]=Mapa znaků
Name[da]=Tegnoversigt
Name[de]=Zeichentabelle
Name[el]=Πίνακας Χαρακτήρων
Name[es]=Mapa de caracteres
Name[et]=Märgitabel
Name[fi]=Merkkikartta
Name[fr]=Table de Caractères
Name[hi]=शब्द नक्शा
Name[hu]=Karaktertábla
Name[it]=Mappa Caratteri
Name[ja]=GNOME 文字選択
Name[ko]=문자 맵
Name[lt]=Simbolių rinkinys
Name[lv]=Simbolu Karte
Name[mn]=Тэмдэгтийн хүснэгт
Name[ms]=Peta Aksara
Name[nl]=Speciale tekens
Name[nn]=Teiknkart
Name[no]=Tegnkart
Name[pl]=Mapa znaków
Name[pt]=Mapa de Caracteres
Name[pt_BR]=Mapa de Caracteres
Name[ro]=Harta de caractere
Name[ru]=Таблица символов
Name[sk]=Mapa znakov
Name[sl]=Karta znakov
Name[sv]=Teckenkarta
Name[tr]=Karakter Haritası
Name[uk]=Мапа символів
Name[vi]=Bảng ký tự
Name[wa]=Tåvlea di caracteres
Name[zh_CN]=字符映射表
Name[zh_TW]=字元對應表
Comment=Insert special characters into documents
Comment[ar]=أدرج رموزا خاصة في المستند
Comment[be]=Уставіць адмысловыя сымбалі ў дакумэнты
Comment[bg]=Вмъква специални символи в документи
Comment[ca]=Insereix caràcters especials als documents
Comment[cs]=Vloží do dokumentů speciální znaky
Comment[da]=Indsæt specialtegn i dokumenter
Comment[de]=Sonderzeichen in Dokumente einfügen
Comment[el]=Εισαγωγή ειδικών χαρακτήρων στα έγγραφα
Comment[es]=Inserta caracteres especiales en los documentos
Comment[et]=Lisa dokumentidesse spetsiaalmärke
Comment[fi]=Lisää erikoismerkkejä asiakirjoihin
Comment[fr]=Insère des caractères spéciaux dans vos documents
Comment[hi]=विशेष शब्द
Comment[hu]=Különleges karakterek beillesztése a dokumentumba
Comment[it]=Inserisci caratteri speciali nei documenti
Comment[ja]=文書に特別な文字を挿入
Comment[ko]=문서에 특수 문자를 삽입합니다
Comment[lt]=Įterpti specialius simbolius į dokumentus
Comment[lv]=Ievietot īpašas rakstzīmes dokumentos
Comment[mn]=Тусгай тэмдэгт баримт руу оруулах
Comment[ms]=Selit aksara istimewa ke dlaam dokumen
Comment[nl]=Speciaal teken in documenten invoegen
Comment[nn]=Sett inn spesialteikn i dokument
Comment[no]=Sett inn spesielle tegn i dokumenter
Comment[pl]=Wstawia do dokumentów znaki specjalne
Comment[pt]=Insere caracteres especiais em documentos
Comment[pt_BR]=Insira caracteres especiais em documentos
Comment[ro]=Inserează caractere speciale în documente
Comment[ru]=Программа для вставки специальных символов в документы
Comment[sk]=Vloží špeciálne znaky do dokumentov
Comment[sl]=Vstavi posebne znake v dokumente
Comment[sv]=Infoga specialtecken i dokument
Comment[tr]=Belgelere özel karakterler ekle
Comment[uk]=Вставити спеціальний символ у документ
Comment[vi]=Chèn ký tự đặc biệt vào tài liệu
Comment[zh_CN]=将特殊字符插入到文档中
Comment[zh_TW]=可在文字中加入特殊字元
Exec=gnome-character-map
Icon=gnome-character-map.png
Terminal=false
Type=Application
StartupNotify=true
Categories=GNOME;Application;Utility;
X-GNOME-DocPath=gnome-character-map/gnome-character-map.xml
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=gnome-utils
X-GNOME-Bugzilla-Component=gcharmap
