Source: debathena-moira-gui
Section: debathena/gnome
Priority: extra
Build-Depends: cdbs, debhelper
Maintainer: Debathena Project <debathena@mit.edu>
Standards-Version: 3.8.4 

Package: debathena-moira-gui
Architecture: all
Depends: ${misc:Depends}, python-moira, python-gtk2, python
Description: Provide a GUI for common Moira operations
 This package provides a GUI for common moira operations such as
 chpobox, chfn and chsh.

