#!/usr/bin/make -f

include /usr/share/cdbs/1/rules/debhelper.mk

APTITUDE_LOCKFILE = $(CURDIR)/debian/aptitude-lockfile
APTITUDE = aptitude -o 'Aptitude::LockFile=$(APTITUDE_LOCKFILE)' -o 'Debug::NoLocking=yes'
DEFAULT_SYSLOG = $(shell $(APTITUDE) search -F"%p" ~Psystem-log-daemon~pimportant)

binary-predeb/debathena-syslog:: debathena-syslog-substvars

debathena-syslog-substvars::
	( \
	  echo -n "debathena-syslog-depends="; \
	  echo -n $(DEFAULT_SYSLOG); \
	  echo \
	) >>debian/debathena-syslog.substvars
