Source: debathena-libgms
Section: debathena/libs
Priority: extra
Maintainer: Debathena Project <debathena@mit.edu>
Build-Depends: cdbs, debhelper, dh-buildinfo, autoconf, comerr-dev
Standards-Version: 3.9.3

Package: debathena-libgms
Architecture: all
Description: A library used by the global Athena message service
 The gms library defines error codes and constants used by get_message 
 and messaged, the components of the global Athena message service.
 .
 This package contains runtime files.

Package: debathena-libgms-dev
Section: debathena/libdevel
Architecture: any
Provides: libgms-dev
Conflicts: debathena-libgms (<< 9.4)
Replaces: debathena-libgms (<< 9.4)
Depends: ${shlibs:Depends}, ${misc:Depends}, comerr-dev
Description: Development files for the global Athena message service library
 The gms library defines error codes and constants used by get_message 
 and messaged, the components of the global Athena message service.
 .
 This package contains headers and static libraries for development.
