Source: debathena-thirdparty-audio
Section: debathena/base
Priority: extra
Standards-Version: 3.9.3
Maintainer: Debathena Project <debathena@mit.edu>
Build-Depends: cdbs, debhelper, dh-buildinfo

Package: debathena-thirdparty-audio
Architecture: all
Depends: mpg123,
 gxmms2,
 xmms2,
 ${misc:Depends}
Recommends: xmcd,
Description: Debathena metapackage for third-party audio software
 This includes a set of subpackages of commonly-used third-party software
 within the audio domain.  It is intended for cluster machines though usable
 anywhere.  Direct questions about software included in this metapackage
 to 3partysw@mit.edu.
