style "media-icons"
{

        stock ["cdplayer-stop"] =       {{"media-stop.png"}}
        stock ["cdplayer-play"] = 	{{"media-play.png"}}
        stock ["cdplayer-pause"] = 	{{"media-pause.png"}}
        stock ["cdplayer-prev"] =       {{"media-prev.png"}}
        stock ["cdplayer-next"] =       {{"media-next.png"}}
        stock ["cdplayer-eject"] =      {{"media-eject.png"}}

	stock ["volume-mute"] =      	{{"volume-mute.png"}}
        stock ["volume-zero"] =      	{{"volume-zero.png"}}
        stock ["volume-min"] =      	{{"volume-min.png"}}
        stock ["volume-med"] =      	{{"volume-medium.png"}}
        stock ["volume-max"] =      	{{"volume-max.png"}}

}
class "GtkWidget" style "media-icons"

