#!/usr/bin/make -f

DEB_AUTO_UPDATE_AUTOCONF = 2.50
include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/autotools.mk

DEB_CONFIGURE_EXTRA_FLAGS += --with-afs=/usr --disable-nfs --with-krb5 --with-hesiod
DEB_DH_INSTALL_SOURCEDIR = $(DEB_DESTDIR)
DEB_DH_INSTALLINIT_ARGS = --no-start
DEB_UPDATE_RCD_PARAMS = "start 65 S ."

ifeq ($(DEB_BUILD_ARCH),amd64)
    CFLAGS += -fPIC
endif

common-install-indep::
	dh_install -pdebathena-liblocker debian/attach.conf etc/athena/

clean::
	rm -f configure
