Source: debathena-tellme
Section: debathena/net
Priority: extra
Maintainer: Debathena Project <debathena@mit.edu>
Build-Depends: cdbs, debhelper, dh-buildinfo
Standards-Version: 3.9.3

Package: debathena-tellme
Architecture: all
Depends: ${misc:Depends}, debathena-afs-config, debathena-machtype, debathena-athdir
Description: Reports combos and passwords for Athena
 This package provides a symlink to the tellme program, which reports
 combos and passwords for Athena.
