# High-Contrast, Inverse Video Theme v0.1
# This is the whole basic theme, just this one gtkrc file.
# It uses components of the standard theme engine
# Written by Bill Haneman, based on Standard theme by T. Liebeck, 
# which was in turn based on lots of different gtkrc files but
# primarily the one for the metal theme.
# email: bill.haneman@sun.com

#Note: we just use the LargePrint icons for now, they will be scaled
#to the correct size

pixmap_path "@prefix@/share/themes/HighContrastLargePrintInverse/pixmaps"

style "default"   
{ 
  
  GtkWidget::focus-line-pattern = "\2\1"
  GtkWidget::focus-line-width = 1
  GtkHSV::focus-line-pattern = "\0"
  GtkWidget::interior_focus = 1
  GtkWidget::focus-padding = 0
  GtkEntry::cursor_color    = "#00cccc"
#  GtkWidget::cursor_aspect_ratio = 0.1
  GtkTextView::cursor_color    = "#00cccc"
  GtkTextView::cursor_aspect_ratio = 0.1 
  GtkEntry::cursor_aspect_ratio = 0.1
  NautilusIconContainer::frame_text = 1
  
  fg[NORMAL]      = "white"
  text[NORMAL]      = "white"
  bg[NORMAL]      = "#000033" 
  base[NORMAL]    = "#000033"

  fg[INSENSITIVE]      = "#666666"
  bg[INSENSITIVE]      = "#333333"
  text[INSENSITIVE]      = "#666666"
  base[INSENSITIVE]      = "#333333"

  fg[PRELIGHT]    = "#003333"
  text[PRELIGHT]    = "#003333"
  bg[PRELIGHT]    = "white"
  base[PRELIGHT]    = "white"

  fg[ACTIVE]      = "white"
  text[ACTIVE]      = "white"
  bg[ACTIVE]      = "#666699"
  base[ACTIVE]      = "#666699"

  fg[SELECTED]    = "#000033"
  text[SELECTED]    = "#000033"
  bg[SELECTED]    = "white"
  base[SELECTED]    = "#ffcccc"

