################################################################
# OPTIONS
################################################################
#
# dvipsPreferOutline
#
# Should dvips (by default) prefer bitmap fonts or outline fonts
# if both are available? Independend of this setting, outlines
# can be forced by putting "p psfonts_t1.map" into a config file
# that dvips reads. Bitmaps (for the fonts in question) can
# be forced by putting "p psfonts_pk.map" into a config file.
# We provide such config files which can be enabled via
# dvips -Poutline ... resp. dvips -Ppk ...
#
# Valid settings for dvipsPreferOutline are true / false:
dvipsPreferOutline true

#
# LW35
#
# Which fonts for the "Basic 35 Laserwriter Fonts" do you want to use and
# how are the filenames chosen? Valid settings:
#   URW:     URW fonts with "vendor" filenames (e.g. n019064l.pfb)
#   URWkb:   URW fonts with "berry" filenames (e.g. uhvbo8ac.pfb)
#   ADOBE:   Adobe fonts with "vendor" filenames (e.g. hvnbo___.pfb)
#   ADOBEkb: Adobe fonts with  "berry" filenames (e.g. phvbo8an.pfb)
LW35 URWkb

#
# dvipsDownloadBase35
# 
# Should dvips (by default) download the standard 35 LaserWriter fonts
# with the document (then set dvipsDownloadBase35 true) or should these
# fonts be used from the ps interpreter / printer?
# Whatever the default is, the user can override it by specifying
# dvips -Pdownload35 ... resp. dvips -Pbuiltin35 ... to either download
# the LW35 fonts resp. use the build-in fonts.
#
# Valid settings are true / false:
dvipsDownloadBase35 false

#
# pdftexDownloadBase14
#
# Should pdftex download the base 14 pdf fonts? Since some configurations
# (ps / pdf tools / printers) use bad default fonts, it is safer to download
# the fonts. The pdf files will get bigger, though.
# Valid settings are true (download the fonts) or false (don't download
# the fonts).
pdftexDownloadBase14 false

#
# dvipdfmDownloadBase14
#
# Should dvipdfm download the base 14 pdf fonts? Since some configurations
# (ps / pdf tools / printers) use bad default fonts, it is safer to download
# the fonts. The pdf files will get bigger, though.
# Valid settings are true (download the fonts) or false (don't download
# the fonts).
dvipdfmDownloadBase14 false

################################################################
# Map files.
################################################################
#
# There are two possible entries: Map and MixedMap. Both have one additional
# argument: the filename of the map file. MixedMap ("mixed" means that
# the font is available as bitmap and as outline) lines will not be used
# in the default map of dvips if dvipsPreferOutline is false. Inactive
# Map files should be marked by "#! " (without the quotes), not just #.
#

# AntykwaPoltawskiego; CTAN:fonts/psfonts/polish/antp/
Map antp.map

# AntykwaTorunska; CTAN:fonts/psfonts/polish/antt/
Map antt.map

# "quasi" fonts derived from URW and enhanced (from the Polish TeX users);
# CTAN:fonts/psfonts/polish/qfonts/
Map qbk.map
Map qcr.map
Map qhv.map
Map qpl.map
Map qtm.map
Map qzc.map

# Bitstream Charter text font
Map charter.map

# Computer Modern fonts extended with Russian letters;
# CTAN:fonts/cyrillic/cmcyr/
Map cmcyr.map

# symbols for ConTeXt macro package
Map context.map

# a symbol font; CTAN:fonts/psfonts/marvosym/
Map marvosym.map

# two font map entries for the mathpple package
Map mathpple.map

# for Omega
Map omega.map

# the pazo fonts; CTAN:fonts/mathpazo
Map pazo.map

# pxfonts (palatino extension); CTAN:fonts/pxfonts
Map pxfonts.map

# txfonts (times extension); CTAN:fonts/txfonts
Map txfonts.map

# XY-pic fonts; CTAN:macros/generic/diagrams/xypic
Map xypic.map

# 7-8-9 sizes for cmex taken from TeXtrace2001
MixedMap ttcmex.map

# ps-type1 versions for cm+ams; CTAN:fonts/cm/ps-type1/bluesky
MixedMap bsr.map
MixedMap bsr-interpolated.map

# CSTeX; http://math.feld.cvut.cz/olsak/cstex/
MixedMap cs.map

# mf -> type1 converted fonts by Taco Hoekwater
MixedMap hoekwater.map

# cm like, but enhanced for polish; CTAN:fonts/psfonts/polish/plpsfont
MixedMap pl.map
MixedMap ccpl.map

#! Map wolfram.map

Map lucidabr.map
Map lucidabr-o.map
Map lumath.map
Map lumath-o.map
Map mathpi.map

# See comments in doc/fonts/belleek/README about using mt-belleek.map
# instead of mt-yy.map:
#! Map mt-belleek.map
Map mt-yy.map
Map mt-plus.map

# Euro Symbol fonts by Henrik Theiling; CTAN:fonts/eurosym
MixedMap eurosym.map
