[Desktop Entry]
Encoding=UTF-8
Name=Terminal
Name[am]=ተርሚናል
Name[ar]=شاشة طرفية
Name[az]=Terminal
Name[be]=Тэрмінал
Name[bg]=Терминал
Name[bn]=টার্মিন্যাল
Name[ca]=Terminal
Name[cs]=Terminál
Name[cy]=Terfynell
Name[da]=Terminal
Name[de]=Terminal
Name[el]=Τερματικό
Name[en_CA]=Terminal
Name[en_GB]=Terminal
Name[es]=Terminal
Name[et]=Terminal
Name[eu]=Terminala
Name[fa]=پایانه
Name[fi]=Pääte
Name[fr]=Terminal
Name[ga]=Terminéal
Name[gl]=Terminal
Name[gu]=ટર્મિનલ
Name[he]=מסוף
Name[hi]=टर्मिनल 
Name[hr]=Terminal
Name[hu]=Terminál
Name[id]=Terminal
Name[it]=Terminale
Name[ja]=GNOME 端末
Name[ko]=터미널
Name[lt]=Terminalas
Name[lv]=Terminālis
Name[mk]=Терминал
Name[ml]=ടെ‍ര്മിനല്
Name[mn]=Терминал
Name[ms]=Terminal
Name[nl]=Terminal
Name[nn]=Terminal
Name[no]=Terminal
Name[pa]=ਟਰਮੀਨਲ
Name[pl]=Terminal
Name[pt]=Consola
Name[pt_BR]=Terminal
Name[ro]=Terminal
Name[ru]=Терминал
Name[sk]=Terminál
Name[sl]=Terminal
Name[sq]=Terminali
Name[sr]=Терминал
Name[sr@Latn]=Terminal
Name[sv]=Terminal
Name[ta]=முனையம்
Name[th]=เทอร์มินอล
Name[tr]=Terminal
Name[uk]=Термінал
Name[vi]=Terminal
Name[wa]=Terminå
Name[zh_CN]=终端
Name[zh_TW]=終端機
Comment=Command line
Comment[ar]=سطر الأوامر
Comment[az]=Əmr sətiri
Comment[be]=Загадны радок
Comment[bg]=Команден ред
Comment[bn]=কমান্ড লাইন
Comment[ca]=Línia d'ordres
Comment[cs]=Příkazový řádek
Comment[cy]=Llinell orchymyn
Comment[da]=Kommandolinje
Comment[de]=Befehlszeile
Comment[el]=Γραμμή εντολών
Comment[en_CA]=Command line
Comment[en_GB]=Command line
Comment[es]=Línea de comandos
Comment[et]=Käsurida
Comment[eu]=Komando-lerroa
Comment[fa]=سطر فرمان
Comment[fi]=Komentorivi
Comment[fr]=Ligne de commande
Comment[ga]=Líne Ordú
Comment[gl]=Liña de comandos
Comment[gu]=આદેશ વાક્ય
Comment[he]=שורת הפקודה
Comment[hi]=कमांड लाइन
Comment[hr]=Ime domene
Comment[hu]=Parancssor
Comment[id]=Perintah
Comment[it]=Riga di comando
Comment[ja]=コマンド・ライン端末です
Comment[ko]=명령 행
Comment[lt]=Komandų eilutė
Comment[lv]=Komandrinda
Comment[mk]=Командна линија
Comment[ml]=ആജ്ഞാമേഖല
Comment[mn]=Тушаалын мөр
Comment[ms]=Arahan baris
Comment[nl]=Opdrachtregel
Comment[nn]=Kommandolinje
Comment[no]=Kommandolinje
Comment[pa]=ਕਮ੾ਡ ਲਾੲਿਨ
Comment[pl]=Wiersz poleceń
Comment[pt]=Linha de comando
Comment[pt_BR]=Linha de Comando
Comment[ro]=Linie de comandă
Comment[ru]=Командная строка
Comment[sk]=Príkazový riadok
Comment[sl]=Ukazna vrstica
Comment[sq]=Rreshti i komandës
Comment[sr]=Интерпретатор наредби
Comment[sr@Latn]=Interpretator naredbi
Comment[sv]=Kommandorad
Comment[ta]=கட்டளை வரி
Comment[th]=บรรทัดคำสั่ง
Comment[tr]=Komut satırı
Comment[uk]=Командний рядок
Comment[vi]=Dòng lệnh
Comment[wa]=Roye di comande
Comment[zh_CN]=命令行
Comment[zh_TW]=指令列
Exec=gnome-terminal
Icon=gnome-terminal.png
Type=Application
X-GNOME-DocPath=gnome-terminal/index.html
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=gnome-terminal
X-GNOME-Bugzilla-Component=general
X-GNOME-Bugzilla-Version=2.7.3
Categories=GNOME;Application;System;Utility;TerminalEmulator;
StartupNotify=true
