[Desktop Entry]
Encoding=UTF-8
Name=Terminal
Name[am]=ተርሚናል
Name[be]=Тэрмінал
Name[bg]=Терминал
Name[ca]=Terminal
Name[cs]=Terminál
Name[da]=Terminal
Name[de]=Terminal
Name[el]=Τερματικό
Name[es]=Terminal
Name[et]=Terminal
Name[fi]=Pääte
Name[fr]=Terminal
Name[gl]=Terminal
Name[he]=מסוף
Name[hu]=Terminál
Name[it]=Terminale
Name[ja]=ターミナル
Name[ko]=터미널
Name[lt]=Terminalas
Name[lv]=Terminālis
Name[mk]=Терминал
Name[mn]=Терминал
Name[ms]=Terminal
Name[nl]=Terminal
Name[no]=Terminal
Name[pl]=Terminal
Name[pt]=Consola
Name[pt_BR]=Terminal
Name[ro]=Terminal
Name[ru]=Терминал
Name[sk]=Terminál
Name[sl]=Terminal
Name[sq]=Terminal
Name[sv]=Terminal
Name[tr]=Terminal
Name[uk]=Термінал
Name[vi]=Terminal
Name[wa]=Terminå
Name[zh_CN]=终端
Name[zh_TW]=終端機
Comment=Command line
Comment[be]=Камандны радок
Comment[bg]=Команден ред
Comment[ca]=Línia d'ordres
Comment[cs]=Příkazový řádek
Comment[da]=Kommandolinje
Comment[de]=Befehlszeile
Comment[el]=Γραμμή εντολών
Comment[es]=Línea de comandos
Comment[et]=Käsurida
Comment[fi]=Komentorivi
Comment[fr]=Ligne de commande
Comment[gl]=Liña de comandos
Comment[he]=שורת הפקודה
Comment[hu]=Parancssor
Comment[it]=Riga di comando
Comment[ja]=コマンドライン
Comment[ko]=명령 행
Comment[lv]=Komandrinda
Comment[mk]=Командна линија
Comment[mn]=Тушаалын мөр
Comment[ms]=Arahan Baris
Comment[nl]=Opdrachtregel
Comment[no]=Kommandolinje
Comment[pl]=Wiersz poleceń
Comment[pt]=Linha comando
Comment[pt_BR]=Linha de Comando
Comment[ro]=Linie de comandă
Comment[ru]=Командная строка оболочки
Comment[sk]=Príkazový riadok
Comment[sl]=Ukazna vrstica
Comment[sq]=Rreshti i komandës
Comment[sv]=Kommandorad
Comment[uk]=Командний рядок
Comment[vi]=Dòng lệnh
Comment[wa]=Roye di comande
Comment[zh_CN]=命令行
Comment[zh_TW]=指令列
Exec=gnome-terminal
Icon=gnome-terminal.png
Type=Application
X-GNOME-DocPath=gnome-terminal/index.html
Categories=GNOME;Application;System;Utility;TerminalEmulator;
StartupNotify=true
