Source: debathena-tex-extras
Section: debathena/tex
Priority: extra
Maintainer: Debian-Athena Project <debathena@mit.edu>
Build-Depends: cdbs (>= 0.4.23-1.1), debhelper (>= 4.2.0)
Standards-Version: 3.7.2

Package: debathena-tex-extras
Architecture: all
Depends: ${misc:Depends}
Description: Installs extra tex materials developed for Athena
 This package contains TeX materials developed for the Athena
 computing environment.
