[GdmGreeterTheme]
Encoding=UTF-8
Greeter=debathena.xml
Name=Athena 10
Description=Athena 10 GDM theme
Author=Jonathan Reed <jdreed@mit.edu>
Copyright=© 2009 MIT
Screenshot=screenshot.png
