Source: libpam-athena-locker
Section: debathena/libs
Priority: optional
Maintainer: Debathena Project <debathena@mit.edu>
Standards-Version: 3.9.3
Build-Depends: cdbs, debhelper, dh-buildinfo, libpam0g-dev, libopenafs-dev

Package: libpam-athena-locker
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, debathena-attach
Conflicts: debathena-libpam-openafs-session (<= 1.0-5debathena2)
Description: PAM module to attach Athena user locker
 This PAM module attaches the user's Athena locker.  It should be used
 instead of libpam-openafs-session on Debathena machines because it
 attaches the user's home locker, rather than simply getting tokens
 for the machine's home cell.
