Source: debathena-moira-passwd-config
Section: debathena-config/net
Priority: extra
Maintainer: Debian-Athena Project <debathena@mit.edu>
Build-Depends: cdbs (>= 0.4.23-1.1), debhelper (>= 4.2.0), config-package-dev
Standards-Version: 3.7.2

Package: debathena-moira-passwd-config
Architecture: all
Depends: debathena-moira-clients (>= 4.0.0+cvs20070129), ${misc:Depends}, adduser
Provides: ${diverted-files}
Conflicts: ${diverted-files}, debathena-moira-user-tools (<= 4.0.0-3)
Replaces: debathena-moira-user-tools (<= 4.0.0-3)
Description: Set Athena chsh and chfn as default
 This package makes /usr/bin/chsh and /usr/bin/chfn point to the
 Debian-Athena version that changes entries in Moira.  It also
 replaces /usr/sbin/adduser to use the Debian version of chfn.
