Source: debathena-lam
Section: debathena/text
Priority: extra
Maintainer: Debathena Project <debathena@mit.edu>
Build-Depends: debhelper (>= 7), libbsd-dev
Standards-Version: 3.9.3

Package: debathena-lam
Architecture: any
Provides: lam
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: "laminate" files by putting them into multi-column format
 This utility combines files into columns, somewhat like paste(1).
 Debathena provides it because it has traditionally been provided on
 Athena and is not available in Debian.
