Source: debathena-ntp-config
Section: debathena-config/net
Priority: extra
Maintainer: Athena 10 Project <athena10@mit.edu>
Build-Depends: cdbs (>= 0.4.23-1.1), debhelper (>= 5), config-package-dev (>= 4.5~)
Standards-Version: 3.8.0

Package: debathena-ntp-config
Architecture: all
Depends: ntp, ${misc:Depends}
Provides: ${diverted-files}
Conflicts: ${diverted-files}
Description: Configuration for Athena 10 ntp installs.
 Tweaks the configuration of ntp to look to time.mit.edu.
