[Desktop Entry]
Name=Screensaver
Name[ca]=Protector de pantalla
Name[cs]=©etøiè obrazovky
Name[da]=Pauseskærm
Name[de]=Bildschirmschoner
Name[el]=Ğñïöıëáîç Ïèüíçò
Name[es]=Salvapantalla
Name[et]=Ekraanisäästja
Name[fi]=Näytönsäästäjä
Name[fr]=Économiseur d'écran
Name[hu]=Képernyõvédõ
Name[it]=Salvaschermo
Name[ja]=¥¹¥¯¥ê¡¼¥ó¥»¡¼¥Ğ¡¼
Name[ko]=È­¸é º¸È£±â
Name[lt]=Uşsklanda
Name[no]=Skjermsparer
Name[pl]=Wygaszacz ekranu
Name[pt]=Propriedades da protecção de ecrã
Name[pt_BR]=Propriedades da proteção de tela
Name[ru]=èÒÁÎÉÔÅÌØ ÜËÒÁÎÁ
Name[sk]=©etriè obrazovky
Name[sv]=Skärmsläckare
Name[tr]=Ekran koruyucuları
Name[wa]=Sipårgneu di waitroûle
Comment=Configure the settings of the screensaver
Comment[ca]=Configurar el protector de pantalla.
Comment[cs]=Konfigurace ¹etøièe obrazovky
Comment[da]=Indstil pauseskærmen
Comment[de]=Die Einstellungen des Bilschirmschoners konfigurieren
Comment[el]=Ñıèìéóç ôùí éäéïôŞôùí ôçò ğñïöıëáîçò ïèüíçò
Comment[es]=Configurar el salvapantalla
Comment[et]=Ekraanisäästja häälestus
Comment[fi]=Muokkaa näytönsäästäjän asetuksia.
Comment[fr]=Configure l'économiseur d'écran
Comment[hu]=Képernyõvédõ beállítások
Comment[it]=Impostazioni del salvaschermo
Comment[ja]=¥¹¥¯¥ê¡¼¥ó¥»¡¼¥Ğ¡¼¤ÎÀßÄê
Comment[ko]=È­¸é º¸È£±â ¼³Á¤
Comment[lt]=Ekrano uşsklandos savybiø nustatymas
Comment[no]=Konfigurer innstillinger for skjermsparer
Comment[pl]=Konfiguracja wygaszacza ekranu
Comment[pt]=Configura as opções da protecção de ecrã.
Comment[pt_BR]=Configura as opções da proteção de tela.
Comment[ru]=îÁÓÔÒÏÊËÁ ÈÒÁÎÉÔÅÌÑ ÜËÒÁÎÁ.
Comment[sk]=Nastavenie ¹etrièa obrazovky
Comment[sv]=Ändra inställningar för skärmsläckare
Comment[tr]=Ekran koruyucu ayarları
Exec=screensaver-properties-capplet
Icon=gnome-ccscreensaver.png
Terminal=0
Type=Application
