[Desktop Entry]
Name=GnomeMeeting
Name[ar]=جينوم ميتنج
Name[az]=GnomeMeeting
Name[be]=Нарада для Gnome
Name[bn]=গুহ্‌নোম-মিটিং
Name[ca]=GnomeMeeting
Name[cs]=GnomeMeeting
Name[cy]=GnomeMeeting
Name[da]=GnomeMeeting
Name[de]=GnomeMeeting
Name[el]=GnomeMeeting
Name[en_CA]=GnomeMeeting
Name[en_GB]=GnomeMeeting
Name[es]=GnomeMeeting
Name[fi]=GnomeMeeting
Name[fr]=GnomeMeeting
Name[ga]=GnomeMeeting
Name[gl]=GnomeMeeting
Name[hi]=गनोममीटिंग
Name[hr]=Gnome Meeting
Name[hu]=GnomeMeeting
Name[it]=GnomeMeeting
Name[ja]=GnomeMeeting
Name[ko]=그놈 미팅
Name[lt]=GnomeMeeting
Name[lv]=GnomeMeeting
Name[mk]=GnomeMeeting
Name[mn]=Гномеуулзалт
Name[mr]=जीनोम सत्र
Name[ms]=GnomeMeeting
Name[nl]=GnomeMeeting
Name[no]=GnomeMeeting
Name[pa]=ਗਨੋਮ-ਮੀਟਿੰਗ
Name[pl]=GnomeMeeting
Name[pt]=GnomeMeeting
Name[pt_BR]=GnomeMeeting
Name[ro]=GnomeMeeting
Name[ru]=GnomeMeeting
Name[sk]=GnomeMeeting
Name[sq]=GnomeMeeting
Name[sr]=Гном Састанак
Name[sr@Latn]=Gnom Sastanak
Name[sv]=GnomeMeeting
Name[ta]=gமாநாடு
Name[tr]=GnomeMeeting
Name[uk]=GnomeMeeting
Name[vi]=GnomeMeeting
Name[wa]=GnomeMeeting
Name[zh_CN]=GnomeMeeting
Name[zh_TW]=GnomeMeeting
TryExec=gnomemeeting
GenericName=Videoconferencing
GenericName[ar]=اللقاءات المرئية
GenericName[az]=Video İclas
GenericName[ca]=Videoconferència
GenericName[cs]=Videokonference
GenericName[cy]=Cynadledda fideo
GenericName[da]=Videokonference
GenericName[de]=Videokonferenz
GenericName[el]=Τηλεδιάσκεψη
GenericName[en_CA]=Videoconferencing
GenericName[en_GB]=Videoconferencing
GenericName[es]=Videoconferencia
GenericName[fi]=Videoneuvottelu
GenericName[fr]=Vidéoconférence
GenericName[hr]=Video savjetovanje
GenericName[it]=Video conferenza
GenericName[ja]=ビデオ会議
GenericName[ko]=화상 회의
GenericName[lt]=Vaizdo konferencijos
GenericName[mn]=Видео Чуулган
GenericName[ms]=Sidang Video
GenericName[nl]=Videoconferentie
GenericName[no]=Videokonferanse
GenericName[pa]=ਵੀਡੀਓ-ਕਾਨਫਰੰਸ
GenericName[pl]=Konferencje wizyjne
GenericName[pt]=Vídeo Conferência
GenericName[pt_BR]=Vídeo conferência
GenericName[ru]=Видеоконференции
GenericName[sq]=Videokonferencë
GenericName[sr]=Видео конференција
GenericName[sr@Latn]=Video konferencija
GenericName[sv]=Videokonferens
GenericName[uk]=Відеоконференції
GenericName[zh_CN]=视频会议中
Comment=Talk to people over the Internet
Comment[ar]=تحدث مع العالم عبر الإنترنت
Comment[az]=İnternet üstündən insanlarla rabitə qurun
Comment[ca]=Parleu amb gent arreu d'Internet
Comment[cs]=Hovořit s lidmi přes Internet
Comment[cy]=Siarad â phobl dros y Rhyngrwyd
Comment[da]=Tal med andre over internettet
Comment[de]=Über das Internet mit Leuten sprechen
Comment[el]=Μιλήστε σε ανθρώπους μέσω του διαδικτύου
Comment[en_CA]=Talk to people over the Internet
Comment[en_GB]=Talk to people over the Internet
Comment[es]=Hable con otras personas a través de Internet
Comment[fi]=Puhu ihmisten kanssa Internetin kautta
Comment[fr]=Communiquer à travers l'Internet
Comment[hr]=Razgovarajte s ljudima preko Interneta
Comment[it]=Comunicare con le persone su internet
Comment[ja]=インターネットを介して会話します
Comment[ko]=인터넷을 통해 사람들과 얘기합니다
Comment[lt]=Kalbėkitės su kitais žmonėmis per Internetą
Comment[mn]=Интернэтээр хүмүүстэй ярилцах
Comment[ms]=Bercakap dengan orang di Internet
Comment[nl]=Praat met mensen via het internet
Comment[no]=Snakk med andre over internett
Comment[pa]=ੲਿੰਟਰਨੈਟ ੳੁੱਪਰ ਲੋਕ੾ ਨਾਲ ਗੱਲਬਾਤ ਕਰੋ
Comment[pl]=Rozmowy z ludźmi poprzez Internet
Comment[pt]=Fale com pessoas através da Internet
Comment[pt_BR]=Converse com pessoas através da internet
Comment[ru]=Живое общение по Интернету
Comment[sq]=Flisni me njerëz në Internet
Comment[sr]=Разговарање са људима преко интерета
Comment[sr@Latn]=Razgovaranje sa ljudima preko intereta
Comment[sv]=Prata med personer över Internet
Comment[uk]=Живе спілкування через Інтернет
Comment[zh_CN]=通过互连网和朋友谈话
StartupNotify=true
Exec=gnomemeeting
Icon=gnomemeeting-logo-icon.png
Terminal=0
Type=Application
Categories=Application;Network;
