#!/usr/bin/make -f

DEB_AUTO_UPDATE_DEBIAN_CONTROL = 1
include /usr/share/cdbs/1/rules/debhelper.mk

DEB_DH_LINK_debathena-msmtp-sendmail += \
	/usr/sbin/sendmail /usr/lib/sendmail \
	/usr/lib/debathena-msmtp /usr/sbin/sendmail
