Source: debathena-build-server
Section: debathena/utils
Priority: extra
Maintainer: Debathena Project <debathena@mit.edu>
Build-Depends: debhelper (>= 8.0.0), config-package-dev (>= 5.1.1~)
Standards-Version: 3.9.3

Package: debathena-build-server
Architecture: all
Depends: debathena-archive-keyring, 
 python,
 approx,
 reprepro,
 schroot,
 screen,
 subversion,
 debathena-debian-dev,
 ${misc:Depends}
Provides: ${diverted-files}
Conflicts: ${diverted-files}
Description: Suite of tools to create a Debathena build server
 This package includes a set of scripts, tools, and dependencies
 necessary to create a Debathena build server.  You probably don't
 want this package unless you're contributing to the project.
