# Low-Contrast Theme v0.1
# This is the whole basic theme, just this one gtkrc file.
# It uses components of the standard theme engine
# Written by Bill Haneman, based on Standard theme by T. Liebeck, 
# which was in turn based on lots of different gtkrc files but
# primarily the one for the metal theme.
#
# Low-contrast icons by tigert.
#
# email: bill.haneman@sun.com


# Note: this theme is deliberately using the icons from the
# LowContrastLargePrint theme at the moment, until we have
# some hand-crafted icons at a smaller size to use here. -CB.
pixmap_path "@prefix@/share/themes/LowContrastLargePrint/pixmaps"

style "default"
{
  GtkWidget::focus-line-pattern = "\1\1"
  GtkWidget::focus-line-width = 1
  GtkHSV::focus-line-pattern = "\0"
  GtkWidget::interior_focus = 1
  GtkWidget::focus-padding = 0
  GtkEntry::cursor_color    = { 0.60, 0.40, 0.40 }
  GtkTextView::cursor_color    = { 0.60, 0.40, 0.40 }

  fg[NORMAL]      = { 0.40, 0.40, 0.40 }
  text[NORMAL]      = { 0.40, 0.40, 0.40 }
  bg[NORMAL]      = { 0.60, 0.60, 0.60 }
  base[NORMAL]    = { 0.60, 0.60, 0.60 }

  fg[INSENSITIVE]      = { 0.5, 0.5, 0.5 }
  bg[INSENSITIVE]      = { 0.55, 0.55, 0.55 }
  base[INSENSITIVE]      = { 0.55, 0.55, 0.55 }

  fg[PRELIGHT]    = { 0.45, 0.45, 0.45 }
  text[PRELIGHT]    = { 0.45, 0.45, 0.45 }
  bg[PRELIGHT]    = { 0.65, 0.65, 0.65 }
  base[PRELIGHT]    = { 0.65, 0.65, 0.65 }

  fg[ACTIVE]      = { 0.40, 0.40, 0.40 }
  text[ACTIVE]      = { 0.40, 0.40, 0.40 }
  bg[ACTIVE]      = { 0.55, 0.55, 0.50 }
  base[ACTIVE]      = { 0.45, 0.45, 0.40 }

  fg[SELECTED]    = { 0.60, 0.60, 0.60 }
  text[SELECTED]    = { 0.60, 0.60, 0.60 }
  bg[SELECTED]    = { 0.40, 0.40, 0.40 }
  base[SELECTED]    = { 0.40, 0.45, 0.45 }


