Source: debathena-apparmor-config
Section: debathena-config/admin
Priority: extra
Maintainer: Debathena Project <debathena@mit.edu>
Build-Depends: cdbs, debhelper, dh-buildinfo, config-package-dev (>= 5.0~), debathena-maybe-apparmor, debathena-cups, ntp
Standards-Version: 3.9.3

Package: debathena-apparmor-config
Architecture: all
Depends: ${misc:Depends}
Provides: ${diverted-files}
Conflicts: ${diverted-files}
Replaces: debathena-kerberos-config (<< 1.10~)
Breaks: debathena-kerberos-config (<< 1.11~)
Description: Apparmor configuration for Debathena
 This packages configures apparmor profiles for use with Debathena.
