#!/usr/bin/make -f

DEB_DIVERT_EXTENSION = .debathena
ifneq ($(wildcard /etc/apparmor.d/abstractions/kerberosclient),)
    DEB_TRANSFORM_FILES_debathena-apparmor-config += /etc/apparmor.d/abstractions/kerberosclient.debathena
else
    DEB_UNDIVERT_FILES_debathena-apparmor-config += /etc/apparmor.d/abstractions/kerberosclient.debathena
endif

ifneq ($(wildcard /etc/apparmor.d/abstractions/cups-client),)
    DEB_TRANSFORM_FILES_debathena-apparmor-config += /etc/apparmor.d/abstractions/cups-client.debathena
else
    DEB_UNDIVERT_FILES_debathena-apparmor-config += /etc/apparmor.d/abstractions/cups-client.debathena
endif

ifneq ($(wildcard /etc/apparmor.d/abstractions/X),)
    DEB_TRANSFORM_FILES_debathena-apparmor-config += /etc/apparmor.d/abstractions/X.debathena
else
    DEB_UNDIVERT_FILES_debathena-apparmor-config += /etc/apparmor.d/abstractions/X.debathena
endif

ifneq ($(wildcard /etc/apparmor.d/abstractions/nameservice),)
    DEB_TRANSFORM_FILES_debathena-apparmor-config += /etc/apparmor.d/abstractions/nameservice.debathena
else
    DEB_UNDIVERT_FILES_debathena-apparmor-config += /etc/apparmor.d/abstractions/nameservice.debathena
endif

ifneq ($(wildcard /etc/apparmor.d/tunables/home),)
    ifeq ($(wildcard /etc/apparmor.d/tunables/home.d),)
        # Needed for anything older than Lucid
	# Reverse case handled in postinst
        DEB_TRANSFORM_FILES_debathena-apparmor-config += /etc/apparmor.d/tunables/home.debathena
    endif
endif

ifneq ($(wildcard /etc/apparmor.d/usr.sbin.cupsd),)
    DEB_REMOVE_FILES_debathena-apparmor-config += /etc/apparmor.d/usr.sbin.cupsd
else
    DEB_UNREMOVE_FILES_debathena-apparmor-config += /etc/apparmor.d/usr.sbin.cupsd
endif

ifneq ($(wildcard /etc/apparmor.d/usr.sbin.ntpd),)
    DEB_REMOVE_FILES_debathena-apparmor-config += /etc/apparmor.d/usr.sbin.ntpd
else
    DEB_UNREMOVE_FILES_debathena-apparmor-config += /etc/apparmor.d/usr.sbin.ntpd
endif

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/rules/config-package.mk

ifneq ($(wildcard /etc/apparmor.d/usr.sbin.cupsd),)
    common-build-indep:: debian/usr.sbin.cupsd.debathena
    debian/usr.sbin.cupsd.debathena: $(call debian_check_files,/etc/apparmor.d/usr.sbin.cupsd)
	debian/transform_usr.sbin.cupsd.debathena < $< > $@
    clean::
	-rm debian/usr.sbin.cupsd.debathena
    install/debathena-apparmor-config::
	dh_install debian/usr.sbin.cupsd.debathena etc/apparmor.d
endif

ifneq ($(wildcard /etc/apparmor.d/usr.sbin.ntpd),)
    common-build-indep:: debian/usr.sbin.ntpd.debathena
    debian/usr.sbin.ntpd.debathena: $(call debian_check_files,/etc/apparmor.d/usr.sbin.ntpd)
	debian/transform_usr.sbin.ntpd.debathena < $< > $@
    clean::
	-rm debian/usr.sbin.ntpd.debathena
    install/debathena-apparmor-config::
	dh_install debian/usr.sbin.ntpd.debathena etc/apparmor.d
endif

ifneq ($(wildcard /etc/apparmor.d/tunables/home.d),)
    install/debathena-apparmor-config::
	install -D -m 644 debian/home \
	    $(DEB_DESTDIR)/etc/apparmor.d/tunables/home.d/debathena
endif
