#!/usr/bin/make -f

# texlive-bin 2009-10 finally respects local paper size

TEXLIVE_BIN_VERSION = $(shell apt-cache policy thunderbird 2>/dev/null | awk '/^  Candidate/ { print $$2 }' | fgrep -vx '(none)')
TEXLIVE_2009_11 = $(shell dpkg --compare-versions '$(TEXLIVE_BIN_VERSION)' ge '2009-10~' && echo y)

ifneq ($(TEXLIVE_2009_11),y)
binary-predeb/debathena-workstation::
	echo "debathena-maybe-tex-config=debathena-tex-config" >> debian/debathena-workstation.substvars
endif

include /usr/share/cdbs/1/rules/debhelper.mk
