[Desktop Entry]
Encoding=UTF-8
Name=Screen Reader and Magnifier
Name[ar]=قارئ الشاشة والمكبّر
Name[az]=Ekran Oxuyucusu və Böyüdücü
Name[be]=Чытач і павелічальнік экрана
Name[bg]=Четец на екрана и увеличител
Name[ca]=Lector de pantalla i ampliador
Name[cs]=Čteč a zvětšovač obrazovky
Name[cy]=Darllenwr a Chwyddwr Sgrîn
Name[da]=Skærmoplæser og -forstørrer
Name[de]=Bildschirmleser und -lupe
Name[el]=Αναγνώστης οθόνης και μεγεθυντής
Name[en_CA]=Screen Reader and Magnifier
Name[en_GB]=Screen Reader and Magnifier
Name[es]=Lector de pantalla y magnificador
Name[eu]=Pantaila irakurgailua eta lupa
Name[fi]=Näytön lukia ja suurennuslasi
Name[fr]=Loupe et lecteur d'écran
Name[gu]=સ્ક્રીન વાંચક અને વિસ્તૃતકારક
Name[hi]=स्क्रीन पाठक तथा आवर्धक
Name[hr]=Čitač zaslona i lupa
Name[it]=Lettore dello schermo ed ingranditore
Name[ja]=スクリーン・リーダと拡大鏡
Name[ko]=스크린 읽어주기 프로그램 및 돋보기
Name[lt]=Ekrano skaitymo ir didinimo įrankis
Name[mn]=Дэлгэц уншигч ба  -томруулдаг шил
Name[ms]=Pembaca dan Pembesar Skrin
Name[nb]=Skjermleser og forstørrelsesglass
Name[nl]=Schermlezer en vergrootglas
Name[no]=Skjermleser og forstørrelsesglass
Name[pa]=ਪਰਦਾ ਪੜ੏ਨ ਵਾਲਾ ਅਤੇ ਵੱਡਦਰਸ਼ੀ
Name[pl]=Czytnik ekranowy i lupa
Name[pt]=Locutor de Ecrã e Ampliador
Name[pt_BR]=Leitor de Tela e Lupa
Name[ru]=Считыватель экрана и увеличитель
Name[sq]=Lexues ekrani dhe zmadhues
Name[sr]=Читач екрана и лупа
Name[sr@Latn]=Čitač ekrana i lupa
Name[sv]=Skärmläsare och skärmförstorare
Name[ta]=திரைப்படிப்பான் மற்றும் அளவுமாற்று
Name[tr]=Ekran Okuyucu ve Büyüteci
Name[uk]=Система озвучення екрану та збільшувач
Name[zh_CN]=屏幕阅读程序和放大镜
Name[zh_TW]=畫面閱讀器與放大鏡
Comment=Assistive Technologies for Blind and Visually Impaired
Comment[ar]=التكنولوجيا المعينة للمكفوفين وضعفاء النظر
Comment[az]=Korlar və Görmə Zəyiflikləri Olanlar Üçün Yardımcı Texnologiyalar
Comment[be]=Тэхналёгіі судзеяньня для людзей з дрэнным альбо адсутным зрокам
Comment[bg]=Асистивни технологии за слепи и хора със слабо зрение
Comment[ca]=Tecnologies assistives per a persones invidents i amb minusvalues visuals
Comment[cs]=Technologie usnadnění pro slepé a zrakově postižené
Comment[cy]=Technolegau Cynorthwyol ar gyfer y Dall a rheiny sy'n Amhaeredig eu Golwg
Comment[da]=Assisterende teknologier for blinde og synshæmmede
Comment[de]=Hilfstechnologien für Blinde und Sehbehinderte
Comment[el]=Βοηθητικές τεχνολογίες για άτομα με προβλήματα στην όραση
Comment[en_CA]=Assistive Technologies for Blind and Visually Impaired
Comment[en_GB]=Assistive Technologies for Blind and Visually Impaired
Comment[es]=Tecnologías de asistencia para ciegos y deficientes visuales
Comment[eu]=Itxu eta ikusmen gutxikoen laguntzako teknologiak
Comment[fi]=Aputeknologiat sokeille ja huononäköisille
Comment[fr]=Aides techniques pour les aveugles et les déficients visuels
Comment[gu]=આંધળાઓ અને બરાબર ન જોઇ શકતા હોય તેમની માટેની સહાયક તકનીકીઓ
Comment[hi]=अंधों तथा दृष्टि से कमज़ोर लोगों के लिए सहायक तकनालॉज़ी
Comment[hr]=Tehnologije za pomoć slijepima i osobama sa oštećenim vidom
Comment[it]=Tecnologie assistive per non vedenti ed ipovedenti
Comment[ja]=視覚障害者のための支援技術です
Comment[ko]=시각 장애자를 위한 보조 기술
Comment[lt]=Pagalbinės Aklųjų ir Silpnaregių Technologijos
Comment[mn]=хараагүй болоод харааны согогтой хүмүүст туслах технологи
Comment[ms]=Teknologi Pertolongan bagi Orang Buta dan Kecacatan Penglihatan
Comment[nb]=Hjelpefunksjoner for blinde og svaksynte
Comment[nl]=Ondersteunende technologie voor blinden en visueel gehandicapten
Comment[no]=Hjelpefunksjoner for blinde og svaksynte
Comment[pa]=ਅੰਨੇ ਅਤੇ ਨਜ਼ਰ ਸਬੰਧੀ ਨੁਕਸਾਨਿਆਂ ਲਈ ਸਹਾਇਕ ਤਕਨੀਕਾਂ
Comment[pl]=Technologie wspomagające dla osób niewidomych i niedowidzących
Comment[pt]=Tecnologias Assistivas para Invisuais e Amblíopes
Comment[pt_BR]=Tecnologias assistivas para cegos e deficientes visuais
Comment[ru]=Вспомогательные технологии для слепых и плохо видящих людей
Comment[sq]=Teknollogji ndihmuese për të verbër dhe për kë ka vështirësi në shikim
Comment[sr]=Технологије за испомоћ слепима и особама са оштећеним видом
Comment[sr@Latn]=Tehnologije za ispomoć slepima i osobama sa oštećenim vidom
Comment[sv]=Hjälpmedelstekniker för blinda och synskadade
Comment[ta]=கண்தெரியாதவர் மற்றும் கண்குறைபாடு உள்ளவர்களுக்கான உதவி தொழில்நுட்பம்
Comment[tr]=Görme Özürlüler için Yardımcı Teknolojiler
Comment[uk]=Спеціальні можливості для сліпих та осіб з послабленим зором
Comment[zh_CN]=针对有视觉障碍者的辅助技术
Comment[zh_TW]=視覺障礙協助技術
Exec=gnopernicus
Icon=gnopernicus.png
Terminal=false
Type=Application
StartupNotify=true
Categories=GNOME;Application;Accessibility;
X-GNOME-DocPath=gnopernicus/gnopernicus.xml
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=gnopernicus
X-GNOME-Bugzilla-Component=general

