[Desktop Entry]
Name=Applications
Name[am]=መጠቀሚያ ፕሮግራሞች
Name[ar]=تطبيقات
Name[az]=Proqramlar
Name[be]=Дастасаваньні
Name[bg]=Приложения
Name[ca]=Aplicacions
Name[cs]=Aplikace
Name[da]=Programmer
Name[de]=Anwendungen
Name[el]=Εφαρμογές
Name[es]=Aplicaciones
Name[et]=Rakendused
Name[eu]=Aplikazioak
Name[fa]=برنامه‌ها
Name[fi]=Sovellukset
Name[fr]=Applications
Name[gl]=Aplicacións
Name[he]=יישומים
Name[hi]=एप्लीकेशन्स
Name[hu]=Alkalmazások
Name[it]=Applicazioni
Name[ja]=アプリケーション
Name[ko]=응용 프로그램
Name[lt]=Programos
Name[lv]=Applikācijas
Name[mk]=Апликации
Name[mn]=Х. программууд
Name[ms]=Aplikasi
Name[nl]=Toepassingen
Name[nn]=Program
Name[no]=Applikasjoner
Name[pl]=Aplikacje
Name[pt]=Aplicações
Name[pt_BR]=Aplicativos
Name[ro]=Aplicaţii
Name[ru]=Приложения
Name[sk]=Aplikácie
Name[sl]=Programi
Name[sq]=Aplikacione
Name[sv]=Program
Name[th]=โปรแกรมใช้งาน
Name[tr]=Uygulamalar
Name[uk]=Прикладні програми
Name[vi]=Các ứng dụng
Name[zh_CN]=应用程序
Name[zh_TW]=應用程式
Comment=Browse available software
Comment[ar]=استعراض البرامج المتاحة
Comment[az]=Mövcud proqramları gəz
Comment[be]=Прагляд наяўнага праграмнага забесьпячэньня
Comment[bg]=Преглед на наличният софтуер
Comment[ca]=Revisa el programari disponible
Comment[cs]=Probírat dostupný software
Comment[da]=Gennemse de tilgængelige programmer
Comment[de]=Verfügbare Software durchsuchen
Comment[el]=Εξερεύνηση διαθέσιμου λογισμικού
Comment[es]=Navega por el software disponible
Comment[et]=Lehitse saadaolevat tarkvara
Comment[eu]=Arakatu erabilgarri dagoen softwarea
Comment[fi]=Selaa saatavilla olevia ohjelmia
Comment[fr]=Parcourir les logiciels disponibles
Comment[he]=דפדף בתוכנות הקיימות
Comment[hu]=Elérhető programok böngészése
Comment[it]=Cerca nel software disponibile
Comment[ja]=利用可能なソフトウェアを表示します
Comment[ko]=쓸 수 있는 소프트웨어를 찾아봅니다
Comment[lt]=Naršyti prieinamas programas
Comment[lv]=Apskatīt pieejamo programatūru
Comment[mk]=Прелистај го достапниот софтвер
Comment[mn]=Байгаа программуудыг хайх
Comment[ms]=Lihat perisian yang ada
Comment[nl]=Doorblader beschikbare software
Comment[no]=Bla gjennom tilgjengelig programvare
Comment[pl]=Wyświetla dostępne oprogramowanie
Comment[pt]=Pesquesar aplicações disponíveis
Comment[pt_BR]=Olhar software disponível
Comment[ro]=Navighează prin softul disponibil
Comment[ru]=Просмотр доступного программного обеспечения
Comment[sk]=Zoznam dostupného softvéru
Comment[sl]=Brskaj po programju, ki je na voljo
Comment[sq]=Shfleto software në dispozicion
Comment[sv]=Bläddra bland tillgängliga program
Comment[th]=เลือกดูโปรแกรมที่มี
Comment[tr]=Uygun yazılımlara gözat
Comment[uk]=Переглянути наявне програмне забезпечення
Comment[vi]=Duyệt qua các phần mềm có khả năng
Comment[zh_CN]=浏览可用的软件
Comment[zh_TW]=瀏覽可用的軟體
URL=applications:///
Icon=gnome-logo-icon-transparent.png
Terminal=0
Type=Link
