[Desktop Entry]
Type=Link
Name=Server Settings
Name[ar]=إعدادات الخادم
Name[be]=Наладка паслужніку
Name[bg]=Настройки на Сървър
Name[ca]=Configuració del servidor
Name[cs]=Nastavení serverů
Name[da]=Serverindstillinger
Name[de]=Server-Einstellungen
Name[el]=Ρυθμίσεις Συστήματος
Name[es]=Opciones del servidor
Name[et]=Serveri sätted
Name[fi]=Palvelinasetukset
Name[fr]=Réglages du serveur
Name[he]=הגדרות שרת
Name[hu]=Kiszolgálóbeállítások
Name[it]=Impostazioni del server
Name[ja]=サーバの設定
Name[ko]=서버 설정
Name[lt]=Serverio nuostatos
Name[lv]=Servera Uzstādījumi
Name[mk]=Сервер Подесувања
Name[ms]=Tetapan Pelayan
Name[nl]=Server-instellingen
Name[no]=Tjenerinnstillinger
Name[pl]=Ustawienia serwera
Name[pt]=Definições de Servidor
Name[pt_BR]=Configurações do Servidor
Name[ro]=Setări server
Name[ru]=Установки сервера
Name[sk]=Nastavenie serveru
Name[sl]=Nastavitve strežnika
Name[sq]=Rregullimet e Server-it
Name[sv]=Serverinställningar
Name[tr]=Sunucu Ayarları
Name[vi]=Đang tạo trạm dịch vụ
Name[zh_CN]=服务器设置
Name[zh_TW]=伺服程式設定
Comment=Configure network services (web server, DNS server, etc.)
Comment[ar]=إعداد خدمات الشبكة  (خادم ويب، DNS خادم، الخ...)
Comment[az]=Şəbəkə xidmətlərini sazla (veb verici, DNS verici vs.)
Comment[be]=Канфігураваньне сеткавых паслугаў (web-паслужніку, DNS-паслужніку, г.д.)
Comment[bg]=Конфигуриране на мрежови обслужвания (web сървър, DNS сървър, и др.)
Comment[ca]=Configura els serveis de xarxa )servidor web, servidor DNS, etc).
Comment[cs]=Nastavit síťové služby (WWW server, DNS server atd.)
Comment[da]=Konfigurér netværktjenester (internetserver, DNS osv.)
Comment[de]=Netzwerkdienste konfigurieren (Web-Server, DNS-Sever, etc.)
Comment[el]=Ρύθμιση των υπηρεσιών δικτύου (εξυπηρετητής δικτυακού ιστού, κτλ)
Comment[es]=Configurar servicios de red (servidor web, servidor DNS, etc.)
Comment[eu]=Konfiguratu sare-zerbitzuak (web zerbitzaria, DNS zerbitzaria, etab.)
Comment[fi]=Muuta verkkopalvelujen (www-palvelin, DNS-palvelin, yms.) asetuksia
Comment[fr]=Configure les services réseau (serveur web, serveur DNS, etc.)
Comment[he]=הגדר שירותי רשת (שרתי web, שרתי DNS, וכו')
Comment[hu]=Hálózati szolgáltatások beállítása (webkiszolgáló, DNS kiszolgáló stb...)
Comment[it]=Configura i servizi di rete (server Web, server DNS, etc.)
Comment[ja]=ネットワークサービス(webサーバやDNSサーバなど)の設定をします
Comment[ko]=네트워크 서비스(웹서버, DNS서버, 등)을 설정합니다
Comment[lt]=Konfigūruoti tinklo tarnybas (web serverį, DNS serverį ir kt.)
Comment[lv]=Configurēt tīkla servisus (tīmekļa serveri, DNS serveri, utt.)
Comment[mk]=Конфигурирај мрежни сервиси (веб сервер, DNS сервер, итн.)
Comment[ms]=Konfigurasikan servis rangkaian (pelayan Web, DNS, dll.)
Comment[nl]=Netwerkdiesnten configureren (webserver, DNS-server, enz.)
Comment[no]=Konfigurer nettverkstjenester (webtjener, DNS-tjener, etc.)
Comment[pl]=Konfiguruje usługi sieciowe (serwer WWW, serwer DNS, itp.)
Comment[pt]=Configurar serviços de rede (servidor web, servidor DNS, etc.)
Comment[pt_BR]=Configurar serviços de rede (servidor web, servidor DNS, etc.)
Comment[ro]=Configurează serviciile de reţea (server web, server DNS, etc.)
Comment[ru]=Настроить сетевые сервисы (Web-сервер, DNS-сервер и т.д.)
Comment[sk]=Nastavenie sieťových služieb (web server, DNS server, apod.)
Comment[sl]=Nastavi mrežne storitve (spletni strežnik, strežnik DNS, itd.)
Comment[sq]=Konfiguro shërbimet e rrjetit (web server, DNS server, etj.)
Comment[sv]=Konfigurera nätverkstjänster (webbserver, DNS-server, osv)
Comment[tr]=Ağ servislerini yapılandırın (web, DNS vb)
Comment[vi]=Tạo cấu hình dịch vụ mạng (web server, DNS server, v.v.)
Comment[zh_CN]=配置网络服务(万维网服务器、DNS服务器等)
Comment[zh_TW]=設定網絡裝置（網頁伺服器、DNS 伺服器等等）
URL=server-settings:
Icon=gnome-globe.png
Terminal=0
