[Desktop Entry]
Type=Link
Name=Start Here
Name[am]=በዚህ ጀምር
Name[ar]=ابدأ هنا
Name[az]=Burada Başla
Name[be]=Пачынай адсюль
Name[bg]=Започва от тук
Name[ca]=Comenceu aquí
Name[cs]=Začněte zde
Name[da]=Start her
Name[de]=Hier starten
Name[el]=Ξεκινήστε Εδώ
Name[es]=Empezar aquí
Name[et]=Alusta siit
Name[eu]=Hasi hemen
Name[fi]=Aloita tästä
Name[fr]=Démarrer ici
Name[he]=התחל כאן
Name[hi]=यहां से शुरू करें
Name[hu]=Kezdd itt!
Name[it]=Risorse
Name[ja]=ここからスタート
Name[ko]=시작 메뉴
Name[lt]=Pradėk čia
Name[lv]=Sākt Šeit
Name[mk]=Почни Овде
Name[mn]=Эндээс эхэлнэ
Name[ms]=Mula di Sini
Name[nl]=Begin hier
Name[nn]=Start her
Name[no]=Start her
Name[pl]=Zacznij tutaj
Name[pt]=Começar Aqui
Name[pt_BR]=Comece aqui
Name[ro]=Începeţi aici
Name[ru]=Начать здесь
Name[sk]=Začať tu
Name[sl]=Začni tu
Name[sq]=Fillo këtu
Name[sv]=Börja här
Name[th]=เริ่มที่นี่
Name[tr]=Buradan Başlayın
Name[uk]=Починати тут
Name[vi]=Khởi động tại đây
Name[zh_CN]=从这里开始
Name[zh_TW]=起點
Comment=Start Here
Comment[am]=በዚህ ጀምር
Comment[ar]=ابدأ هنا
Comment[az]=Burada Başla
Comment[be]=Пачынай адсюль
Comment[bg]=Започва от тук
Comment[ca]=Comenceu aquí
Comment[cs]=Začněte zde
Comment[da]=Start her
Comment[de]=Hier starten
Comment[el]=Ξεκινήστε Εδώ
Comment[es]=Empezar aquí
Comment[et]=Alusta siit
Comment[eu]=Hasi hemen
Comment[fi]=Aloita tästä
Comment[fr]=Démarrer ici
Comment[he]=התחל כאן
Comment[hi]=यहां से शुरू करें
Comment[hu]=Kezdd itt!
Comment[it]=Risorse
Comment[ja]=ここからスタート
Comment[ko]=시작 메뉴
Comment[lt]=Pradėk čia
Comment[lv]=Sākt Šeit
Comment[mk]=Почни Овде
Comment[mn]=Эндээс эхэлнэ
Comment[ms]=Mula di Sini
Comment[nl]=Begin hier
Comment[nn]=Start her
Comment[no]=Start her
Comment[pl]=Zacznij tutaj
Comment[pt]=Começar Aqui
Comment[pt_BR]=Comece aqui
Comment[ro]=Începeţi aici
Comment[ru]=Начать здесь
Comment[sk]=Začať tu
Comment[sl]=Začni tu
Comment[sq]=Fillo këtu
Comment[sv]=Börja här
Comment[th]=เริ่มที่นี่
Comment[tr]=Buradan Başlayın
Comment[uk]=Починати тут
Comment[vi]=Khởi động tại đây
Comment[zh_CN]=从这里开始
Comment[zh_TW]=起點
URL=start-here:
Icon=gnome-starthere
Terminal=0
