[Desktop Entry]
Type=Link
Name=System Settings
Name[ar]=إعدادات النظام
Name[az]=Sistem Qurğuları
Name[be]=Сыстэмныя усталёўкі
Name[bg]=Системни Настройки
Name[ca]=Paràmetres del sistema
Name[cs]=Nastavení systému
Name[da]=Systemindstillinger
Name[de]=Systemeinstellungen
Name[el]=Ρυθμίσεις Συστήματος
Name[es]=Opciones del sistema
Name[et]=Süsteemi seaded
Name[eu]=Sistemaren ezarpenak
Name[fi]=Järjestelmän asetukset
Name[fr]=Réglages système
Name[he]=הגדרות מערכת
Name[hu]=Rendszerbeállítások
Name[it]=Impostazioni del sistema
Name[ja]=システムの設定
Name[ko]=시스템 설정
Name[lt]=Sistemos nuostatos
Name[lv]=Sistēmas Uzstādījumi
Name[mk]=Системски подесувања
Name[ms]=Tetapan Sistem
Name[nl]=Systeemvoorkeuren
Name[nn]=Systeminnstillingar
Name[no]=Systeminnstillinger
Name[pl]=Ustawienia systemowe
Name[pt]=Definições de Sistema
Name[pt_BR]=Configurações do Sistema
Name[ro]=Setări sistem
Name[ru]=Настройки системы
Name[sk]=Systémové nastavenie
Name[sl]=Nastavitve sistema
Name[sq]=Rregullimet e sistemit
Name[sv]=Systeminställningar
Name[tr]=Sistem Ayarları
Name[uk]=Системні параметри
Name[vi]=Các thiết đặt hệ thống
Name[zh_CN]=系统设置
Name[zh_TW]=系統設定
Comment=Change systemwide settings (affects all users)
Comment[ar]=غيّر التعيينات العامة (تؤثر في كل المستخدمين)
Comment[az]=Bütün sistem qurğularını dəyişdir (bütün istifadəçilərə təsir edər)
Comment[be]=Зьмяніць агульнасыстэмныя усталёўкі (датычацца ўсіх карыстальнікаў)
Comment[bg]=Промяна на общите системни настройки (засяга всички потребители)
Comment[ca]=Canviar els paràmetres globalment (afectarà a tots els usuaris)
Comment[cs]=Změnit nastavení systému (má vliv na všechny uživatele)
Comment[da]=Ændr indstillinger for hele systemet (påvirker alle brugere)
Comment[de]=Systemweite Einstellungen ändern (betrifft alle Benutzer)
Comment[el]=Αλλαγή ρυθμίσεων συστήματος (επηρεάζει όλους τους χρήστες)
Comment[es]=Cambia las preferencias del sistema (afecta a todos los usuarios)
Comment[eu]=Aldatu sistema osoaren ezarpenak (erabiltzaile guztiengan du eragina)
Comment[fi]=Muuta järjestelmänlaajuisia asetuksia (vaikuttaa joka käyttäjään)
Comment[fr]=Modifie les réglages généraux (affecte tous les utilisateurs)
Comment[he]=שנה הגדרות לכל המערכת (משפיע על כל המשתמשים)
Comment[hu]=Rendszerbeállítások módosítása (minden felhasználót érint)
Comment[it]=Modifica le impostazioni del sistema (ha effetto su tutti gli utenti)
Comment[ja]=システムの設定を変更します(すべてのユーザに影響します)
Comment[ko]=전체 시스템 설정을 바꿉니다 (모든 사용자에게 적용)
Comment[lt]=Keisti sistemos nuostatas (visiems vartotojams)
Comment[lv]=Izmainīt sistēmas uzstādijumus (ietekmē visus lietotājus)
Comment[mk]=Направи промена на подесувањата на целиот систем (има ефект на сите корисници)
Comment[ms]=Tukar tetapan systemwide (melibatkan semua pengguna)
Comment[nl]=Instellingen wijzigen voor het gehele systeem (voor alle gebruikers)
Comment[no]=Endre innstillinger for hele systemet (påvirker alle brukere)
Comment[pl]=Zmienia ustawienia systemowe (dotyczące wszystkich użytkowników)
Comment[pt]=Modificar definições do sistema (afecta todos os utilizadores)
Comment[pt_BR]=Alterar configurações globais do sistema (afeta todos os usuários)
Comment[ro]=Schimbă setările generale ale sistemului (afectează toţi utilizatorii)
Comment[ru]=Изменить системные настройки (затрагивают всех пользователей)
Comment[sk]=Zmena systémového nastavenia (pre všetkých používateľov)
Comment[sl]=Spremeni sistemske nastavitve (vpliva na vse uporabnike)
Comment[sq]=Ndrysho rregullimet e sistemit (ka efekt mbi të gjithë përdoruesit)
Comment[sv]=Ändra globala systeminställningar (påverkar alla användare)
Comment[tr]=Sistem ayarlarını değiştir (tüm kullanıcıları etkiler)
Comment[uk]=Змінити загальносистемні параметри (вплине на всіх користувачів)
Comment[vi]=Thay đổi các thiết đặt hệ thống (có hiệu lực cho mọi người sử dụng)
Comment[zh_CN]=修改系统范围设置(影响所有用户)
Comment[zh_TW]=改變系統設定（會影響所有使用者）
URL=system-settings:
Icon=gnome-settings.png
Terminal=0
