Source: debathena-recovery-mode-config
Section: debathena-config/net
Priority: extra
Build-Depends: cdbs, debhelper
Maintainer: Debathena Project <debathena@mit.edu>
Standards-Version: 3.9.1

Package: debathena-recovery-mode-config
Architecture: all
Depends: ${misc:Depends}, debathena-auto-update (>= 1.23.1~), debathena-machtype
Provides: ${diverted-files}
Conflicts: ${diverted-files}
Description: Adds options to recovery-mode menu
 This package adds two options to the recovery-mode menu.  One option
 forces an immediate update of the workstation, and the other allows
 easy reconfiguration of the network.  It also diverts the 'netroot'
 option so that it's actually functional in the MIT environment.
