Source: debathena-maybe-ubufox
Section: debathena/web
Priority: extra
Maintainer: Debathena Project <debathena@mit.edu>
Build-Depends: cdbs, debhelper, dh-buildinfo
Standards-Version: 3.9.3

Package: debathena-maybe-ubufox
Architecture: all
Depends: ${misc:Depends}, ${debathena-maybe-ubufox-depends}
Description: Metapackage for conditional ubufox dependency
 This is a helper package that depends on ubufox if it is available on
 this platform; it is used in building the debathena-firefox-extension
 package.  It is otherwise empty, so can be removed safely.
