#!/usr/bin/make -f

include /usr/share/cdbs/1/rules/debhelper.mk

HAVE_UBUFOX = $(shell apt-cache show ubufox >/dev/null 2>&1 && echo yes)

ifneq ($(HAVE_UBUFOX),)
binary-predeb/debathena-maybe-ubufox:: debathena-maybe-ubufox-substvars

debathena-maybe-ubufox-substvars::
	echo "debathena-maybe-ubufox-depends=ubufox" \
	  >> debian/debathena-maybe-ubufox.substvars
endif
