Source: debathena-aclocal
Section: debathena/devel
Priority: extra
Maintainer: Debathena Project <debathena@mit.edu>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.9.3

Package: debathena-aclocal
Architecture: all
Depends: ${misc:Depends}, pkg-config
Description: Common autoconf macros for Debathena
 This package contains autoconf macros shared by multiple Debathena
 packages.
