[Desktop Entry]
Name=Text Editor
Name[am]=የጽሑፍ አርትዒ
Name[ar]=محرر نصوص Gnome
Name[be]=Рэдактар тэксту
Name[bg]=Текстов редактор
Name[ca]=Editor de text
Name[cs]=Textový editor
Name[da]=Tekstredigering
Name[de]=Texteditor
Name[el]=Επεξεργαστής κειμένου
Name[es]=Editor de textos
Name[et]=Tekstiredaktor
Name[fi]=Tekstieditori
Name[fr]=Éditeur de texte
Name[hi]=पाठ्य संसाधक
Name[hu]=Szövegszerkesztő
Name[it]=Editor di testi
Name[ja]=テキストエディタ
Name[ko]=텍스트 편집기
Name[lt]=Tekstų redaktorius
Name[lv]=Teksta Redaktors
Name[mk]=Текст едитор
Name[ms]=Editor Teks
Name[nl]=Tekst-editor
Name[no]=Tekstredigering
Name[pl]=Edytor tekstu
Name[pt]=Editor de Texto
Name[pt_BR]=Editor de texto
Name[ro]=Editor de text
Name[ru]=Текстовый редактор
Name[sk]=Textový editor
Name[sl]=Urejevalnik besedil
Name[sv]=Textredigerare
Name[ta]=¯¨Ã À¾¢ôÀ¡ý
Name[tr]=¯¨Ã À¾¢ôÀ¡ý
Name[uk]=Текстовий редактор
Name[vi]=Trình hiệu chỉnh text
Name[wa]=Aspougneu di tecse
Name[zh_CN]=文本编辑器
Name[zh_TW]=文字編輯器
Comment=Edit text files
Comment[ar]=حرّر ملفات نصية
Comment[be]=Рэдагаваньне тэкставых файлаў
Comment[bg]=Редактира текстови файлове
Comment[ca]=Edita els fitxers de text
Comment[cs]=Úprava textových souborů
Comment[da]=Redigér tekstfiler
Comment[de]=Textdateien bearbeiten
Comment[el]=Επεξεργασία αρχείων κειμένου
Comment[es]=Edita archivos de texto
Comment[et]=Redigeeri tekstifaile
Comment[fi]=Muokkaa tekstitiedostoja
Comment[fr]=Éditer des fichiers texte
Comment[hi]=पाठ्य फाइलों को संशोधित करें
Comment[hu]=Szövegszerkesztő
Comment[ja]=テキストファイルの編集
Comment[ko]=텍스트 파일을 편집합니다
Comment[lt]=Taisyti tekstines bylas
Comment[lv]=Rediģēt teksta failus
Comment[mk]=Ажурирај текстуални фајлови
Comment[ms]=Edit fail teks
Comment[nl]=Tekstbestanden bewerken
Comment[no]=Rediger tekstfiler
Comment[pl]=Edytor plików tekstowych
Comment[pt]=Editar ficheiros de texto
Comment[pt_BR]=Editar arquivos texto
Comment[ro]=Editează fişierele text
Comment[ru]=Программа редактирования текстовых файлов
Comment[sk]=Úprava textových súborov
Comment[sl]=Urejanje datotek z besedili
Comment[sv]=Redigera textfiler
Comment[ta]=¯¨Ã §¸¡ôÒ¸¨Ç ¦¾¡ÌÅ¾üÌ
Comment[tr]=¯¨Ã §¸¡ôÒ¸¨Ç ¦¾¡ÌÅ¾üÌ
Comment[uk]=Редагувати текстові файли
Comment[vi]=Hiệu chỉnh file text
Comment[wa]=Asspougnî des fitchîs tecses
Comment[zh_CN]=编辑文本文件
Comment[zh_TW]=編輯文字檔
Exec=gedit %U
Terminal=0
Type=Application
Icon=gedit-icon.png
X-GNOME-DocPath=gedit/gedit.xml
Categories=Application;Utility;TextEditor;
