[Desktop Entry]
Encoding=UTF-8
Name=Bug Report Tool
Name[ar]=أداة تقرير العيوب
Name[az]=Xəta Bildirmə Vasitəsi
Name[be]=Прылада для паведамленьня аб памылках
Name[bg]=Инструмент за Рапорт на Грешки
Name[ca]=Eina d'informe d'errors
Name[cs]=Nástroj pro hlášení chyb
Name[da]=Fejlrapporteringsværktøj
Name[de]=Fehlerbericht einschicken
Name[el]=Εργαλείο Αναφοράς Σφαλμάτων
Name[es]=Herramienta de informe de errores
Name[et]=Vea teatamise programm
Name[eu]=Programa-erroreen berri emateko tresna
Name[fi]=Vikailmoitustyökalu
Name[fr]=Outil de rapport d'anomalies Bug Buddy
Name[gl]=bug-buddy
Name[hu]=Hibabejelentő eszköz
Name[it]=bug-buddy
Name[ja]=バグ報告ツール
Name[ko]=버그 보고 도구
Name[lt]=bug-buddy
Name[lv]=Kļūdu Izziņošanas Rīks
Name[mk]=Алатка за Bug репорт
Name[ms]=Radas Pelaporan Pepijat
Name[nl]=Bug Rapporteer Hulpmiddel
Name[nn]=Feilmeldingsverkty
Name[no]=Bug Buddy
Name[pl]=Narzędzie do zgłaszania błędów
Name[pt]=Ferramenta de Reporte de Bugs
Name[pt_BR]=Ferramenta de Relatório de Erros
Name[ru]=Инструмент сообщений об ошибках
Name[sk]=Nástroj pre oznamovanie chýb
Name[sl]=Orodje za poročanje o hroščih
Name[sq]=Vegël për Njoftimin e Difekteve
Name[sv]=Felrapporteringsverktyg
Name[tr]=Hata Raporlama Aracı
Name[uk]=Засіб сповіщення про помилки
Name[vi]=Công cụ báo lỗi
Name[wa]=Usteye di rapoirt di bugs
Name[zh_CN]=错误报告工具
Name[zh_TW]=錯誤匯報工具
Comment=Report a bug in GNOME
Comment[ar]=تقرير خلل في جينوم
Comment[az]=GNOME xətasını bildir
Comment[be]=Паведамляе аб памылцы ў GNOME
Comment[bg]=Рапорт за Грешки в ГНОМЕ
Comment[ca]=Informeu d'un error al GNOME
Comment[cs]=Nástroj pro GNOME na hlášení chyb
Comment[da]=Rapportér en fejl i Gnome
Comment[de]=Einen Fehler in einem GNOME-Programm melden
Comment[el]=Αναφορά σφαλμάτων του GNOME
Comment[es]=Informe de un error en GNOME
Comment[et]=Teata GNOME veast
Comment[eu]=Eman GNOMEren programa-errore baten berri
Comment[fi]=Ilmoita Gnomen viasta
Comment[fr]=Crée un rapport d'anomalies pour GNOME
Comment[gl]=Informe dun erro de GNOME
Comment[hu]=A GNOME grafikus hibabejelentő eszköze
Comment[it]=Invia notifica di errore
Comment[ja]=GNOMEのバグを報告する
Comment[ko]=그놈 버그 보고
Comment[lt]=Klaidų pranešimo įrankis
Comment[lv]=Paziņot par kļūdu GNOMĒ
Comment[mk]=Репортирај bug во GNOME
Comment[ms]=Lapor pepijat pada GNOME
Comment[nl]=Rapporteer een bug in GNOME
Comment[nn]=Rapporter ei lus i GNOME
Comment[no]=Rapportering av feil i GNOME
Comment[pl]=Narzędzie do zgłaszania błędów w GNOME
Comment[pt]=Reporte um bug no GNOME
Comment[pt_BR]=Informar erro no GNOME
Comment[ru]=Сообщает об ошибке в среде GNOME
Comment[sk]=Nástroj GNOME pre oznamovanie chýb
Comment[sl]=Poročaj o hrošču v GNOME
Comment[sq]=Raporto një difekt në GNOME
Comment[sv]=Rapportera ett fel i GNOME
Comment[tr]=GNOME'da oluşan hatayı raporla
Comment[uk]=Сповіщення про помилки в GNOME
Comment[vi]=Báo lỗi trong GNOME
Comment[wa]=Fé on rapoirt di bug po GNOME
Comment[zh_CN]=报告 GNOME 中的错误
Comment[zh_TW]=在 GNOME 內匯報錯誤
Exec=bug-buddy
Icon=bug-buddy.png
Terminal=false
Type=Application
Categories=GNOME;Application;Development;
StartupNotify=true
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=bug-buddy
X-GNOME-Bugzilla-Component=general
