[Desktop Entry]
Encoding=UTF-8
Name=Bug Report Tool
Name[ar]=أداة تقرير خلال
Name[az]=Xəta Bildirmə Vasitəsi
Name[be]=Інструмэнт паведамленьня аб памылках
Name[bg]=Инструмент за докладване на грешки
Name[bn]=প্রোগ্রাম ত্রুটি রিপোর্ট করার টুল
Name[bs]=Prijava grešaka
Name[ca]=Eina d'informe d'errors
Name[cs]=Nástroj pro hlášení chyb
Name[cy]=Offeryn Adrodd Namau
Name[da]=Fejlrapporteringsværktøj
Name[de]=Fehlerbericht einschicken
Name[el]=Εργαλείο Αναφοράς Σφαλμάτων
Name[en_CA]=Bug Report Tool
Name[en_GB]=Bug Report Tool
Name[es]=Herramienta de informe de errores
Name[et]=Vea teatamise programm
Name[eu]=Programa-erroreen berri emateko tresna
Name[fa]=ابزار گزارش اشکال
Name[fi]=Vikailmoitustyökalu
Name[fr]=Outil de rapport d'anomalies Bug Buddy
Name[gl]=bug-buddy
Name[gu]=ભૂલની અહેવાલનું સાધન
Name[he]=כלי דיווח באגים
Name[hi]=बग रपट उपकरण
Name[hr]=Alat za prijavu greški
Name[hu]=Hibajelentő eszköz
Name[id]=Program Melaporkan Bug
Name[it]=Strumento per la notifica di errori
Name[ja]=バグ報告ツール
Name[ko]=버그 보고 도구
Name[lt]=Klaidų pranešimo įrankis
Name[lv]=Kļūdu Izziņošanas Rīks
Name[mk]=Алатка за Bug репорт
Name[mn]=Алдаагаа тайлагнах хэрэгсэл
Name[ms]=Alat Pelaporan Pepijat
Name[nb]=Bug Buddy
Name[nl]=Een fout rapporteren
Name[nn]=Feilmeldingsverktøy
Name[no]=Bug Buddy
Name[or]=ତ୍ରୁଟି ବିବରଣୀ ଉପକରଣ
Name[pa]=ਬੱਗ ਵੇਰਵਾ ਸੰਦ
Name[pl]=Narzędzie do zgłaszania błędów
Name[pt]=Ferramenta de Reporte de Bugs
Name[pt_BR]=Ferramenta de Relatório de Erros
Name[ro]=Utilitar pentru raportul erorilor
Name[ru]=Инструмент сообщений об ошибках
Name[sk]=Nástroj pre oznamovanie chýb
Name[sl]=Orodje za poročanje o hroščih
Name[sq]=Vegël për Njoftimin e Difekteve
Name[sr]=Пријава грешака
Name[sr@Latn]=Prijava grešaka
Name[sv]=Felrapporteringsverktyg
Name[ta]=பிழை அறிக்கை கருவி
Name[th]=เครื่องมือรายงานบัก
Name[tr]=Hata Bildirme Aracı
Name[uk]=Засіб сповіщення про помилки
Name[vi]=Công cụ báo lỗi
Name[wa]=Usteye di rapoirt di bugs
Name[zh_CN]=错误报告工具
Name[zh_TW]=錯誤匯報工具
Comment=Report a bug in GNOME-based applications
Comment[ar]=تقرير خلل في تطبيقات قائمة على جنوم
Comment[az]=GNOME əsaslı proqramlardakı xətaları bildirin
Comment[bg]=Докладване за грешки в GNOME програми
Comment[bn]=একটি প্রোগ্রাম ত্রুটির বিবরণ পাঠান
Comment[bs]=Prijavite greške u GNOME-aplikacijama
Comment[ca]=Informeu d'un error en aplicacions basades en GNOME
Comment[cs]=Ohlásit chybu v aplikacích založených na GNOME
Comment[cy]=Adrodd nam mewn rhaglenni yn seiliedig ar GNOME
Comment[da]=Rapportér en fejl i Gnome-baserede programmer
Comment[de]=Einen Fehler in einer GNOME-basierten Anwendung melden
Comment[el]=Αναφορά σφαλμάτων για εφαρμογές βασισμένες στο GNOME
Comment[en_CA]=Report a bug in GNOME-based applications
Comment[en_GB]=Report a bug in GNOME-based applications
Comment[es]=Informe de un error en aplicaciones basadas en Gnome
Comment[eu]=Eman GNOMEn oinarritutako aplikazioen programa-errore baten berri
Comment[fi]=Tee vikailmoitus Gnome-sovelluksista löytyvästä viasta
Comment[fr]=Rapporte une anomalie dans les applications basé sur GNOME
Comment[gu]=જીનોમમાં ભૂલનો અહેવાલ કરો
Comment[hi]=गनोम-आधारित अनुप्रयोगों मे बग रपट दें
Comment[hr]=Prijavite grešku u GNOME programu
Comment[hu]=Hibajelentő eszköz a GNOME-on alapuló alkalmazásokhoz
Comment[id]=Laporkan adanya bug pada aplikasi GNOME
Comment[it]=Notifica un errore in un'applicazione basata su GNOME
Comment[ja]=GNOME アプリのバグを報告します
Comment[ko]=그놈 프로그램에 들어 있는 버그 보고
Comment[lt]=Praneškit apie klaidas GNOME-paremtose programose
Comment[mk]=Прати извештај за GNOME базирана апликација.
Comment[mn]=ГНОМЕ-д суурилсан програмууд дахь согогыг мэдээлэх
Comment[ms]=Lapor pepijat pada aplikasi berasaskan GNOME
Comment[nb]=Rapporter en feil i GNOME-baserte programmer
Comment[nl]=Een fout in een op GNOME gebaseerde toepassing rapporteren
Comment[nn]=Rapporter ein feil i GNOME-program
Comment[no]=Rapporter en feil i GNOME-baserte programmer
Comment[or]=ନୋମ ଆଧାରିତ ପ୍ରୟୋଗର ତୃଟି ବିବରଣୀ ଜଣାନ୍ତୁ
Comment[pa]=ਗਨੋਮ ਵਾਲੇ ਪਰਯੋਗਾਂ ਵਿਚ ਬੱਗ ਦਾ ਵੇਰਵਾ ਦਿਉ
Comment[pl]=Zgłaszanie błędów aplikacji bazujących na GNOME
Comment[pt]=Reporte um erro numa aplicação baseada no GNOME
Comment[pt_BR]=Reportar um erro em uma aplicação baseada no GNOME
Comment[ro]=Raportaţi o eroare într-o aplicaţie GNOME
Comment[ru]=Создание отчетов об ошибках в программах для среды Гном
Comment[sk]=Nástroj GNOME pre oznamovanie chýb
Comment[sq]=Raporto një difekt në lidhje me programet për GNOME
Comment[sr]=Пријавите грешку у програмима заснованим на Гному
Comment[sr@Latn]=Prijavite grešku u programima zasnovanim na Gnomu
Comment[sv]=Rapportera ett fel i GNOME-baserade program
Comment[ta]=GNOME-சார்ந்த பயன்பாட்டில் பிழை அறிக்கை
Comment[th]=รายงานบักในโปรแกรมของ GNOME
Comment[tr]=GNOME tabanlı uygulamada oluşan bir hatayı bildir
Comment[uk]=Сповіщення про помилки в програмах для середовища GNOME
Comment[wa]=Fé on rapoirt di bug po les programes GNOME
Comment[zh_CN]=报告基于 GNOME 的应用程序中的错误
Comment[zh_TW]=匯報有關 GNOME 程式的錯誤
Exec=bug-buddy --core
Icon=bug-buddy.png
Terminal=false
Type=Application
StartupNotify=true
NoDisplay=true
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=bug-buddy
X-GNOME-Bugzilla-Component=general
X-GNOME-Bugzilla-Version=2.8.0
MimeType=application/x-core;
