[Desktop Entry]
Type=Application
Name=Kiosk mode browser
TryExec=/usr/lib/debathena-kiosk/gdm-launch-kiosk
Exec=/usr/lib/debathena-kiosk/gdm-launch-kiosk
OnlyShowIn=GNOME;
