Source: debathena-libxj
Section: debathena/libs
Priority: extra
Maintainer: Debathena Project <debathena@mit.edu>
Build-Depends: cdbs, debhelper, dh-buildinfo, autoconf, libx11-dev, libxext-dev
Standards-Version: 3.9.3

Package: debathena-libxj-dev
Section: debathena/libdevel
Architecture: any
Provides: libxj-dev, debathena-libxj
Conflicts: debathena-libxj1 (<< 9.4)
Replaces: debathena-libxj1 (<< 9.4)
Depends: ${shlibs:Depends}, ${misc:Depends}, libx11-dev, libxext-dev
Description: The Jets widget library on Athena
 An X11 widget library used by many Athena programs.
 .
 This package contains headers and static libraries for development.
