Source: debathena-ssh-server-config
Section: debathena-config/net
Priority: extra
Maintainer: Debathena Project <debathena@mit.edu>
Build-Depends: cdbs, debhelper, dh-buildinfo, config-package-dev (>= 5.0~), debathena-ssh-server | openssh-server (>= 1:4.3) | ssh-krb5
Standards-Version: 3.9.3

Package: debathena-ssh-server-config
Architecture: all
Depends: openssh-server (>= 1:4.3) | ssh-krb5, ${misc:Depends}, debathena-bash-config (>= 1.11) | debathena-tcsh-config (>= 1.11)
Provides: ${diverted-files}
Conflicts: debathena-sshd-config (<< 1.0), ${diverted-files}
Replaces: debathena-sshd-config (<< 1.0)
Description: sshd configuration for Debathena
 This package configures the ssh daemon to support Kerberos
 authentication via PAM.

