[Desktop Entry]
Name=Atlantis
Name[bg]=Àòëàíòèêà
Name[cs]=Atlantis
Name[da]=Atlantis
Name[de]=Atlantis
Name[es]=Atlantis
Name[fi]=Atlantis
Name[fr]=Atlantis
Name[ja]=¥¢¥È¥é¥ó¥Æ¥£¥¹
Name[no]=Atlantis
Name[pt_BR]=Atlântida
Name[sk]=Atlantis
Name[sv]=Atlantis
Name[wa]=Atlantis
Comment=Whales, dolphins and sharks swimming around, in 3D
Comment[cs]=Velryby, delfíni a ¾raloci plavající oceánem (3D).
Comment[da]=Hvaler, delfiner og hajer der svømmer rundt i 3d.
Comment[de]=Wale, Delphine and Haie die herumschwimmen (in 3D)
Comment[es]=Ballenas, delfines y tiburones nadando en 3D
Comment[fi]=Valaat, delfiinit ja hait uivat ympäriinsä kolmiulotteisessa meressä.
Comment[fr]=Baleines, Dauphins et requins nageant, en 3D.
Comment[ja]=·ß¤ä¥¤¥ë¥«¤ä¥µ¥á¤¬ 3 ¼¡¸µ¶õ´Ö¤ò±Ë¤®¤Þ¤ï¤ê¤Þ¤¹
Comment[no]=Hvaler, delfiner og haier svømmer rundt. I 3D
Comment[pt_BR]=Baleias, golfinhos e tubarões nadando pelo mar, em 3D
Comment[sk]=Veµryby, delfíni a ¾raloci plávajúci v 3D priestore
Comment[sv]=Valar, delfiner och hajar som simmar runt i 3D
Exec=xscreensaver-command -activate
TryExec=atlantis
Terminal=0
Type=Application

[Screensaver Data]
WindowIdCommand=-window-id
RootCommand=-root
Demo=atlantis
