[Desktop Entry]
Name=Bubble3d
Name[bg]=3dÁàëîí÷åòà
Name[da]=Bobler i 3d
Name[de]=Blase3D
Name[es]=Burbujas3d
Name[fi]=3D-kupla
Name[fr]=Bulle3d
Name[hu]=Bubble3d
Name[ja]=3 ¼¡¸µ¤ÎË¢
Name[no]=Boble3D
Name[pt_BR]=Bolhas3d
Name[ru]=ğÕÚÙÒÉ 3D
Name[sk]=3D bubliny
Name[sl]=Mehurèki3d
Name[sv]=3D-bubblor
Name[wa]=Boles3D
Comment=Lots of bubbles floating around, in 3d
Comment[bg]=Ñóìà áàëîí÷åòà ïëóâàùè íàñàì-íàòàì â ïğîñòğàíñòâîòî.
Comment[da]=En masse bobler der flyder rundt på skærmen i tre dimensioner
Comment[de]=Viele Blasen schwirren herum (in 3D)
Comment[es]=Muchas burbujas flotando por todas partes, en 3d
Comment[fi]=Piirtää useita 3d-kuplia.
Comment[fr]=Beaucoup de bulles flottant aux alentours, en 3D
Comment[hu]=Sok lebegõ buborék 3 dimenzióban
Comment[ja]=¤¿¤¯¤µ¤ó¤ÎË¢¤¬ 3 ¼¡¸µ¤ÇÉâÍ·¤·¤Ş¤¹
Comment[no]=En mengde bobler flyter rundt i 3D
Comment[pt_BR]=Bolhas em 3d flutuando
Comment[ru]=ëÕŞÁ ĞÌÁ×ÁİÉÈ ×ÏËÒÕÇ ĞÕÚÙÒÅÊ
Comment[sk]=Veµa plávajúcich bublín, 3D
Comment[sl]=Veliko plavajoèih mehurèkov, v 3d
Comment[sv]=En massa bubblor som flyter omkring i 3D
Exec=xscreensaver-command -activate
TryExec=bubble3d
Terminal=0
Type=Application

[Screensaver Data]
WindowIdCommand=-window-id
RootCommand=-root
Demo=bubble3d


