[Desktop Entry]
Name=Bumps
Name[de]=Beulen
Name[es]=Bumps
Name[fi]=Kuhmut
Name[fr]=Sauts
Name[no]=Humper
Name[sk]=Reliéf
Name[sv]=Kontur
Comment=Spotlights a bump map of your desktop.
Comment[fi]=Piirtää työpöytäsi kuhmuisena valokeilassa.
Comment[no]=Setter følgelys på et \"bump map\" på ditt skrivebord.
Comment[sk]=Ukazuje priestorovú mapu plochy.
Comment[sv]=Lyser med en spotlight på en konturbild av ditt skrivbord.
Exec=xscreensaver-command -activate
TryExec=bumps
Terminal=0
Type=Application

[Screensaver Data]
WindowIdCommand=-window-id
RootCommand=-root
Icon=bumps.png
Author=Shane Smit
Author[de]=Shane Smit
Author[es]=Shane Smit
Author[no]=Shane Smit
Author[sk]=Shane Smit
Author[sv]=Shane Smit
Author[wa]=Shane Smit
ExtendedComment=
Demo=bumps -delay 2
