[Desktop Entry]
Name=Bumps
Name[da]=Bump
Name[de]=Beulen
Name[es]=Bumps
Name[fi]=Kuhmut
Name[fr]=Sauts
Name[no]=Humper
Name[ru]=Bumps
Name[sk]=Reliéf
Name[sl]=Poskoki
Name[sv]=Kontur
Name[uk]=Bumps
Comment=Spotlights a bump map of your desktop.
Comment[da]=Oplyser et højdekort over skrivebordet.
Comment[fi]=Piirtää työpöytäsi kuhmuisena valokeilassa.
Comment[no]=Setter følgelys på et \"bump map\" på ditt skrivebord.
Comment[sk]=Ukazuje priestorovú mapu plochy.
Comment[sl]=Osvetli reliefno povr¹ino va¹ega namizja.
Comment[sv]=Lyser med en spotlight på en konturbild av ditt skrivbord.
Exec=xscreensaver-command -activate
TryExec=bumps
Terminal=0
Type=Application

[Screensaver Data]
WindowIdCommand=-window-id
RootCommand=-root
Icon=bumps.png
Author=Shane Smit
Author[da]=Shane Smit
Author[de]=Shane Smit
Author[es]=Shane Smit
Author[hu]=Shane Smit
Author[no]=Shane Smit
Author[ru]=Shane Smit
Author[sk]=Shane Smit
Author[sl]=Shane Smit
Author[sv]=Shane Smit
Author[uk]=Shane Smit
Author[wa]=Shane Smit
ExtendedComment=
Demo=bumps -delay 2
