[Desktop Entry]
Name=Critical
Name[da]=Kritisk
Name[de]=Kritisch
Name[es]=Critical
Name[fi]=Kriittinen
Name[fr]=Critique
Name[hu]=Critical
Name[ja]=¥¯¥ê¥Æ¥£¥«¥ë
Name[no]=Kritisk
Name[ru]=ëÒÉÔÉËÁ
Name[sk]=Kry¹tál
Name[sl]=Kritièno
Name[sv]=Kritisk
Name[uk]=ëÒÉÔÉËÁ
Comment=Display coloured polylines
Comment[da]=Viser farvede polylinjer
Comment[de]=Farbige Linien anzeigen
Comment[fi]=Piirtää värillisiä viivoja.
Comment[ja]=¿§¤Î¤Ä¤¤¤¿Â¿ÀşÊ¬
Comment[no]=Vis fargede polilinjer
Comment[ru]=ğÏËÁÚÙ×ÁÅÔ ÏËÒÁÛÅÎÎÙÅ ÌÏÍÁÎÙÅ
Comment[sk]=Zobrazuje farebné èiary
Comment[sl]=Ka¾i barvne poligonske èrte
Comment[sv]=Visar färgade polygoner
Comment[uk]=ğÏËÁÚÕ¤ ËÏÌØÏÒÏ×¦ ÌÁÍÁÎ¦
Exec=xscreensaver-command -activate
TryExec=critical
Terminal=0
Type=Application

[Screensaver Data]
WindowIdCommand=-window-id
RootCommand=-root
Demo=critical
