[Desktop Entry]
Name=Deco
Name[bg]=Äåêîğàöèÿ
Name[ca]=Déco
Name[da]=Deco
Name[es]=Deco
Name[fi]=Koristus
Name[fr]=Déco
Name[ja]=¥Ç¥³
Name[no]=Deco
Name[ru]=äÅËÏ
Name[sk]=Deco
Name[sv]=Deco
Comment=Draw tacky 70s basement wall panelling.
Comment[ca]=Dibuixa motius murals dels anys 70.
Comment[da]=Tegn 70-er kældervægspanel.
Comment[es]=Dibuja motivos murales de los años 70
Comment[fi]=Piirtää 70-luvun pohjakerrosten seinäkuvioita.
Comment[fr]=Dessine des motifs muraux des années 70
Comment[ru]=ğÒÉÌÉĞŞÉ×ÙÊ ÓÔÉÌØ ÒÁÓËÒÁÓËÉ ÓÔÅÎ 70-È ÇÏÄÏ×.
Comment[sk]=Kreslí schátralé panely ako zo 70-tych rokov
Comment[sv]=Rita smaklös 70-talsväggpanel.
Exec=xscreensaver-command -activate
TryExec=deco
Terminal=0
Type=Application

[Screensaver Data]
WindowIdCommand=-window-id
RootCommand=-root
Icon=deco.png
Author=Jamie Zawinski <jwz@jwz.org>\nMichael D. Bayne <mdb@go2net.com>
ExtendedComment=Deco draws tacky 70s basement wall panelling.
ExtendedComment[bg]=Äåêîğàöèÿ äåìîñíñòğèğà îãğàíè÷åíîòî áîÿäèñâàíå íà 70òå.
ExtendedComment[ca]=«Déco» dibuixa motius murals a l'estil dels anys 70.
ExtendedComment[da]=Deco tegner 70-er kældervægspaneler.
ExtendedComment[no]=Deco tegner 70-talls kjellerveggpaneler.
ExtendedComment[ru]=äÅËÏ ÚÁĞÏÌÎÑÅÔ ÜËÒÁÎ × ĞÒÉÌÉĞŞÉ×ÏÍ ÓÔÉÌÅ ÒÁÓËÒÁÓËÉ ÓÔÅÎ 70-È ÇÏÄÏ×.
ExtendedComment[sk]=Kreslí schátralé panely ako zo 70-tych rokov
ExtendedComment[sv]=Deco ritar smaklös väggpanel av sjuttiotalstyp.
Demo=deco -delay 2


[Arg0]
Name=delay
Name[de]=Verzögerung
Name[es]=retraso
Name[fi]=Viive
Name[fr]=délai
Name[ja]=ÃÙ±ä
Name[no]=pause
Name[sk]=pauza
Name[sv]=paus
Name[wa]=tårdjaedje
Type=LRange
ValType=I[1-20]=2
Flag=-delay
LeftLabel=Time between redraws:
LeftLabel[az]=Tæzædæn çækilmælær arasında fasilæ:
LeftLabel[bg]=Ïåğèîä ìåæäó ïğåíà÷åğòàâàíå.
LeftLabel[ca]=Temps entre redibuixat:
LeftLabel[da]=Tid mellem gentegninger:
LeftLabel[de]=Zeit zwischen Neuzeichnen:
LeftLabel[es]=Tiempo entre dos motivos:
LeftLabel[fr]=Temps entre deux motifs:
LeftLabel[ja]=ºÆÉÁ²è¤Î´Ö³Ö:
LeftLabel[no]=Tid mellom opptegning:
LeftLabel[ru]=éÎÔÅÒ×ÁÌ ĞÅÒÅÒÉÓÏ×ËÉ:
LeftLabel[sk]=Èas medzi prekresleniami:
LeftLabel[sl]=Èas med risanji:
LeftLabel[sv]=Tid mellan omritningar:
LeftLabel[uk]=ğÁÕÚÁ Í¦Ö ÏÎÏ×ÌÅÎÑÍÉ (× ÓÅËÕÎÄÁÈ):

RightLabel=seconds
RightLabel[az]=saniyæ
RightLabel[bg]=ñåêóíäè
RightLabel[ca]=segons
RightLabel[da]=sekunder
RightLabel[de]=Sekunden
RightLabel[es]=segundos
RightLabel[eu]=segunduak
RightLabel[fr]=secondes
RightLabel[ja]=ÉÃ
RightLabel[no]=sekunder
RightLabel[ru]=óÅËÕÎÄ
RightLabel[sk]=sekúnd
RightLabel[sl]=sekund
RightLabel[sv]=sekunder
RightLabel[uk]= 
RightLabel[wa]=segondes

Comment=Changes the time between redrawing the screen.
Comment[bg]=Ïğîìåíÿ âğåìåòî ìåæäó äâå ïğåíà÷åğòàâàíèÿ íà åêğàíà.
Comment[ca]=Canvia el retard entre redibuixats de pantalla.
Comment[da]=Ændrer tiden mellem gentegning af skærmen.
Comment[de]=Ändert die Zeit bis der Bildschirm neugezeichnet wird.
Comment[es]=Cambia el tiempo de espera antes de re-dibujar la pantalla.
Comment[fi]=Aseta näytön päivitysten välinen aika.
Comment[fr]=Change le temps d'attente avant de redessiner l'écran.
Comment[ja]=²èÌÌ¤ÎºÆÉÁ²è¤Î´Ö³Ö
Comment[no]=Endrer tiden mellom gjenopptegning av skjermen.
Comment[ru]=éÚÍÅÎÅÎÉÅ ÉÎÔÅÒ×ÁÌÁ ÍÅÖÄÕ ĞÅÒÅÒÉÓÏ×ËÁÍÉ.
Comment[sk]=Zmena èasu medzi prekreslením obrazovky.
Comment[sv]=Ändrar tiden mellan skärmomritningarna.

[Arg1]
Name=color
Name[de]=Farbe
Name[es]=color
Name[fi]=väri
Name[fr]=couleur
Name[ja]=¿§
Name[no]=farge
Name[sk]=farba
Name[sv]=färg
Name[wa]=coleur
Type=Check
Flag=
Flag2=-mono
LeftLabel=Use color when drawing.
LeftLabel[az]=Çækdiyin vaxt rænglærdæn istifadæ et.
LeftLabel[ca]=Usar color als dibuixos
LeftLabel[da]=Brug farver ved tegning.
LeftLabel[de]=Farbe beim Zeichnen verwenden.
LeftLabel[en_GB]=Use colour when drawing.
LeftLabel[es]=En colores
LeftLabel[fr]=En couleurs
LeftLabel[ja]=¿§ÉÕ¤­¤ÇÉÁ²è
LeftLabel[no]=Bruk farge under tegning.
LeftLabel[ru]=éÓĞÏÌØÚÏ×ÁÎÉÅ Ã×ÅÔÁ
LeftLabel[sk]=Pou¾i» farby pri kreslení.
LeftLabel[sl]=Za risanje uporabi barve.
LeftLabel[sv]=Använd färg vid ritning.
LeftLabel[wa]=È coleurs

Comment=Determines whether to draw the panels in color, or in black and white.
Comment[bg]=Îïğåäåëÿ äàëè äà ÷åğòàå áëîêîâåòå öâåòíî èëè ÷åğíî/áÿëî.
Comment[ca]=Determina si s'usarà color en dibuixar els motius.
Comment[da]=Bestemmer om der skal tegnes i farver, eller i sort/hvid.
Comment[es]=Elije si se usarán los colores o en blanco y negro.
Comment[fi]=Määrittää, piirretäänkö kuviot värillisinä vai mustavalkoisina.
Comment[fr]=Determine si l'affichage se fera en couleurs ou en noir et blanc.
Comment[no]=Bestemmer om panelene skal tegnes i farger, eller sort-hvitt.
Comment[ru]=÷ÙÂÏÒ ÍÅÖÄÕ Ã×ÅÔÎÙÍÉ ÉÌÉ ŞÅÒÎÏ-ÂÅÌÙÍÉ ĞÁÎÅÌÑÍÉ.
Comment[sk]=Nastavuje, èi sa má kresli» farebne alebo èiernobielo.
Comment[sv]=Avgör om panelerna ska ritas i färg eller svartvitt.

[Arg2]
Name=color-cycle
Name[fi]=värikierto
Name[fr]=color-cycle
Name[no]=fargeskifting
Name[sk]=Meni» farby
Name[sv]=färgcykla
Type=Check
Flag=-cycle
Flag2=-no-cycle
LeftLabel=Cycle through colors.
LeftLabel[az]=Rænglærdæn keçan dairælær.
LeftLabel[bg]=Ïåğèîä ìåæäó öâåòîâåòå.
LeftLabel[ca]=Voltar els colors
LeftLabel[da]=Bladr gennem farvene.
LeftLabel[en_GB]=Cycle through colors.
LeftLabel[es]=Ciclo de colores
LeftLabel[fr]=Cycle entre les couleurs
LeftLabel[no]=Bla gjennom fargene.
LeftLabel[ru]=éÓĞÏÌØÚÏ×ÁÔØ Ã×ÅÔÁ ÃÉËÌÉŞÅÓËÉ.
LeftLabel[sk]=Dookola meni» farby.
LeftLabel[sl]=Kro¾i skozi barve.
LeftLabel[sv]=Snurra igenom färgerna.

Comment=This will cause the panes to flash.
Comment[bg]=Òîâà êàğà áëîêîâåòå äà ïğîáëÿñâàò.
Comment[ca]=Açò farà que els motius semblen parpellejar.
Comment[da]=Dette vil forårsage blinkning.
Comment[es]=Esto dará un efecto de parpadeo.
Comment[fi]=Tämä saa kuviot välkkymään.
Comment[fr]=Ceci fera flasher les motifs.
Comment[no]=Dette gjør at fanene blinker.
Comment[sk]=Toto spôsobí blikanie èastí.
Comment[sv]=Det här får panelerna att blinka.
