[Desktop Entry]
Name=Deluxe
Name[da]=Deluxe
Name[de]=Deluxe
Name[es]=Deluxe
Name[fr]=Deluxe
Name[hu]=Deluxe
Name[ja]=╔г╔И╔ц╔╞╔╧
Name[no]=Deluxe
Name[ru]=Делюкс
Name[sk]=Deluxe
Name[sl]=Delux
Name[sv]=Deluxe
Name[uk]=Делюкс
Comment=Display nice stuff 
Comment[da]=Vis rare ting 
Comment[de]=HЭbsche Dinge anzeigen 
Comment[fi]=PiirrД jotakin kivaa
Comment[fr]=Affiche des chose sympa 
Comment[hu]=SzИp dolog
Comment[ja]=╓╧╓ф╓╜╓й╓Б╓н╓Ри╫╪╗
Comment[no]=Vis pene ting
Comment[ru]=Показывает симпатичные фигуры
Comment[sk]=Zobrazuje peknИ veci
Comment[sl]=Prika╬e lepe stvari 
Comment[sv]=Visa schyssta grejor
Comment[uk]=В╕добража╓ симпатичн╕ ф╕╜ури
Exec=xscreensaver-command -activate
TryExec=deluxe
Terminal=0
Type=Application

[Screensaver Data]
WindowIdCommand=-window-id
RootCommand=-root
Demo=deluxe
