[Desktop Entry]
Name=Demon
Name[ca]=Dimoni
Name[da]=DÊmon
Name[de]=D‰mon
Name[es]=Demon
Name[fi]=Demoni
Name[fr]=DÈmon
Name[hu]=Demon
Name[no]=Demon
Name[ru]=‰≈ÕœŒ
Name[sk]=DÈmon
Name[sl]=Demon
Name[sv]=Demon
Name[uk]=‰≈ÕœŒ
Comment=A cellular automata that starts with a random field, and organizes it into stripes and spirals.
Exec=xscreensaver-command -activate
TryExec=demon
Terminal=0
Type=Application

[Screensaver Data]
WindowIdCommand=-window-id
RootCommand=-root
Demo=demon
