[Desktop Entry]
Name=Distort
Name[bg]=Èçêğèâÿâàíå
Name[ca]=Distorsió
Name[da]=Forvrængning
Name[de]=Verzerren
Name[es]=Distorción
Name[fi]=Vääristä
Name[fr]=Distortion
Name[hu]=Distort
Name[ja]=ÏÄ¤ß
Name[no]=Forvreng
Name[ru]=éÓËÒÉ×ÌÅÎÉÅ
Name[sk]=Deformácia
Name[sl]=Bula
Name[sv]=Förvräng
Name[uk]=÷ÉËÒÉ×ÌÅÎÎÑ
Comment=Distort the screen
Comment[bg]=Èçêğèâÿâà åêğàíà
Comment[da]=Forvrænger skærmbilledet
Comment[de]=Bildschirm verzerren
Comment[es]=Crea distorciones de la imagen en la pantalla
Comment[fi]=Vääristää näytön
Comment[fr]=Créé des distortions de l'image
Comment[hu]=A képernyõ torzítása
Comment[ja]=²èÌÌ¤òÏÄ¤Ş¤»¤ë
Comment[no]=Forvreng skjermen
Comment[ru]=éÓËÒÉ×ÌÑÅÔ ÜËÒÁÎ
Comment[sk]=Zdeformuje obrazovku
Comment[sl]=Bula na zaslonu
Comment[sv]=Förvränger skärmen
Comment[uk]=óĞÏÔ×ÏÒÅÎÎÑ ÅËÒÁÎÕ
Exec=xscreensaver-command -activate
TryExec=distort
Terminal=0
Type=Application

[Screensaver Data]
WindowIdCommand=-window-id
RootCommand=-root
Icon=distort.png
ExtendedComment=This screensaver does distortions of some areas of the screen, as if some object was moving under the image
Demo=distort -delay 2

