[Desktop Entry]
Name=Flow
Name[ca]=Flux
Name[da]=Farvestrøm
Name[de]=Fließen
Name[es]=Flujo
Name[fi]=Virtaus
Name[fr]=Flux
Name[hu]=Flow
Name[no]=Flyt
Name[ru]=ğÏÔÏË
Name[sk]=Prúd
Name[sl]=Tok
Name[sv]=Flöde
Name[uk]=ğÏÔ¦Ë
Comment=Draws a flow of colored points
Comment[da]=Tegner en strøm af farvede punkter
Comment[de]=Zeichnet einen Fluss von farbigen Punkten
Comment[en_GB]=Draws a flow of coloured points
Comment[es]=Dibuja con puntos de color un flujo 
Comment[fi]=Piirtää virtaavia väripisteitä
Comment[fr]=Dessine un flux avec des points de couleur
Comment[hu]=Színes pontok áramlását rajzolja ki.
Comment[no]=Tenger en strøm av fargede punkter
Comment[ru]=òÉÓÕÅÔ ĞÏÔÏË Ã×ÅÔÎÙÈ ÔÏŞÅË
Comment[sk]=Kreslí prúd farebnıch bodov
Comment[sl]=Ri¹e tok barvnih toèk
Comment[sv]=Ritar ett flöde av färgade punkter
Comment[uk]=ÍÁÌÀ¤ ĞÏÔ¦Ë ËÏÌØÏÒÏ×ÉÈ ÔÏŞÏË
Exec=xscreensaver-command -activate
TryExec=flow
Terminal=0
Type=Application

[Screensaver Data]
WindowIdCommand=-window-id
RootCommand=-root
Icon=flow.png
Author=
ExtendedComment=Draws a flow of colored points
ExtendedComment[da]=Tegner en strøm af farvede punkter
ExtendedComment[de]=Zeichnet einen Fluss von farbigen Punkten
ExtendedComment[en_GB]=Draws a flow of coloured points
ExtendedComment[es]=Dibuja con puntos de color un flujo 
ExtendedComment[fi]=Piirtää virtaavia väripisteitä
ExtendedComment[fr]=Dessine un flux avec des points de couleur
ExtendedComment[hu]=Színes pontok áramlását rajzolja ki.
ExtendedComment[no]=Tenger en strøm av fargede punkter
ExtendedComment[ru]=òÉÓÕÅÔ ĞÏÔÏË Ã×ÅÔÎÙÈ ÔÏŞÅË
ExtendedComment[sk]=Kreslí prúd farebnıch bodov
ExtendedComment[sl]=Ri¹e tok barvnih toèk
ExtendedComment[sv]=Ritar ett flöde av färgade punkter
ExtendedComment[uk]=ÍÁÌÀ¤ ĞÏÔ¦Ë ËÏÌØÏÒÏ×ÉÈ ÔÏŞÏË
Demo=flow -delay 2

