[Desktop Entry]
Name=Gears
Name[da]=Tandhjul
Name[de]=ZahnrДder
Name[fi]=Rattaat
Name[fr]=Engrenages
Name[hu]=Gears
Name[ja]=╩У╪ж
Name[no]=Gir
Name[ru]=Шестеренки
Name[sk]=Prevody
Name[sl]=Zobniki
Name[sv]=Kugghjul
Name[uk]=Шестерн╕
Comment=The 3d mesa demo, of gears
Comment[da]=En Mesa-demo af tandhjul i tre dimensioner
Comment[de]=Die 3D Mesa-Demo, von gears
Comment[fi]=Mesan 3d-ratasnДytЖs
Comment[fr]=La dИmo Mesa 3d d'engrenages
Comment[hu]=A 3d mesa fogaskerИk-demo
Comment[ja]=3 ╪║╦╣ MESA ╓н╩У╪ж╓н╔г╔Б
Comment[no]=3D mesa demo, av gears
Comment[ru]=Шестеренки, трехмерная демонстрация из Mesa
Comment[sk]=mesa 3D demo, prevody
Comment[sl]=3d mesa demo zobnikov
Comment[sv]=Kugghjulsdemot frЕn Mesa
Comment[uk]=Шестерн╕, тривим╕рна демонстрац╕я з Mesa
Exec=xscreensaver-command -activate
TryExec=gears
Terminal=0
Type=Application

[Screensaver Data]
WindowIdCommand=-window-id
RootCommand=-root
Demo=gears


