[Desktop Entry]
Name=GLPlanet
Name[da]=Globus
Name[de]=GLPlanet
Name[fi]=GLPlaneetta
Name[fr]=GLPlanet
Name[hu]=GLPlanet
Name[ja]=GL ÏÇÀ±
Name[no]=GLPlanet
Name[ru]=ğÌÁÎÅÔÁ GL
Name[sk]=GLPlanéta
Name[sl]=GLPlanet
Name[sv]=GLPlanet
Name[uk]=GLPlanet
Comment=A 3d globe
Comment[da]=En globus i tre dimensioner
Comment[de]=Ein 3D-Globus
Comment[fi]=3D-planeetta
Comment[fr]=Un globe 3D
Comment[hu]=3 dimenziós földgömb
Comment[ja]=3 ¼¡¸µ¤ÎÃÏµå
Comment[no]=En 3D globus
Comment[ru]=3È ÍÅÒÎÁÑ úÅÍÌÑ
Comment[sk]=3D glóbus
Comment[sl]=3d globus
Comment[sv]=Ett 3D-jordklot
Comment[uk]=ôÒÉ×ÉÍ¦ÒÎÁ úÅÍÌÑ
Exec=xscreensaver-command -activate
TryExec=glplanet
Terminal=0
Type=Application

[Screensaver Data]
WindowIdCommand=-window-id
RootCommand=-root
Demo=glplanet


