[Desktop Entry]
Name=Imsmap
Name[ca]=Mapa IMS
Name[da]=Ims-kort
Name[de]=Imsmap
Name[fr]=Imsmap
Name[hu]=Imsmap
Name[no]=Imsmap
Name[ru]=Imsmap
Name[sk]=Mapa IMS
Name[sl]=Imsmap
Name[sv]=Imskarta
Name[uk]=Imsmap
Comment=
Exec=xscreensaver-command -activate
TryExec=imsmap
Terminal=0
Type=Application

[Screensaver Data]
WindowIdCommand=-window-id
RootCommand=-root
Icon=imsmap.png
Author=
ExtendedComment=
Demo=imsmap -delay 2
