[Desktop Entry]
Name=Interference
Name[ca]=InterferËncies
Name[da]=Interferens
Name[de]=Stˆrung
Name[es]=Interferencias
Name[fi]=Interferenssi
Name[fr]=InterfÈrences
Name[hu]=Interference
Name[no]=Forstyrrelser
Name[ru]=ÈŒ‘≈“∆≈“≈Œ√…—
Name[sk]=Interferencia
Name[sl]=Interferenca
Name[sv]=Interferens
Name[uk]=∂Œ‘≈“∆≈“≈Œ√¶—
Comment=
Exec=xscreensaver-command -activate
TryExec=interference
Terminal=0
Type=Application

[Screensaver Data]
WindowIdCommand=-window-id
RootCommand=-root
Icon=interference.png
Author=
ExtendedComment=
Demo=interference -delay 2
