[Desktop Entry]
Name=Jigsaw
Name[ca]=Puzzle
Name[da]=Puslespil
Name[fi]=Palapeli
Name[fr]=Jigsaw
Name[sk]=Jigsaw
Name[sv]=Pussel
Comment=Permutes the screen image like a jigsaw puzzle.
Comment[ca]=Barreja la imatge com un puzzle.
Comment[fi]=Jakaa kuvan palapelin paloiksi ja sekoittaa ne.
Comment[fr]=Permute l'écran comme un puzzle jigsaw.
Comment[sk]=Zamie¹a obsah obrazovky ako puzzle.
Comment[sv]=Permuterar skärmbilden som ett pussel.
Exec=xscreensaver-command -activate
TryExec=jigsaw
Terminal=0
Type=Application

[Screensaver Data]
WindowIdCommand=-window-id
RootCommand=-root
Icon=jigsaw.png
Author=Jamie Zawinski <jwz@jwz.org>
Author[fr]=Jamie Zawinski <jwz@jwz.org>
Author[ja]=Jamie Zawinski <jwz@jwz.org>
Author[no]=Jamie Zawinski <jwz@jwz.org>
Author[sk]=Jamie Zawinski <jwz@jwz.org>
Author[sv]=Jamie Zawinski <jwz@jwz.org>
Author[wa]=Jamie Zawinski <jwz@jwz.org>
ExtendedComment=Jigsaw takes an image of the screen, carves it up into jigsaw puzzle pieces, shuffles it, and solves it.
Demo=jigsaw -delay 2

[Arg0]
Name=Delay
Name[de]=Verzögerung
Name[es]=Retardo
Name[fi]=Viive
Name[fr]=Délai
Name[ja]=ÃÙ±ä
Name[no]=Pause
Name[sk]=Pauza
Name[sv]=Paus
Name[wa]=Tårdjaedje
Type=LRange
Flag=-delay
LeftLabel=Faster
LeftLabel[az]=Daha Sür'ætli
LeftLabel[bg]=Ïî-áúğçî
LeftLabel[ca]=Ràpid
LeftLabel[da]=Hurtigere
LeftLabel[de]=Schneller
LeftLabel[es]=Rápido
LeftLabel[eu]=Arin
LeftLabel[fr]=Rapide
LeftLabel[ja]=Â®¤¤
LeftLabel[no]=Fortere
LeftLabel[pt]=Rápido
LeftLabel[pt_BR]=Rápido
LeftLabel[ro]=Mai repede
LeftLabel[ru]=âÙÓÔÒÅÅ
LeftLabel[sk]=Rıchlej¹ie
LeftLabel[sl]=Hitro
LeftLabel[sv]=Snabbare
LeftLabel[uk]=û×ÉÄÛÅ
LeftLabel[wa]=Roed

RightLabel=Slower
RightLabel[az]=Daha Yavaş
RightLabel[bg]=Ïî-áàâíî
RightLabel[ca]=Lent
RightLabel[da]=Langsommere
RightLabel[de]=Langsamer
RightLabel[es]=Lento
RightLabel[eu]=Astiro
RightLabel[fr]=Lent
RightLabel[ja]=ÃÙ¤¤
RightLabel[no]=Saktere
RightLabel[pt]=Lento
RightLabel[pt_BR]=Lento
RightLabel[ro]=Mai încet
RightLabel[ru]=íÅÄÌÅÎÎÅÅ
RightLabel[sk]=Pomal¹ie
RightLabel[sl]=Poèasno
RightLabel[sv]=Långsammare
RightLabel[uk]=ğÏ×¦ÌØÎ¦ÛÅ
RightLabel[wa]=Londjin

ValType=I[1-500000]=2
Label=Speed of Motion.
Label[az]=Hærækæt Sür'æti.
Label[bg]=Ñêîğîñò íà äâèæåíèå
Label[ca]=Velocitat de moviment
Label[da]=Bevægelseshastighed.
Label[de]=Geschw. der Bewegung.
Label[es]=Velocidad de la animación.
Label[eu]=Animazioaren abiadura
Label[fr]=Vitesse de l'animation
Label[ja]=Æ°ºîÂ®ÅÙ
Label[no]=Bevegelseshastighet.
Label[pt]=Velocidade da animação
Label[pt_BR]=Velocidade da animação
Label[ru]=óËÏÒÏÓÔØ Ä×ÉÖÅÎÉÑ.
Label[sk]=Rıchlos» pohybu.
Label[sl]=Hitrost gibanja.
Label[sv]=Rörelsehastighet.
Label[uk]=û×ÉÄË¦ÓÔØ ÒÕÈÕ.
Label[wa]=Roedeu di l' animåcion

Comment=Change the delay in cycles.
Comment[bg]=Ïğîìåíÿ âğåìåòî ìåæäó äâà öèêúëà.
Comment[ca]=Canvia el retard en cicles.
Comment[da]=Ændr pausen mellem runderne.
Comment[es]=Cambiar la duración entre los ciclos.
Comment[eu]=Animazio abiadura aldatu.
Comment[fi]=Aseta viive kierroksina.
Comment[fr]=Changer la durée entre les cycles.
Comment[ja]=²óÅ¾¤ÎÃÙ±ä
Comment[no]=Endre pause i sykluser.
Comment[pt_BR]=Muda o atraso em ciclos.
Comment[ru]=éÚÍÅÎÅÎÉÅ ÚÁÄÅÒÖËÉ × ÃÉËÌÁÈ.
Comment[sk]=Zmena èakania v cykloch.
Comment[sv]=Ändra pausen i cykler
Comment[wa]=Candjî li roedeu di crexhmint

