[Desktop Entry]
Name=Lament
Name[da]=Lament
Name[de]=Lament
Name[es]=Lament
Name[fr]=Lament
Name[hu]=Lament
Name[no]=Lament
Name[ru]=öÁÌÏÂÁ
Name[sk]=Lament
Name[sl]=Lament
Name[sv]=Lament
Name[uk]=óËÁÒÇÁ
Comment=A 3d cube floats around
Comment[da]=En 3-dimensional terning som flyver omkring og folder sig ud
Comment[de]=Ein 3D-Würfel fliegt herum
Comment[fi]=3-ulotteinen kuutio kääntyilee
Comment[fr]=Un cube 3D flottant
Comment[hu]=Egy 3d kocka úszkál a levegõben
Comment[ja]=3 ¼¡¸µ¤ÎÎ©ÊıÂÎ¤¬¤¿¤À¤è¤¤¤Ş¤¹
Comment[no]=En 3D-kube som flyter rundt
Comment[ru]=ôÒÅÈÍÅÒÎÙÊ ËÕÂ ĞÌÁ×ÁÀİÉÊ ×ÏËÒÕÇ
Comment[sk]=Plávajúca 3D kocka
Comment[sl]=Lebdeèa 3d kocka
Comment[sv]=En 3D-kub som svävar omkring
Comment[uk]=ôÒÉ×ÉÍ¦ÒÎÉÊ ËÕÂ, İÏ ĞÌÁ×Á¤
Exec=xscreensaver-command -activate
TryExec=lament
Terminal=0
Type=Application

[Screensaver Data]
WindowIdCommand=-window-id
RootCommand=-root
Demo=lament


