[Desktop Entry]
Name=Lament
Name[da]=Lament
Name[es]=Lament
Name[fr]=Lament
Name[sk]=Lament
Name[sv]=Lament
Comment=A 3d cube floats around
Comment[da]=En 3D-kube som flyder rundt
Comment[fi]=3-ulotteinen kuutio kääntyilee
Comment[fr]=Un cube 3D flottant
Comment[ja]=3 ¼¡¸µ¤ÎÎ©ÊýÂÎ¤¬¤¿¤À¤è¤¤¤Þ¤¹
Comment[sk]=Plávajúca 3D kocka
Comment[sv]=En 3D-kub som svävar omkring
Exec=xscreensaver-command -activate
TryExec=lament
Terminal=0
Type=Application

[Screensaver Data]
WindowIdCommand=-window-id
RootCommand=-root
Demo=lament


