[Desktop Entry]
Name=Maze
Name[ca]=Laberint
Name[da]=Labyrint
Name[de]=Labyrinth
Name[es]=Laberinto
Name[fi]=Sokkelo
Name[fr]=Labyrinthe
Name[ja]=ÌÂÏ©
Name[no]=Labyrint
Name[ru]=ìÁÂÉÒÉÎÔ
Name[sk]=Labyrint
Name[sv]=Labyrint
Comment=Repeatedly create and solve a maze
Comment[ca]=Crea i resol laberints contínuament.
Comment[de]=Fortlaufendes Erzeugen und Lösen des Labyrinths
Comment[es]=Crea y resuelve lanerintos
Comment[fi]=Luo ja ratkaise labyrintti toistuvasti
Comment[fr]=Créé et résout un labyrinthe répétitivement
Comment[sk]=Dookola vytvára a rie¹i bludiská
Comment[sv]=Skapa och lös en labyrint om och om igen
Exec=xscreensaver-command -activate
TryExec=maze
Terminal=0
Type=Application

[Screensaver Data]
WindowIdCommand=-window-id
RootCommand=-root
Icon=maze.png
Author=Copyright (C) 1988 by Sun Microsystems, Inc.
Author[de]=Copyright (C) 1988 by Sun Microsystems, Inc.
Author[es]=Copyright (C) 1988 de Sun Microsystems, Inc.
Author[fr]=Copyright (C) 1988 by Sun Microsystems, Inc.
Author[ja]=Copyright (C) 1988 by Sun Microsystems, Inc.
Author[sk]=Copyright (C) 1988 Sun Microsystems, Inc.
Author[sv]=Copyright © 1988 av Sun Microsystems, Inc.
Author[wa]=Copyright © 1988 Sun Microsystems, Inc.
ExtendedComment=The maze program creates a random maze and then solves it with graphical feedback.
Demo=maze -grid-size 10

[Arg0]
Name=Speed Delay
Name[de]=Geschw.-Verzögerung
Name[es]=Retardo de la velocidad
Name[fi]=Nopeusviive
Name[no]=Fartspause
Name[sk]=Rýchlos»
Name[sv]=Väntetid
Type=LRange
LeftLabel=Less Delay
LeftLabel[az]=Daha Qýsa Gecikmæ
LeftLabel[ca]=Menor
LeftLabel[de]=Geringere Verzögerung
LeftLabel[es]=Menos tiempo
LeftLabel[fr]=Plus court
LeftLabel[ja]=ÃÙ±ä:¾¯
LeftLabel[no]=Kortere pause
LeftLabel[sk]=Krat¹ie
LeftLabel[sl]=Majhen premor
LeftLabel[sv]=Mindre tid
LeftLabel[uk]=íÅÎÛÁ ÚÁÔÒÉÍËÁ

RightLabel=More Delay
RightLabel[az]=Daha Uzun Gecikmæ
RightLabel[ca]=Major
RightLabel[de]=Größere Verzögerung
RightLabel[es]=Más tiempo
RightLabel[fr]=Plus long
RightLabel[ja]=ÃÙ±ä:Âç
RightLabel[no]=Lengre pause
RightLabel[sk]=Dlh¹ie
RightLabel[sl]=Velik premor
RightLabel[sv]=Mer tid
RightLabel[uk]=â¦ÌØÛÁ ÚÁÔÒÉÍËÁ

Flag=-solve-delay
ValType=I[1000-100000]=5000
Label=Delay between each step in the maze.
Label[az]=Labirintin hær addýmýnda gecik.
Label[ca]=Retard entre passos al laberint
Label[de]=Verzögerung zwischen jedem Schritt im Labyrinth.
Label[es]=Demora entre dos pasos en el laberinto
Label[fr]=Délai entre chaque pas dans le labyrinthe
Label[no]=Pause mellom hvert steg i labyrinten.
Label[sk]=Prestávky medzi krokmi v bludisku.
Label[sl]=Premor med vsakim korakom poti.
Label[sv]=Tid mellan varje steg i labyrinten.
Label[uk]=úÁÔÒÉÍËÁ Í¦Ö ËÒÏËÁÍÉ × ÌÁÂ¦ÒÉÎÔ¦.

Comment=The delay (in microseconds) between each step of the solution path.
Comment[ca]=Retard (en microsegons) entre cada pas del camí solució.
Comment[de]=Die Verzögerung (in ms) zwischen jedem Schritt des Lösungsweges.
Comment[fi]=Viive (mikrosekunteina) jokaisen ratkaisuaskeleen jälkeen.
Comment[fr]=Le délai (en microsecondes) entre chaque pas lors de la résolution.
Comment[sv]=Tiden (i mikrosekunder) mellan varje steg i lösningen.

[Arg1]
Name=Pre-Solving Delay
Name[fi]=Ratkaisua edeltävä viive
Name[sk]=Pauza pred vyrie¹ením
Name[sv]=Tid efter lösning
Type=LRange
LeftLabel=Less Delay
LeftLabel[az]=Daha Qýsa Gecikmæ
LeftLabel[ca]=Menor
LeftLabel[de]=Geringere Verzögerung
LeftLabel[es]=Menos tiempo
LeftLabel[fr]=Plus court
LeftLabel[ja]=ÃÙ±ä:¾¯
LeftLabel[no]=Kortere pause
LeftLabel[sk]=Krat¹ie
LeftLabel[sl]=Majhen premor
LeftLabel[sv]=Mindre tid
LeftLabel[uk]=íÅÎÛÁ ÚÁÔÒÉÍËÁ

RightLabel=More Delay
RightLabel[az]=Daha Uzun Gecikmæ
RightLabel[ca]=Major
RightLabel[de]=Größere Verzögerung
RightLabel[es]=Más tiempo
RightLabel[fr]=Plus long
RightLabel[ja]=ÃÙ±ä:Âç
RightLabel[no]=Lengre pause
RightLabel[sk]=Dlh¹ie
RightLabel[sl]=Velik premor
RightLabel[sv]=Mer tid
RightLabel[uk]=â¦ÌØÛÁ ÚÁÔÒÉÍËÁ

Flag=-pre-delay
ValType=I[1000000-5000000]=2000000
Label=Delay between drawing the maze and starting the solution.
Label[az]=Labirint çækilmæsi ilæ hælli arasýnda fasilæ ver.
Label[ca]=Retard entre dibuixar laberint i començar resolució
Label[de]=Zeit zwischen Zeichnen des Labyrinths und Starten es zu lösen.
Label[es]=Demora antes de la resolución
Label[fr]=Délai entre le dessin du labyrinthe et le début de sa résolution.
Label[no]=Pause mellom tegning av labyrinten og start på løsningen.
Label[sk]=Èakanie medzi kreslením bludiska a zaèiatkom hµadania.
Label[sl]=Premor med risanjem zidu in zaèetkom re¹evanja.
Label[sv]=Tid mellan det att labyrinten ritats och lösningen påbörjas.

Comment=The delay (in microseconds) between generating a maze and starting to solve it.

[Arg2]
Name=Post-Solving Delay
Name[fi]=Ratkaisun jälkeinen viive
Name[sk]=Pauza po vyrie¹ení
Name[sv]=Tid före lösning
Type=LRange
LeftLabel=Less Delay
LeftLabel[az]=Daha Qýsa Gecikmæ
LeftLabel[ca]=Menor
LeftLabel[de]=Geringere Verzögerung
LeftLabel[es]=Menos tiempo
LeftLabel[fr]=Plus court
LeftLabel[ja]=ÃÙ±ä:¾¯
LeftLabel[no]=Kortere pause
LeftLabel[sk]=Krat¹ie
LeftLabel[sl]=Majhen premor
LeftLabel[sv]=Mindre tid
LeftLabel[uk]=íÅÎÛÁ ÚÁÔÒÉÍËÁ

RightLabel=More Delay
RightLabel[az]=Daha Uzun Gecikmæ
RightLabel[ca]=Major
RightLabel[de]=Größere Verzögerung
RightLabel[es]=Más tiempo
RightLabel[fr]=Plus long
RightLabel[ja]=ÃÙ±ä:Âç
RightLabel[no]=Lengre pause
RightLabel[sk]=Dlh¹ie
RightLabel[sl]=Velik premor
RightLabel[sv]=Mer tid
RightLabel[uk]=â¦ÌØÛÁ ÚÁÔÒÉÍËÁ

Flag=-post-delay
ValType=I[1000000-8000000]=4000000
Label=Delay between finishing the maze and starting a new one.
Label[az]=Labirint sonlanmsý ilæ yenisinin baþladýlmasý arasýnda fasilæ ver.
Label[de]=Verzögerung zwischen Lösen des Labyrinths und Starten eines neuen.
Label[es]=Demora después de la resolución
Label[fr]=Délai après la résolution d'un labyrinthe et le début d'un nouveau.
Label[no]=Pause mellom løsing av labyrinten og start av en ny.
Label[sk]=Èakanie medzi dokonèením hµadania a zaèiatkom nového bludiska.
Label[sl]=Premor med konèanjem labirinta in zaèetkom novega.
Label[sv]=Tid mellan det att labyrinten är avklarad och en ny startar.

Comment=The delay (in microseconds) after solving a maze and before generating a new one.

[Arg3]
Name=Live Color
Name[es]=Color vivo
Name[fi]=Elävä väri
Name[no]=Levende farge
Name[sk]=®ivá farba
Name[sv]=Levande färg
Type=Color
Flag=-live-color
ValType=Color=#00ff00
Label=Color of path
Label[ca]=Color del camí
Label[en_GB]=Colour of path
Label[es]=Color del camino
Label[fr]=Couleur du chemin
Label[no]=Farge på sti
Label[sk]=Farba cesty
Label[sv]=Färg på vägen
Label[wa]=Coleur do tchmin

Comment=The color of the path.
Comment[ca]=El color del camí.
Comment[de]=Die Farbe des Pfades.
Comment[en_GB]=The colour of the path.
Comment[es]=El color del camino activo.
Comment[fi]=Polun väri.
Comment[fr]=La couleur du chemin.
Comment[no]=Farge på stien.
Comment[sk]=Farba cesty.
Comment[sv]=Färg på vägen.
Comment[wa]=Li coleur do tchmin a shûve.

[Arg4]
Name=Dead Color
Name[es]=Color muerto
Name[fi]=Kuollut väri
Name[no]=Død farge
Name[sk]=Màtva farba
Name[sv]=Död färg
Type=Color
Flag=-dead-color
ValType=Color=#ff0000
Label=Color of failed path
Label[ca]=Color del camí fallat
Label[en_GB]=Colour of failed path
Label[es]=Color de los caminos fallidos
Label[fr]=Couleur du chemin après un échec
Label[no]=Farge på feil sti
Label[sk]=Farba nesprávnej cesty
Label[sv]=Färg på en misslyckad väg
Label[wa]=Coleur des måvas tchmins

Comment=The color of a failed path (stippled with a 50% pattern)
Comment[ca]=El color del camí fallat (ocult amb un patró al 50%).
Comment[de]=Die Farbe des Fehlpfades (mit 50% Muster getüpfelt)
Comment[en_GB]=The colour of a failed path (stippled with a 50% pattern)
Comment[es]=Color de los caminos que no llevaron a ningún lado
Comment[fi]=Umpikujien väri (pilkuttuu puoliksi taustavärillä)
Comment[fr]=Couleur du chemin après un échec (couplé a 50% avec un motif)
Comment[sk]=Farba nesprávnej cesty (50% vzor)
Comment[sv]=Färg på en misslyckad stig (blandat med ett 50%-igt mönster
Comment[wa]=Li coleur des måvas tchmins (rimpli a 50% avou on motif)

[Arg5]
Name=Skip Color
Name[de]=Farbe überspringen
Name[es]=Saltar color
Name[fi]=Ohitettu väri
Name[no]=Hopp over farge
Name[sk]=Farba preskoèenia
Name[sv]=Överhoppad färg
Type=Color
Flag=-skip-color
ValType=Color=#ffa500
Label=Color of a skipped path
Label[ca]=Color del camí salta
Label[en_GB]=Colour of a skipped path
Label[es]=Color de los caminos descartados
Label[fr]=Couleur d'évitemment
Label[no]=Farger på oversett sti
Label[sk]=Farba preskoèenej cesty
Label[sv]=Färg på en skippad väg
Label[wa]=Coleur des leyis tchmins

Comment=If the solver can "see" the end of a corridor it will color it this color.

[Arg6]
Name=Surround Color
Name[de]=Umgebungsfarbe
Name[fi]=Ympäröivä väri
Name[no]=Omring farge
Name[sk]=Farba okolia
Name[sv]=Omgivande färg
Type=Color
Flag=-surround-color
ValType=Color=#6a5acd
Label=Color of surrounded area
Label[ca]=Color d'àrea envoltada
Label[en_GB]=Colour of surrounded area
Label[es]=Color de las regiones cerradas
Label[fr]=Couleur des zones fermées
Label[no]=Farge på området rundt
Label[sk]=Farba okolnej plochy
Label[sv]=Färg på den omgivande area
Label[wa]=Coleur des ressereyes redjions

Comment=Color for filling completely closed off areas.
Comment[ca]=Color per pintar àrees completament tancades.
Comment[en_GB]=Colour for filling completely closed off areas.
Comment[es]=Color de las regiones completamente cerradas.
Comment[fi]=Täysin katettujen alueiden väri.
Comment[fr]=Couleur des zones entièrement fermées.
Comment[sk]=Farba úplne uzavretej plochy
Comment[sv]=Färg för att fylla i områden som är helt avskurna.
Comment[wa]=Li coleur po les redjions ki sont tot etîres ressereyes.

[Arg7]
Name=Bridge
Name[es]=Puente
Name[fi]=Silta
Name[ja]=¶¶
Name[no]=Bro
Name[sk]=Most
Name[sv]=Bro
Name[wa]=Pônt
Type=Check
Flag=-bridge
Flag2=
LeftLabel=Put a bridge over the logo?
LeftLabel[az]=Loqo üstündæn körpü keçirim?
LeftLabel[ca]=Posar un pont sobre el logo
LeftLabel[de]=EIne Brücke über das Logo setzen?
LeftLabel[es]=¿ Crear un puente que pase por encima del logotipo ?
LeftLabel[fr]=Mettre un pont au dessus du logo?
LeftLabel[no]=Sett inn en bro over logoen?
LeftLabel[sk]=Koridor cez logo?
LeftLabel[sl]=Postavi most nad logotip?
LeftLabel[sv]=Bro över logotypen?
LeftLabel[wa]=Mete on pont ki passe hoûte do logo di X Window ?

Comment=Controls whether or not a 'bridge' will appear over the logo.
Comment[ca]=Controla si es posarà un «pont» sobre el logo.
Comment[es]=Controla si se debe crear o no un puente por encima del logotipo.
Comment[fi]=Määrittää, viekö logon yli silta.
Comment[fr]=Contrôle si un pont apparait au dessus du logo.
Comment[sk]=Nastavenie, èi má by» cez logo koridor.
Comment[sv]=Avgör om en det ska finnas en bro över logotypen.
Comment[wa]=Defini s' i fåt mete on pont å dzeu do logo di X Window.

