[Desktop Entry]
Name=Maze
Name[ca]=Laberint
Name[da]=Labyrint
Name[de]=Labyrinth
Name[es]=Laberinto
Name[fi]=Sokkelo
Name[fr]=Labyrinthe
Name[ja]=ÌÂÏ©
Name[no]=Labyrint
Name[ru]=ìÁÂÉÒÉÎÔ
Name[sk]=Labyrint
Name[sl]=Labirint
Name[sv]=Labyrint
Name[uk]=ìÁÂ¦ÒÉÎÔ
Comment=Repeatedly create and solve a maze
Comment[ca]=Crea i resol laberints contínuament.
Comment[da]=Laver og løser labyrinter
Comment[de]=Fortlaufendes Erzeugen und Lösen des Labyrinths
Comment[es]=Crea y resuelve lanerintos
Comment[fi]=Luo ja ratkaise labyrintti toistuvasti
Comment[fr]=Créé et résout un labyrinthe répétitivement
Comment[no]=Lag og løs en labyrint gjentatte ganger
Comment[ru]=óÏÚÄÁ×ÁÔØ É ĞÒÏÈÏÄÉÔØ ÌÁÂÉÒÉÎÔ
Comment[sk]=Dookola vytvára a rie¹i bludiská
Comment[sl]=Vedno znova ustvari in re¹i labirint
Comment[sv]=Skapa och lös en labyrint om och om igen
Comment[uk]=ğÏÓÔ¦ÊÎÏ ÓÔ×ÏÒÀ×ÁÔÉ ¦ ÒÏÚ×'ÑÚÕ×ÁÔÉ ÌÁÂ¦ÒÉÎÔ
Exec=xscreensaver-command -activate
TryExec=maze
Terminal=0
Type=Application

[Screensaver Data]
WindowIdCommand=-window-id
RootCommand=-root
Icon=maze.png
Author=Copyright (C) 1988 by Sun Microsystems, Inc.
Author[da]=Copyright © 1988 by Sun Microsystems, Inc.
Author[de]=Copyright (C) 1988 by Sun Microsystems, Inc.
Author[es]=Copyright (C) 1988 de Sun Microsystems, Inc.
Author[fr]=Copyright (C) 1988 by Sun Microsystems, Inc.
Author[hu]=Copyright (C) 1988 by Sun Microsystems, Inc.
Author[ja]=Copyright (C) 1988 by Sun Microsystems, Inc.
Author[no]=Copyright © 1988, Sun Microsystems, Inc.
Author[ru]=á×ÔÏÒÓËÏÅ ĞÒÁ×Ï (C) 1988 by Sun Microsystems, Inc.
Author[sk]=Copyright (C) 1988 Sun Microsystems, Inc.
Author[sl]=Avtorske pravice pridr¾ane (C) 1988 by Sun Microsystems, Inc.
Author[sv]=Copyright © 1988 av Sun Microsystems, Inc.
Author[uk]=Copyright ¿ 1988 by Sun Microsystems, Inc.
Author[wa]=Copyright © 1988 Sun Microsystems, Inc.
ExtendedComment=The maze program creates a random maze and then solves it with graphical feedback.
Demo=maze -grid-size 10

[Arg0]
Name=Speed Delay
Name[da]=Hastighedsventetid
Name[de]=Geschw.-Verzögerung
Name[es]=Retardo de la velocidad
Name[fi]=Nopeusviive
Name[no]=Fartspause
Name[ru]=úÁÄÅÒÖËÁ ÓËÏÒÏÓÔÉ
Name[sk]=Rıchlos»
Name[sl]=Premor hitrosti
Name[sv]=Väntetid
Name[uk]=úÁÔÒÉÍËÁ Û×ÉÄËÏÓÔ¦
Type=LRange
LeftLabel=Less Delay
LeftLabel[az]=Daha Qısa Gecikmæ
LeftLabel[ca]=Menor
LeftLabel[da]=Kortere tid
LeftLabel[de]=Geringere Verzögerung
LeftLabel[el]=Ëéãüôåñç Êáèõóôİñçóç
LeftLabel[es]=Menos tiempo
LeftLabel[fr]=Plus court
LeftLabel[ja]=ÃÙ±ä:¾¯
LeftLabel[no]=Kortere pause
LeftLabel[ru]=úÁÄÅÒÖËÁ ÍÅÎØÛÅ
LeftLabel[sk]=Krat¹ie
LeftLabel[sl]=Majhen premor
LeftLabel[sv]=Mindre tid
LeftLabel[uk]=íÅÎÛÁ ÚÁÔÒÉÍËÁ

RightLabel=More Delay
RightLabel[az]=Daha Uzun Gecikmæ
RightLabel[ca]=Major
RightLabel[da]=Længere tid
RightLabel[de]=Größere Verzögerung
RightLabel[el]=Ğåñéóóüôåñç Êáèõóôİñçóç
RightLabel[es]=Más tiempo
RightLabel[fr]=Plus long
RightLabel[ja]=ÃÙ±ä:Âç
RightLabel[no]=Lengre pause
RightLabel[ru]=úÁÄÅÒÖËÁ ÂÏÌØÛÅ
RightLabel[sk]=Dlh¹ie
RightLabel[sl]=Velik premor
RightLabel[sv]=Mer tid
RightLabel[uk]=â¦ÌØÛÁ ÚÁÔÒÉÍËÁ

Flag=-solve-delay
ValType=I[1000-100000]=5000
Label=Delay between each step in the maze.
Label[az]=Labirintin hær addımında gecik.
Label[ca]=Retard entre passos al laberint
Label[da]=Ventetid mellem hvert skridt i labyrinten.
Label[de]=Verzögerung zwischen jedem Schritt im Labyrinth.
Label[el]=Êáèõóôİñçóç ìåôáîŞ êÜèå âŞìáôïò óôï ëáâıñéíèï.
Label[es]=Demora entre dos pasos en el laberinto
Label[fr]=Délai entre chaque pas dans le labyrinthe
Label[no]=Pause mellom hvert steg i labyrinten.
Label[ru]=úÁÄÅÒÖËÁ ÍÅÖÄÕ ËÁÖÄÙÍ ÛÁÇÏÍ × ÌÁÂÉÒÉÎÔÅ.
Label[sk]=Prestávky medzi krokmi v bludisku.
Label[sl]=Premor med vsakim korakom poti.
Label[sv]=Tid mellan varje steg i labyrinten.
Label[uk]=úÁÔÒÉÍËÁ Í¦Ö ËÒÏËÁÍÉ × ÌÁÂ¦ÒÉÎÔ¦.

Comment=The delay (in microseconds) between each step of the solution path.
Comment[ca]=Retard (en microsegons) entre cada pas del camí solució.
Comment[da]=Ventetiden (i mikrosekunder) mellem hvert skridt i løsningsruten.
Comment[de]=Die Verzögerung (in ms) zwischen jedem Schritt des Lösungsweges.
Comment[fi]=Viive (mikrosekunteina) jokaisen ratkaisuaskeleen jälkeen.
Comment[fr]=Le délai (en microsecondes) entre chaque pas lors de la résolution.
Comment[no]=Pausen (i mikrosekunder) mellom hvert steg i løsningsstien.
Comment[ru]=úÁÄÅÒÖËÁ (× ÍÉËÒÏÓÅËÕÎÄÁÈ) ÍÅÖÄÕ ËÁÖÄÙÍ ÛÁÇÏÍ × ÒÅÛÅÎÉÉ.
Comment[sl]=Premor (v mikrosekundah) med vsakim korakom poti.
Comment[sv]=Tiden (i mikrosekunder) mellan varje steg i lösningen.

[Arg1]
Name=Pre-Solving Delay
Name[da]=Ventetid før løsning
Name[de]=Verzögerung vor gelöstem Rätsel
Name[fi]=Ratkaisua edeltävä viive
Name[no]=Pause før løsning
Name[ru]=úÁÄÅÒÖËÁ ĞÅÒÅÄ ÒÅÛÅÎÉÅÍ
Name[sk]=Pauza pred vyrie¹ením
Name[sl]=Premor pred re¹evanjem
Name[sv]=Tid efter lösning
Name[uk]=úÁÔÒÉÍËÁ ĞÅÒÅÄ ÒÏÚ×'ÑÚÕ×ÁÎÎÑÍ
Type=LRange
LeftLabel=Less Delay
LeftLabel[az]=Daha Qısa Gecikmæ
LeftLabel[ca]=Menor
LeftLabel[da]=Kortere tid
LeftLabel[de]=Geringere Verzögerung
LeftLabel[el]=Ëéãüôåñç Êáèõóôİñçóç
LeftLabel[es]=Menos tiempo
LeftLabel[fr]=Plus court
LeftLabel[ja]=ÃÙ±ä:¾¯
LeftLabel[no]=Kortere pause
LeftLabel[ru]=úÁÄÅÒÖËÁ ÍÅÎØÛÅ
LeftLabel[sk]=Krat¹ie
LeftLabel[sl]=Majhen premor
LeftLabel[sv]=Mindre tid
LeftLabel[uk]=íÅÎÛÁ ÚÁÔÒÉÍËÁ

RightLabel=More Delay
RightLabel[az]=Daha Uzun Gecikmæ
RightLabel[ca]=Major
RightLabel[da]=Længere tid
RightLabel[de]=Größere Verzögerung
RightLabel[el]=Ğåñéóóüôåñç Êáèõóôİñçóç
RightLabel[es]=Más tiempo
RightLabel[fr]=Plus long
RightLabel[ja]=ÃÙ±ä:Âç
RightLabel[no]=Lengre pause
RightLabel[ru]=úÁÄÅÒÖËÁ ÂÏÌØÛÅ
RightLabel[sk]=Dlh¹ie
RightLabel[sl]=Velik premor
RightLabel[sv]=Mer tid
RightLabel[uk]=â¦ÌØÛÁ ÚÁÔÒÉÍËÁ

Flag=-pre-delay
ValType=I[1000000-5000000]=2000000
Label=Delay between drawing the maze and starting the solution.
Label[az]=Labirint çækilmæsi ilæ hælli arasında fasilæ ver.
Label[ca]=Retard entre dibuixar laberint i començar resolució
Label[da]=Ventetid mellem labyrinten optegnes og løsningen vises
Label[de]=Zeit zwischen Zeichnen des Labyrinths und Starten es zu lösen.
Label[el]=Êáèõóôİñçóç ìåôáîı ó÷åäßáóçò ôïõ ëáâõñßíèïõ êáé åêêßíçóçò ôçò ëıóçò.
Label[es]=Demora antes de la resolución
Label[fr]=Délai entre le dessin du labyrinthe et le début de sa résolution.
Label[no]=Pause mellom tegning av labyrinten og start på løsningen.
Label[ru]=úÁÄÅÒÖËÁ ÍÅÖÄÕ ÏÔÒÉÓÏ×ËÏÊ ÌÁÂÉÒÉÎÔÁ É ÚÁĞÕÓËÏÍ ÒÅÛÅÎÉÑ.
Label[sk]=Èakanie medzi kreslením bludiska a zaèiatkom hµadania.
Label[sl]=Premor med risanjem zidu in zaèetkom re¹evanja.
Label[sv]=Tid mellan det att labyrinten ritats och lösningen påbörjas.

Comment=The delay (in microseconds) between generating a maze and starting to solve it.

[Arg2]
Name=Post-Solving Delay
Name[da]=Ventetid efter løsning
Name[de]=Verzögerung nach gelöstem Rätsel
Name[fi]=Ratkaisun jälkeinen viive
Name[no]=Pause etter løsning
Name[ru]=úÁÄÅÒÖËÁ ĞÏÓÌÅ ÒÅÛÅÎÉÑ
Name[sk]=Pauza po vyrie¹ení
Name[sl]=Premor po re¹evanju
Name[sv]=Tid före lösning
Name[uk]=úÁÔÒÉÍËÁ Ğ¦ÓÌÑ ÒÏÚ×'ÑÚÕ×ÁÎÎÑ
Type=LRange
LeftLabel=Less Delay
LeftLabel[az]=Daha Qısa Gecikmæ
LeftLabel[ca]=Menor
LeftLabel[da]=Kortere tid
LeftLabel[de]=Geringere Verzögerung
LeftLabel[el]=Ëéãüôåñç Êáèõóôİñçóç
LeftLabel[es]=Menos tiempo
LeftLabel[fr]=Plus court
LeftLabel[ja]=ÃÙ±ä:¾¯
LeftLabel[no]=Kortere pause
LeftLabel[ru]=úÁÄÅÒÖËÁ ÍÅÎØÛÅ
LeftLabel[sk]=Krat¹ie
LeftLabel[sl]=Majhen premor
LeftLabel[sv]=Mindre tid
LeftLabel[uk]=íÅÎÛÁ ÚÁÔÒÉÍËÁ

RightLabel=More Delay
RightLabel[az]=Daha Uzun Gecikmæ
RightLabel[ca]=Major
RightLabel[da]=Længere tid
RightLabel[de]=Größere Verzögerung
RightLabel[el]=Ğåñéóóüôåñç Êáèõóôİñçóç
RightLabel[es]=Más tiempo
RightLabel[fr]=Plus long
RightLabel[ja]=ÃÙ±ä:Âç
RightLabel[no]=Lengre pause
RightLabel[ru]=úÁÄÅÒÖËÁ ÂÏÌØÛÅ
RightLabel[sk]=Dlh¹ie
RightLabel[sl]=Velik premor
RightLabel[sv]=Mer tid
RightLabel[uk]=â¦ÌØÛÁ ÚÁÔÒÉÍËÁ

Flag=-post-delay
ValType=I[1000000-8000000]=4000000
Label=Delay between finishing the maze and starting a new one.
Label[az]=Labirint sonlanmsı ilæ yenisinin başladılması arasında fasilæ ver.
Label[da]=Ventetid mellem labyrintet er slut og en ny starter
Label[de]=Verzögerung zwischen Lösen des Labyrinths und Starten eines neuen.
Label[el]=Êáèõóôİñçóç ìåôáîı ôïõ ôåñìáôéóìïı åíüò ëáâõñßíèïõ êáé åêêßíçóçò íİïõ.
Label[es]=Demora después de la resolución
Label[fr]=Délai après la résolution d'un labyrinthe et le début d'un nouveau.
Label[no]=Pause mellom løsing av labyrinten og start av en ny.
Label[ru]=úÁÄÅÒÖËÁ ÍÅÖÄÕ ĞÒÏÈÏÖÄÅÎÉÅÍ ÌÁÂÉÒÉÎÔÁ É ÚÁĞÕÓËÏÍ ÎÏ×ÏÇÏ.
Label[sk]=Èakanie medzi dokonèením hµadania a zaèiatkom nového bludiska.
Label[sl]=Premor med konèanjem labirinta in zaèetkom novega.
Label[sv]=Tid mellan det att labyrinten är avklarad och en ny startar.

Comment=The delay (in microseconds) after solving a maze and before generating a new one.

[Arg3]
Name=Live Color
Name[da]=I live-farve
Name[es]=Color vivo
Name[fi]=Elävä väri
Name[no]=Levende farge
Name[ru]=öÉ×ÏÊ Ã×ÅÔ
Name[sk]=®ivá farba
Name[sl]=®iva barva
Name[sv]=Levande färg
Name[uk]=öÉ×ÉÊ ËÏÌ¦Ò
Type=Color
Flag=-live-color
ValType=Color=#00ff00
Label=Color of path
Label[ca]=Color del camí
Label[da]=Farve for rute
Label[de]=Farbe eine Pfades
Label[en_GB]=Colour of path
Label[es]=Color del camino
Label[fr]=Couleur du chemin
Label[no]=Farge på sti
Label[ru]=ã×ÅÔ ĞÕÔÉ
Label[sk]=Farba cesty
Label[sl]=Barva poti
Label[sv]=Färg på vägen
Label[uk]=ëÏÌ¦Ò ÛÌÑÈÕ
Label[wa]=Coleur do tchmin

Comment=The color of the path.
Comment[ca]=El color del camí.
Comment[da]=Farven af stien.
Comment[de]=Die Farbe des Pfades.
Comment[en_GB]=The colour of the path.
Comment[es]=El color del camino activo.
Comment[fi]=Polun väri.
Comment[fr]=La couleur du chemin.
Comment[no]=Farge på stien.
Comment[ru]=ã×ÅÔ ĞÕÔÉ.
Comment[sk]=Farba cesty.
Comment[sl]=Barva poti.
Comment[sv]=Färg på vägen.
Comment[uk]=ëÏÌ¦Ò ÛÌÑÈÕ.
Comment[wa]=Li coleur do tchmin a shûve.

[Arg4]
Name=Dead Color
Name[da]=Død farve
Name[es]=Color muerto
Name[fi]=Kuollut väri
Name[no]=Død farge
Name[ru]=íÅÒÔ×ÙÊ Ã×ÅÔ
Name[sk]=Màtva farba
Name[sl]=Mrtva barva
Name[sv]=Död färg
Name[uk]=íÅÒÔ×ÉÊ ËÏÌ¦Ò
Type=Color
Flag=-dead-color
ValType=Color=#ff0000
Label=Color of failed path
Label[ca]=Color del camí fallat
Label[da]=Farve for mislykket rute
Label[de]=Farbe eines gescheiterten Pfades
Label[en_GB]=Colour of failed path
Label[es]=Color de los caminos fallidos
Label[fr]=Couleur du chemin après un échec
Label[no]=Farge på feil sti
Label[ru]=ã×ÅÔ ÏÛÉÂÏŞÎÙÈ ĞÕÔÅÊ
Label[sk]=Farba nesprávnej cesty
Label[sl]=Barva neuspe¹ne poti
Label[sv]=Färg på en misslyckad väg
Label[uk]=ëÏÌ¦Ò ÎÅ×¦ÒÎÏÇÏ ÛÌÑÈÕ
Label[wa]=Coleur des måvas tchmins

Comment=The color of a failed path (stippled with a 50% pattern)
Comment[ca]=El color del camí fallat (ocult amb un patró al 50%).
Comment[da]=Farven af en mislykket rute (stiplet med et 50% mønster)
Comment[de]=Die Farbe des Fehlpfades (mit 50% Muster getüpfelt)
Comment[en_GB]=The colour of a failed path (stippled with a 50% pattern)
Comment[es]=Color de los caminos que no llevaron a ningún lado
Comment[fi]=Umpikujien väri (pilkuttuu puoliksi taustavärillä)
Comment[fr]=Couleur du chemin après un échec (couplé a 50% avec un motif)
Comment[no]=Fargen på en feilet sti (stiplet med et 50% mønster)
Comment[ru]=ã×ÅÔ ÏÛÉÂÏŞÎÙÈ ĞÕÔÅÊ (50% ÚÁĞÏÌÎÅÎÉÅ ÛÁÂÌÏÎÏÍ)
Comment[sk]=Farba nesprávnej cesty (50% vzor)
Comment[sl]=Barva neuspe¹ne poti (50% sivina)
Comment[sv]=Färg på en misslyckad stig (blandat med ett 50%-igt mönster
Comment[wa]=Li coleur des måvas tchmins (rimpli a 50% avou on motif)

[Arg5]
Name=Skip Color
Name[da]=Overspringsfarve
Name[de]=Farbe überspringen
Name[es]=Saltar color
Name[fi]=Ohitettu väri
Name[no]=Hopp over farge
Name[ru]=ğÒÏĞÕÓÔÉÔØ Ã×ÅÔ
Name[sk]=Farba preskoèenia
Name[sl]=Preskoèi barvo
Name[sv]=Överhoppad färg
Name[uk]=ëÏÌ¦Ò ĞÒÏĞÕÓËÕ
Type=Color
Flag=-skip-color
ValType=Color=#ffa500
Label=Color of a skipped path
Label[ca]=Color del camí salta
Label[da]=Farve for oversprunget rute
Label[de]=Farbe eines übersprungenen Pfades
Label[en_GB]=Colour of a skipped path
Label[es]=Color de los caminos descartados
Label[fr]=Couleur d'évitemment
Label[no]=Farger på oversett sti
Label[ru]=ã×ÅÔ ĞÒÏĞÕİÅÎÎÙÈ ĞÕÔÅÊ
Label[sk]=Farba preskoèenej cesty
Label[sl]=Barva preskoèene poti
Label[sv]=Färg på en skippad väg
Label[uk]=ëÏÌ¦Ò ĞÒÏĞÕİÅÎÏÇÏ ÛÌÑÈÕ
Label[wa]=Coleur des leyis tchmins

Comment=If the solver can "see" the end of a corridor it will color it this color.

[Arg6]
Name=Surround Color
Name[da]=Omgivende farve
Name[de]=Umgebungsfarbe
Name[fi]=Ympäröivä väri
Name[no]=Omring farge
Name[ru]=ïËÒÕÖÁÀİÉÊ Ã×ÅÔ
Name[sk]=Farba okolia
Name[sl]=Barva okolja
Name[sv]=Omgivande färg
Name[uk]=ëÏÌ¦Ò ÏÔÏŞÅÎÎÑ
Type=Color
Flag=-surround-color
ValType=Color=#6a5acd
Label=Color of surrounded area
Label[ca]=Color d'àrea envoltada
Label[da]=Farve for omkringliggende areal
Label[de]=Farbe eines umschlossenen Bereiches
Label[en_GB]=Colour of surrounded area
Label[es]=Color de las regiones cerradas
Label[fr]=Couleur des zones fermées
Label[no]=Farge på området rundt
Label[ru]=ã×ÅÔ ÏËÒÕÖÁÀİÅÊ ÏÂÌÁÓÔÉ
Label[sk]=Farba okolnej plochy
Label[sl]=Barva mrtvih polj
Label[sv]=Färg på den omgivande area
Label[uk]=ëÏÌ¦Ò ÏÔÏŞÅÎÏ§ Ä¦ÌÑÎËÉ
Label[wa]=Coleur des ressereyes redjions

Comment=Color for filling completely closed off areas.
Comment[ca]=Color per pintar àrees completament tancades.
Comment[da]=Farve for helt aflukkede steder.
Comment[de]=Farbe um vollständig abgeschlossene Bereiche zu markieren.
Comment[en_GB]=Colour for filling completely closed off areas.
Comment[es]=Color de las regiones completamente cerradas.
Comment[fi]=Täysin katettujen alueiden väri.
Comment[fr]=Couleur des zones entièrement fermées.
Comment[no]=Farge for å fylle helt avlukkede områder.
Comment[ru]=ã×ÅÔ ÚÁĞÏÌÎÅÎÉÑ ĞÏÌÎÏÓÔØÀ ÚÁÍËÎÕÔÙÈ ÏÂÌÁÓÔÅÊ.
Comment[sk]=Farba úplne uzavretej plochy
Comment[sl]=Barva za polnjenje popolnoma zaprtih obmoèij.
Comment[sv]=Färg för att fylla i områden som är helt avskurna.
Comment[uk]=ëÏÌ¦Ò ÚÁĞÏ×ÎÅÎÎÑ ĞÏ×Î¦ÓÔÀ ÚÁÍËÎÕÔÉÈ Ä¦ÌÑÎÏË.
Comment[wa]=Li coleur po les redjions ki sont tot etîres ressereyes.

[Arg7]
Name=Bridge
Name[da]=Bro
Name[de]=Brücke
Name[es]=Puente
Name[fi]=Silta
Name[ja]=¶¶
Name[no]=Bro
Name[ru]=íÏÓÔ
Name[sk]=Most
Name[sl]=Most
Name[sv]=Bro
Name[uk]=í¦ÓÔ
Name[wa]=Pônt
Type=Check
Flag=-bridge
Flag2=
LeftLabel=Put a bridge over the logo?
LeftLabel[az]=Loqo üstündæn körpü keçirim?
LeftLabel[ca]=Posar un pont sobre el logo
LeftLabel[da]=Anbring en bro over logoet
LeftLabel[de]=Eine Brücke über das Logo setzen?
LeftLabel[el]=Ôïğïèİôçóç ãİöõñáò åğÜíù áğü ôï ëïãüôõğï;
LeftLabel[es]=¿ Crear un puente que pase por encima del logotipo ?
LeftLabel[fr]=Mettre un pont au dessus du logo?
LeftLabel[no]=Sett inn en bro over logoen?
LeftLabel[ru]=ğÏÍÅÓÔÉÔØ ÍÏÓÔ ŞÅÒÅÚ ÜÍÂÌÅÍÕ?
LeftLabel[sk]=Koridor cez logo?
LeftLabel[sl]=Postavi most nad logotip?
LeftLabel[sv]=Bro över logotypen?
LeftLabel[wa]=Mete on pont ki passe hoûte do logo di X Window ?

Comment=Controls whether or not a 'bridge' will appear over the logo.
Comment[ca]=Controla si es posarà un «pont» sobre el logo.
Comment[da]=Vælger om en \"bro\" dukker op over logoet.
Comment[de]=Soll eine 'Brücke' über dem Logo erscheinen?
Comment[es]=Controla si se debe crear o no un puente por encima del logotipo.
Comment[fi]=Määrittää, viekö logon yli silta.
Comment[fr]=Contrôle si un pont apparait au dessus du logo.
Comment[no]=Kontrollerer om en 'bro' skal komme til syne over logoen.
Comment[ru]=âÕÄÅÔ ÌÉ \"ÍÏÓÔ\" ĞÅÒÅËÉÎÕÔ ŞÅÒÅÚ ÜÍÂÌÅÍÕ.
Comment[sk]=Nastavenie, èi má by» cez logo koridor.
Comment[sl]=Nastavi ali naj se 'most' postavi nad logotip.
Comment[sv]=Avgör om en det ska finnas en bro över logotypen.
Comment[wa]=Defini s' i fåt mete on pont å dzeu do logo di X Window.

