[Desktop Entry]
Name=Moebius
Name[da]=Moebius
Name[de]=Moebius
Name[es]=Moebius
Name[fi]=Möbius
Name[fr]=Moebius
Name[hu]=Moebius
Name[ja]=¥á¥Ó¥¦¥¹
Name[no]=Moebius
Name[ru]=í£ÂÉÕÓ
Name[sk]=Moebius
Name[sl]=Mobiusov trak
Name[sv]=Möbius
Name[uk]=íØÏÂ¦ÕÓ
Name[wa]=Moebius
Comment=M.C. Escher inspired ants.. in 3d
Comment[da]=M.C. Escher-inspirede myrer i tre dimensioner
Comment[de]=M.C. Escher inspirierte Ameisen.. in 3D
Comment[es]=Hormigas inspiradas de M.C. EScher... en 3 dimensiones
Comment[fi]=Escherin inspiroimia muurahaisia 3-ulotteisena
Comment[fr]=Fourmis inspirés de M.C. Escher... en 3D
Comment[no]=M.C Escher inspirerte maur.. i 3D
Comment[ru]=íÕÒÁ×ØÉ ÎÁ×ÅÑÎÎÙÅ üÛÅÒÏÍ... × 3D
Comment[sk]=Mravce in¹pirované M.C. Escherom v 3D
Comment[sl]=Mravlje inspirirane po M.C. Escherju.. v 3d
Comment[sv]=Myror, inspirerade av M.C. Escher, i 3D
Comment[wa]=Des frumixhes inspireyes da M.C. Escher... è 3D
Exec=xscreensaver-command -activate
TryExec=moebius
Terminal=0
Type=Application

[Screensaver Data]
WindowIdCommand=-window-id
RootCommand=-root
Demo=moebius


