[Desktop Entry]
Name=Morph3d
Name[da]=Blomstermorf
Name[de]=Morph3D
Name[fi]=3D-muodonmuutos
Name[fr]=Morph3d
Name[hu]=Morph3d
Name[ja]=•‚°º•’ 3D
Name[no]=Morph3D
Name[ru]=Ìœ“∆3D
Name[sk]=Morf3D
Name[sl]=Morph3d
Name[sv]=Morph3D
Comment=A 3d flower morphs into a sphear
Comment[da]=En 3-dimensional blomst morfes til en kugleform
Comment[de]=Eine 3D-Blume verwandelt sich in eine Kugel
Comment[fi]=3-ulotteinen kukka muotoutuu palloksi
Comment[fr]=Une fleur 3D qui se dÈforme en sphÈre
Comment[ja]=3 º°∏µ§Œ≤÷§¨µÂ§À —∑¡
Comment[no]=En 3D-blomst morfes til en sfÊre
Comment[ru]=Ù“≈»Õ≈“ŒŸ  √◊≈‘œÀ –“≈◊“¡›¡¿›… ”— ◊ ”∆≈“’
Comment[sk]=3D kvet sa menÌ na guµu
Comment[sl]=3D roæa se morfira v sfero
Comment[sv]=En 3D-blomma morfar till ett klot
Exec=xscreensaver-command -activate
TryExec=morph3d
Terminal=0
Type=Application

[Screensaver Data]
WindowIdCommand=-window-id
RootCommand=-root
Demo=morph3d


