[Desktop Entry]
Name=Noseguy
Name[ca]=Nassot
Name[da]=NÊsefyr
Name[de]=Nasentyp
Name[es]=Narigudo
Name[fi]=Nen‰k‰s
Name[hu]=Noseguy
Name[no]=Nesefyr
Name[ru]=Óœ”¡‘Ÿ 
Name[sk]=Nos·Ë
Name[sl]=Nosonja
Name[sv]=N‰skille
Comment=
Exec=xscreensaver-command -activate
TryExec=noseguy
Terminal=0
Type=Application

[Screensaver Data]
WindowIdCommand=-window-id
RootCommand=-root
Icon=noseguy.png
Author=
ExtendedComment=
Demo=noseguy
