[Desktop Entry]
Name=Penrose
Name[ca]=Penrose
Name[da]=Isometriske roser
Name[de]=Penrose
Name[fi]=Penrose
Name[fr]=Penrose
Name[hu]=Penrose
Name[ja]=¥Ú¥ó¥í¡¼¥º
Name[no]=Pennerose
Name[ru]=ğÅÎÒÏÕÚ
Name[sk]=Penrose
Name[sl]=Tlakovanje
Name[sv]=Penrose
Name[uk]=ğÅÎÒÏÕÚ
Comment=
Exec=xscreensaver-command -activate
TryExec=penrose
Terminal=0
Type=Application

[Screensaver Data]
WindowIdCommand=-window-id
RootCommand=-root
Icon=penrose.png
Author=
ExtendedComment=
Demo=penrose -delay 2
