[Desktop Entry]
Name=Phosphor
Name[da]=Eftergl¯d
Name[de]=Leuchtstoff
Name[fi]=Fosfori
Name[fr]=Phosphore
Name[hu]=Phosphor
Name[no]=Fosfor
Name[ru]=Êœ”∆œ“
Name[sk]=FosfÛr
Name[sl]=Fosfor
Name[sv]=Fosfor
Name[uk]=Êœ”∆œ“
Comment=Draws a simulation of an old terminal, with large pixels and long-sustain phosphor.
Exec=xscreensaver-command -activate
TryExec=phosphor
Terminal=0
Type=Application

[Screensaver Data]
WindowIdCommand=-window-id
RootCommand=-root
Icon=phosphor.png
Author=Jamie Zawinski <jwz@jwz.org>
Author[da]=Jamie Zawinski <jwz@jwz.org>
Author[de]=Jamie Zawinski <jwz@jwz.org>
Author[fr]=Jamie Zawinski <jwz@jwz.org>
Author[hu]=Jamie Zawinski <jwz@jwz.org>
Author[ja]=Jamie Zawinski <jwz@jwz.org>
Author[no]=Jamie Zawinski <jwz@jwz.org>
Author[ru]=Jamie Zawinski <jwz@jwz.org>
Author[sk]=Jamie Zawinski <jwz@jwz.org>
Author[sl]=Jamie Zawinski <jwz@jwz.org>
Author[sv]=Jamie Zawinski <jwz@jwz.org>
Author[uk]=‰÷≈Õ¶ ˙¡◊¶Œ”À¶  <jwz@jwz.org>
Author[wa]=Jamie Zawinski <jwz@jwz.org>
ExtendedComment=
Demo=phosphor -delay 2
