[Desktop Entry]
Name=Rd-bomb
Name[ca]=Bomba RD
Name[da]=Reaktions-/diffusionsbombe
Name[de]=Rd-Bombe
Name[fi]=Rd-bomb
Name[fr]=Rd-bombe
Name[hu]=Rd-bomb
Name[no]=Rd-bombe
Name[ru]=Rd-бомба
Name[sk]=Bomba RD
Name[sl]=Rd-bomba
Name[sv]=Rd-bomb
Name[uk]=Rd-бомба
Comment=
Exec=xscreensaver-command -activate
TryExec=rd-bomb
Terminal=0
Type=Application

[Screensaver Data]
WindowIdCommand=-window-id
RootCommand=-root
Icon=rd-bomb.png
Author=
ExtendedComment=
Demo=rd-bomb -delay 2
