[Desktop Entry]
Name=Ripples
Name[da]=Krusninger
Name[fi]=VДreitД
Name[no]=BЬlger
Name[ru]=Рябь
Name[sk]=VodnА hladina
Name[sl]=ValovХki
Name[sv]=VЕgor
Name[uk]=Бриж╕
Comment=Draws rippling interference patterns like splashing water.
Comment[da]=Tegner interferenskrusninger som ved plaskende vand.
Comment[no]=Tegner bЬlgende forstyrrelsesmЬnstre som plaskende vann.
Comment[ru]=Показывает шаблоны похожие на расходящиеся круги на воде.
Comment[sk]=KreslМ kruhovИ interferenХnИ obrazce, podobnИ vodnej hladine.
Comment[sl]=Ka╬e vzorce inferference kot valovanje vode.
Comment[sv]=Ritar vЕgformiga interferensmЖnster som vatten.
Comment[uk]=Малю╓ в╕зерунки схож╕ до к╕л на вод╕.
Exec=xscreensaver-command -activate
TryExec=ripples
Terminal=0
Type=Application

[Screensaver Data]
WindowIdCommand=-window-id
RootCommand=-root
Icon=ripples.png
Author=Tom Hammersley
Author[da]=Tom Hammersley
Author[de]=Tom Hammersley
Author[fr]=Tom Hammersley
Author[hu]=Tom Hammersley
Author[ja]=Tom Hammersley
Author[no]=Tom Hammersley
Author[ru]=Tom Hammersley
Author[sk]=Tom Hammersley
Author[sl]=Tom Hammersley
Author[sv]=Tom Hammersley
Author[uk]=Tom Hammersley
Author[wa]=Tom Hammersley
ExtendedComment=Draws rippling interference patterns like splashing water.
ExtendedComment[da]=Tegner interferenskrusninger som ved plaskende vand.
ExtendedComment[no]=Tegner bЬlgende forstyrrelsesmЬnstre som plaskende vann.
ExtendedComment[ru]=Показывает шаблоны похожие на расходящиеся круги на воде.
ExtendedComment[sk]=KreslМ kruhovИ interferenХnИ obrazce, podobnИ vodnej hladine.
ExtendedComment[sl]=Ka╬e vzorce inferference kot valovanje vode.
ExtendedComment[sv]=Ritar vЕgformiga interferensmЖnster som vatten.
ExtendedComment[uk]=Малю╓ в╕зерунки схож╕ до к╕л на вод╕.
Demo=ripples -oily -light 2

[Arg0]
Name=Oily
Name[da]=Olieagtig
Name[de]=жlig
Name[fi]=жljymДinen
Name[no]=Oljete
Name[ru]=Масло
Name[sk]=OlejovИ
Name[sl]=Oljno
Name[sv]=Oljig
Name[uk]=Ол╕я
Type=Check
Flag=-oily
Flag2=
LeftLabel=Display oily drops.
LeftLabel[da]=Benyt olieagtige drЕber.
LeftLabel[de]=жlige Tropfen anzeigen.
LeftLabel[fi]=PiirtДД vДreitД Жljyyn.
LeftLabel[no]=Vis oljete drЕper.
LeftLabel[ru]=Показывает расплывающиеся капли.
LeftLabel[sk]=Zobrazuje kvapky oleja.
LeftLabel[sl]=Ka╬i kapljice olja
LeftLabel[sv]=Visa oljedroppar.
LeftLabel[uk]=В╕добража╓ крапл╕ ол╕╖.
Comment=Display oily drops.
Comment[da]=Benyt olieagtige drЕber.
Comment[de]=жlige Tropfen anzeigen.
Comment[fi]=PiirtДД vДreitД Жljyyn.
Comment[no]=Vis oljete drЕper.
Comment[ru]=Показывает расплывающиеся капли.
Comment[sk]=Zobrazuje kvapky oleja.
Comment[sl]=Ka╬i kapljice olja
Comment[sv]=Visa oljedroppar.
Comment[uk]=В╕добража╓ крапл╕ ол╕╖.

[Arg1]
Name=Stir
Name[da]=RЬr rundt
Name[fi]=Sekoitin
Name[no]=RЬr
Name[ru]=Движение
Name[sk]=Rozruch
Name[sl]=Preme╧aj
Name[sv]=RЖr om
Name[uk]=Рух
Type=Check
Flag=-stir
Flag2=
LeftLabel=Stir.
LeftLabel[da]=RЬr rundt.
LeftLabel[no]=RЬr.
LeftLabel[ru]=Движение.
LeftLabel[sk]=Rozruch.
LeftLabel[sl]=Preme╧aj.
LeftLabel[sv]=RЖr om.
LeftLabel[uk]=Рух.
Comment=Stir it up.
Comment[da]=RЬr rundt i overfladen.
Comment[fi]=Sekoita.
Comment[no]=RЬr til.
Comment[ru]=С движением.
Comment[sk]=Rozru╧ovat ich.
Comment[sl]=Preme╧aj.
Comment[sv]=RЖr om.
Comment[uk]=З рухом.

[Arg2]
Name=Desktop
Name[ca]=Escriptori
Name[cs]=Plocha
Name[da]=Skrivebord
Name[de]=Desktop
Name[es]=Escritorio
Name[et]=TЖЖlaud
Name[eu]=Idazmahaia
Name[fi]=TyЖpЖytД
Name[fr]=Bureau
Name[gl]=Escritorio
Name[hu]=Munkaasztal
Name[ja]=╔г╔╧╔╞╔х╔ц╔в
Name[ko]=╣╔╫╨е╘е╬
Name[lt]=Darbalaukis
Name[no]=Skrivebord
Name[pl]=Biurko
Name[pt]=аrea de trabalho
Name[pt_BR]=аrea de trabalho
Name[ru]=Рабочий стол
Name[sk]=Plocha
Name[sl]=Namizje
Name[sv]=Skrivbord
Name[uk]=Робочий сл╕л
Name[wa]=Sicribanne
Name[zh_CN.GB2312]=вюцФ
Name[zh_TW.Big5]=╝Ю╜╠
Type=Check
Flag=-water
Flag2=
LeftLabel=Drip onto desktop.
LeftLabel[da]=Dryp pЕ skrivebordet.
LeftLabel[de]=Auf dem Bildschirm tropfen.
LeftLabel[fi]=VДreilytД tyЖpЖytДД.
LeftLabel[no]=Drypp pЕ skrivebordet.
LeftLabel[ru]=Капает на рабочий стол.
LeftLabel[sk]=Kvapky na plochu.
LeftLabel[sl]=Pluskaj na namizje.
LeftLabel[sv]=Droppa pЕ skrivbordet.
LeftLabel[uk]=Крапа╓ на робочий ст╕л.
Comment=Drip onto desktop.
Comment[da]=Dryp pЕ skrivebordet.
Comment[de]=Auf dem Bildschirm tropfen.
Comment[fi]=VДreilytД tyЖpЖytДД.
Comment[no]=Drypp pЕ skrivebordet.
Comment[ru]=Капает на рабочий стол.
Comment[sk]=Kvapky na plochu.
Comment[sl]=Pluskaj na namizje.
Comment[sv]=Droppa pЕ skrivbordet.
Comment[uk]=Крапа╓ на робочий ст╕л.
