[Desktop Entry]
Name=Rorschach
Name[ca]=Rorschach
Name[da]=Rorschach
Name[de]=Rorschach
Name[fi]=Rorschach
Name[fr]=Rorschach
Name[hu]=Rorschach
Name[no]=Rorschach
Name[ru]=Роршах
Name[sk]=Rorschach
Name[sl]=Rorscach
Name[sv]=Rorschach
Name[uk]=Роршах
Comment=
Exec=xscreensaver-command -activate
TryExec=rorschach
Terminal=0
Type=Application

[Screensaver Data]
WindowIdCommand=-window-id
RootCommand=-root
Icon=rorschach.png
Author=
ExtendedComment=
Demo=rorschach -delay 2
