[Desktop Entry]
Name=Shadebobs
Name[da]=Udst¯dningsskyer
Name[de]=Shadebobs
Name[hu]=Shadebobs
Name[no]=Shadebobs
Name[ru]=Ù≈Œ… €¡“…Àœ◊
Name[sk]=Shadebobs
Name[sv]=Skuggbobbor
Name[uk]=Ù¶Œ¶ À’ÃÿœÀ
Comment=Draws smoothly-shaded oscillating oval patterns which resemble vapor trails.
Exec=xscreensaver-command -activate
TryExec=shadebobs
Terminal=0
Type=Application

[Screensaver Data]
WindowIdCommand=-window-id
RootCommand=-root
Icon=shadebobs.png
Author=Shane Smit
Author[da]=Shane Smit
Author[de]=Shane Smit
Author[es]=Shane Smit
Author[hu]=Shane Smit
Author[no]=Shane Smit
Author[ru]=Shane Smit
Author[sk]=Shane Smit
Author[sl]=Shane Smit
Author[sv]=Shane Smit
Author[uk]=Shane Smit
Author[wa]=Shane Smit
ExtendedComment=
Demo=shadebobs -delay 2
