[Desktop Entry]
Name=Slip
Name[ca]=Xuclar
Name[da]=Slip
Name[fi]=Luisto
Name[ja]=スリップ
Name[no]=Skli
Name[sk]=Slip
Name[sv]=Halka
Comment=
Exec=xscreensaver-command -activate
TryExec=slip
Terminal=0
Type=Application

[Screensaver Data]
WindowIdCommand=-window-id
RootCommand=-root
Icon=slip.png
Author=
ExtendedComment=
Demo=slip -delay 2
