[Desktop Entry]
Name=Slip
Name[ca]=Xuclar
Name[da]=ForvrФngning
Name[fi]=Luisto
Name[hu]=Slip
Name[ja]=╔╧╔Й╔ц╔в
Name[no]=Skli
Name[ru]=Скольжение
Name[sk]=Slip
Name[sl]=Slip
Name[sv]=Halka
Name[uk]=Ковзання
Comment=
Exec=xscreensaver-command -activate
TryExec=slip
Terminal=0
Type=Application

[Screensaver Data]
WindowIdCommand=-window-id
RootCommand=-root
Icon=slip.png
Author=
ExtendedComment=
Demo=slip -delay 2
