[Desktop Entry]
Name=Sonar
Name[ca]=Sonar
Name[da]=Sonar
Name[de]=Sonar
Name[es]=Sonar
Name[fi]=Tutka
Name[fr]=Sonar
Name[hu]=Sonar
Name[ja]=╔╫╔й║╪
Name[no]=Sonar
Name[ru]=Радар
Name[sk]=Sonar
Name[sl]=Sonar
Name[sv]=Sonar
Name[uk]=Сонар
Comment=Display a Sonar scope.
Comment[ca]=Mostra un visor de sonar.
Comment[da]=Viser et sonarbillede.
Comment[fi]=NДyttДД tutkan nДytЖn
Comment[fr]=Affiche un Иcran sonar.
Comment[ja]=╔╫╔й║╪╔╧╔Ё║╪╔в╓Ри╫╪╗
Comment[no]=Viser et sonarbilde.
Comment[ru]=Показывает радар.
Comment[sk]=Zobrazuje sonar
Comment[sl]=Ka╬e sonarski monitor.
Comment[sv]=Visar en sonarskДrm.
Comment[uk]=В╕добразити сонар.
Exec=xscreensaver-command -activate
TryExec=sonar
Terminal=0
Type=Application

[Screensaver Data]
WindowIdCommand=-window-id
RootCommand=-root
Demo=sonar
