[Desktop Entry]
Name=Sphere
Name[ca]=Esfera
Name[da]=Kugle
Name[de]=Sph‰re
Name[es]=Esfera
Name[fi]=Pallot
Name[fr]=SphËre
Name[hu]=Sphere
Name[ja]=µÂ¬Œ
Name[no]=SfÊre
Name[ru]=Û∆≈“Ÿ
Name[sk]=Guµa
Name[sl]=Sfera
Name[sv]=Sf‰r
Name[uk]=Û∆≈“¡
Comment=
Exec=xscreensaver-command -activate
TryExec=sphere
Terminal=0
Type=Application

[Screensaver Data]
WindowIdCommand=-window-id
RootCommand=-root
Icon=sphere.png
Author=
ExtendedComment=
Demo=sphere -delay 2
