[Desktop Entry]
Name=Sproingies
Name[da]=Fjederhoppere
Name[el]=Παντογράφοι καμπυλών
Name[fi]=Pomput
Name[nn]=Sproing (GL)
Name[sl]=Stopniθke
Name[sv]=Sproingisar
Name[wa]=Foyter
Comment=Uhm.. *poing*
Comment[ca]=Uhm... *poing*
Comment[da]=Ψh... *booing*
Comment[de]=Δhm.. "pδng"
Comment[eu]=Eh..*poing*
Comment[fi]=Boinks.
Comment[fr]=Hmmm... *poing*
Comment[hu]=Hmm.. *poing*
Comment[pt]=Hummm... *poing*
Comment[ru]=οΘ.. ΠΩΝΓ
Comment[sk]=Hm.. *poing*
Comment[sl]=Hmm.. *poink*
Comment[sv]=Φhm.. *poing*
Comment[uk]=οΘ.. *ΒÒΡΪΨ*
Exec=xscreensaver-command -activate
TryExec=sproingies
Terminal=0
Type=Application

[Screensaver Data]
WindowIdCommand=-window-id
RootCommand=-root
Demo=sproingies


