[Desktop Entry]
Name=Sproingies
Name[da]=Springende spiraler
Name[de]=Sproingies
Name[fi]=Pomput
Name[no]=Sproingies
Name[sk]=Sproingies
Name[sv]=Sproingisar
Comment=Uhm.. *poing*
Comment[da]=Øh... *booing*
Comment[de]=Ähm.. \"päng\"
Comment[fi]=Boinks.
Comment[no]=Uhm.. *poing*
Comment[sk]=Hm.. *poing*
Comment[sv]=Öhm.. *poing*
Exec=xscreensaver-command -activate
TryExec=sproingies
Terminal=0
Type=Application

[Screensaver Data]
WindowIdCommand=-window-id
RootCommand=-root
Demo=sproingies


