[Desktop Entry]
Name=Sproingies
Name[da]=Fjederhoppere
Name[de]=Sproingies
Name[fi]=Pomput
Name[hu]=Sproingies
Name[no]=Sproingies
Name[ru]=Sproingies
Name[sk]=Sproingies
Name[sl]=Stopnièke
Name[sv]=Sproingisar
Comment=Uhm.. *poing*
Comment[da]=Øh... *booing*
Comment[de]=Ähm.. \"päng\"
Comment[fi]=Boinks.
Comment[hu]=Hmm.. *poing*
Comment[no]=Uhm.. *poing*
Comment[ru]=ïÈ.. ÐÙÍÃ
Comment[sk]=Hm.. *poing*
Comment[sl]=Hmm.. *poink*
Comment[sv]=Öhm.. *poing*
Comment[uk]=ïÈ.. *ÂÒÑÚØ*
Exec=xscreensaver-command -activate
TryExec=sproingies
Terminal=0
Type=Application

[Screensaver Data]
WindowIdCommand=-window-id
RootCommand=-root
Demo=sproingies


