[Desktop Entry]
Name=Strange
Name[ca]=Estrany
Name[da]=Mystik
Name[de]=Seltsam
Name[es]=Extraño
Name[fi]=Outo
Name[fr]=Étrange
Name[hu]=Strange
Name[ja]=ÉÔ»×µÄ
Name[no]=Merkelig
Name[ru]=óÔÒÁÎÎÙÊ
Name[sk]=Divnos»
Name[sl]=Èudno
Name[sv]=Konstig
Name[uk]=äÉ×ÎÉÊ
Comment=
Exec=xscreensaver-command -activate
TryExec=strange
Terminal=0
Type=Application

[Screensaver Data]
WindowIdCommand=-window-id
RootCommand=-root
Icon=strange.png
Author=
ExtendedComment=
Demo=strange -delay 2
