[Desktop Entry]
Name=Swirl
Name[ca]=RemolÌ
Name[da]=Turbulens
Name[de]=Wirbeln
Name[fi]=Pyˆrre
Name[fr]=Tourbillon
Name[hu]=Swirl
Name[no]=Swirl
Name[ru]=Û–…“¡Ãÿ
Name[sk]=VÌr
Name[sl]=Interferenca
Name[sv]=Snurra
Name[uk]=Û–¶“¡Ãÿ
Comment=
Exec=xscreensaver-command -activate
TryExec=swirl
Terminal=0
Type=Application

[Screensaver Data]
WindowIdCommand=-window-id
RootCommand=-root
Icon=swirl.png
Author=
ExtendedComment=
Demo=swirl -delay 2
