[Desktop Entry]
Name=Worm
Name[ca]=Cucs
Name[da]=Orm
Name[de]=Wurm
Name[es]=Orugas
Name[fi]=Mato
Name[fr]=Ver
Name[ja]=лсцН
Name[no]=Orm
Name[ru]=Червяк
Name[sk]=хervМk
Name[sl]=хrv
Name[sv]=Mask
Name[uk]=Хробак
Name[wa]=WarbТ
Comment=
Exec=xscreensaver-command -activate
TryExec=worm
Terminal=0
Type=Application

[Screensaver Data]
WindowIdCommand=-window-id
RootCommand=-root
Icon=worm.png
Author=
ExtendedComment=
Demo=worm -delay 2
