[Desktop Entry]
Name=Xflame
Name[de]=Xflame
Name[fi]=Xliekki
Name[fr]=Xflame
Name[no]=Xflamme
Name[sk]=Plameò
Name[sv]=Xlågor
Comment=Display flames at the bottom of the screen
Comment[de]=Flammen am unteren Bildschirmrand anzeigen
Comment[fi]=Piirtää liekkejä näytön alaosaan
Comment[sk]=Zobrazuje plamene na spodku obrazovky
Comment[sv]=Visar lågor längst ner på skärmen
Exec=xscreensaver-command -activate
TryExec=xflame
Terminal=0
Type=Application

[Screensaver Data]
WindowIdCommand=-window-id
RootCommand=-root
Demo=xflame
