[Desktop Entry]
Name=Xlyap
Name[ca]=XLyap
Name[cs]=Xlyap
Name[da]=Lyapunov
Name[de]=Xlyap
Name[fi]=Xlyap
Name[fr]=Xlyap
Name[hu]=Xlyap
Name[no]=Xlyap
Name[ru]=X-ÌÑÐ
Name[sk]=XLyap
Name[sl]=Xlyap
Name[sv]=Xlyap
Name[uk]=Xlyap
Comment=
Exec=xscreensaver-command -activate
TryExec=xlyap
Terminal=0
Type=Application

[Screensaver Data]
WindowIdCommand=-window-id
RootCommand=-root
Icon=xlyap.png
Author=
ExtendedComment=
Demo=xlyap
