[Desktop Entry]
Name=Xmatrix
Name[da]=Matrix
Name[de]=Xmatrix
Name[fi]=Xmatrix
Name[fr]=Xmatrix
Name[hu]=Xmatrix
Name[no]=Xmatrix
Name[ru]=X-Матрица
Name[sk]=Matrix
Name[sl]=Xmatrica
Name[sv]=Xmatrix
Name[uk]=Xmatrix
Comment=Screens from the movie The Matrix
Comment[da]=Sekvens fra filmen The Matrix
Comment[de]=Bildschirm vom Kinofilm `Die Matrix'
Comment[fi]=Ruutu elokuvan Matrix tapaan.
Comment[hu]=KИpek a MАtrix cМmШ filmbУl
Comment[no]=Scener fra filmen Matrix
Comment[ru]=Заставка из кинофильма \"Матрица\"
Comment[sk]=Obrazovky z filmu The Matrix
Comment[sl]=Zasloni iz filma Matrica
Comment[sv]=SkДrm frЕn filmen \"Matrix\"
Comment[uk]=Екрани з ф╕льму Матриця
Exec=xscreensaver-command -activate
TryExec=xmatrix
Terminal=0
Type=Application

[Screensaver Data]
WindowIdCommand=-window-id
RootCommand=-root
Icon=xroger.png
Author=
ExtendedComment=
Demo=xmatrix -delay 2
