[Desktop Entry]
Name=Xteevee
Name[da]=TV
Name[de]=Xteevee
Name[fi]=Xtelevisio
Name[fr]=Xteevee
Name[hu]=Xteevee
Name[ja]=X ╔ф╔Л╔с
Name[no]=Xteevee
Name[ru]=X-телевизор
Name[sk]=XTelevМzor
Name[sl]=XTV
Name[sv]=Xtv
Name[uk]=Xteevee
Comment=Simulates various television problems such as static, loss of vertical hold, and test patterns.
Exec=xscreensaver-command -activate
TryExec=xteevee
Terminal=0
Type=Application

[Screensaver Data]
WindowIdCommand=-window-id
RootCommand=-root
Icon=xteevee.png
Author=Greg Knauss
Author[da]=Greg Knauss
Author[de]=Greg Knauss
Author[fr]=Greg Knauss
Author[hu]=Greg Knauss
Author[ja]=Greg Knauss
Author[no]=Greg Knauss
Author[ru]=Greg Knauss
Author[sk]=Greg Knauss
Author[sl]=Greg Knauss
Author[sv]=Greg Knauss
Author[uk]=╫ре╜ Кнаусс
Author[wa]=Greg Knauss
ExtendedComment=Simulates various television problems such as static, loss of vertical hold, and test patterns.
Demo=xteevee -bars

[Arg0]
Name=Cycle
Name[da]=GennemlЬb
Name[es]=Ciclo
Name[fi]=Kierros
Name[fr]=Cycle
Name[no]=Syklus
Name[ru]=Цикл
Name[sk]=Dookola
Name[sl]=Kro╬i
Name[sv]=Snurra
Name[uk]=Цикл
Type=Check
Flag=-cycle
Flag2=
LeftLabel=Cycle modes.
LeftLabel[da]=Skift mellem tilstande.
LeftLabel[de]=Durchlaufmodi.
LeftLabel[ja]=╡Се╬╔Б║╪╔и
LeftLabel[no]=Gjennomgangsmodus.
LeftLabel[ru]=Цикл по режимам.
LeftLabel[sk]=Dookola v╧etky mСdy
LeftLabel[sl]=NaХini kro╬enja
LeftLabel[sv]=VДxla lДgen.
LeftLabel[uk]=Цикл режим╕в.
Comment=Cycle through all the available modes.
Comment[da]=Skift mellem alle de tilgФngelige tilstande.
Comment[de]=Durch alle verfЭgbaren Modi durchlaufen.
Comment[es]=Alterna entre todos los modos disponibles
Comment[fi]=KДy kaikki tilat lДpi.
Comment[no]=GЕ gjennom alle tilgjengelige modus.
Comment[ru]=Проходить в цикле через все доступные режимы.
Comment[sk]=MenМ dookola v╧etky mo╬nИ mСdy.
Comment[sl]=Kro╬i skozi vse mo╬ne naХine.
Comment[sv]=VДxla genom alla tillgДngliga lДgen.
Comment[uk]=Цикл через вс╕ доступн╕ режими.

[Arg1]
Name=Static
Name[da]=StЬj
Name[de]=Statik
Name[fi]=Lumisade
Name[no]=Statisk
Name[ru]=Статика
Name[sk]=Zrnenie
Name[sl]=╘um
Name[sv]=Brus
Name[uk]=Статичний
Name[wa]=StatИ
Type=Check
Flag=-static
Flag2=
LeftLabel=Display static.
LeftLabel[da]=Vis stЬj.
LeftLabel[de]=Statisch anzeigen.
LeftLabel[no]=Vis statisk stЬy.
LeftLabel[ru]=Показывать статику.
LeftLabel[sk]=Zobrazova╩ zrnenie.
LeftLabel[sl]=Ka╬i ╧um.
LeftLabel[sv]=Visa brus.
LeftLabel[uk]=Статичне в╕дображення.
Comment=Static.
Comment[da]=StЬj.
Comment[de]=Statisch.
Comment[fi]=Lumisade.
Comment[no]=Statisk.
Comment[ru]=Статика.
Comment[sk]=Zrnenie.
Comment[sl]=╘um.
Comment[sv]=Brus.
Comment[uk]=Статичний.

[Arg2]
Name=Roll
Name[da]=Rul
Name[de]=Rollen
Name[fi]=VieritД
Name[no]=Rull
Name[ru]=Вращение
Name[sk]=BehajЗci obraz
Name[sl]=Vrti
Name[sv]=Rulla
Name[uk]=Обертання
Type=Check
Flag=-roll
Flag2=
LeftLabel=Vertical roll.
LeftLabel[da]=BilledkФntring.
LeftLabel[de]=Veritkal rollen.
LeftLabel[fi]=Pystysuora vieriminen
LeftLabel[ja]=©Бд╬╓к╔╧╔╞╔М║╪╔К
LeftLabel[no]=Vertikal rulling.
LeftLabel[ru]=Вертикальное вращение.
LeftLabel[sk]=VertikАlne behanie
LeftLabel[sl]=NavpiХno vrtenje
LeftLabel[sv]=Vertikal rullning.
LeftLabel[uk]=Вертикальне обертання.
Comment=Vertical roll.
Comment[da]=BilledkФntring.
Comment[de]=Veritkal rollen.
Comment[fi]=Pystysuora vieriminen
Comment[ja]=©Бд╬╓к╔╧╔╞╔М║╪╔К
Comment[no]=Vertikal rulling.
Comment[ru]=Вертикальное вращение.
Comment[sk]=VertikАlne behanie
Comment[sl]=NavpiХno vrtenje
Comment[sv]=Vertikal rullning.
Comment[uk]=Вертикальне обертання.

[Arg3]
Name=Bars
Name[da]=BjФlker
Name[fi]=Palkit
Name[ja]=╔п║╪
Name[no]=Barrer
Name[ru]=Столбики
Name[sk]=Pruhy
Name[sl]=Pasovi
Name[sv]=Rutor
Name[uk]=Стовпчики
Type=Check
Flag=-bars
Flag2=
LeftLabel=Display color bars.
LeftLabel[da]=Vis farvebjФlker.
LeftLabel[de]=Farbleisten anzeigen.
LeftLabel[fi]=NДytД vДripalkit.
LeftLabel[ja]=╔╚╔И║╪╔п║╪╓Ри╫╪╗
LeftLabel[no]=Vis fargelinjer.
LeftLabel[ru]=Показывать цветные столбики.
LeftLabel[sk]=Zobrazi╩ farebnИ pruhy
LeftLabel[sl]=Ka╬i pasove barv.
LeftLabel[sv]=Visa fДrgade rutor.
LeftLabel[uk]=В╕добража╓ кольоров╕ стопвчики.
Comment=Display color bars.
Comment[da]=Vis farvebjФlker.
Comment[de]=Farbleisten anzeigen.
Comment[fi]=NДytД vДripalkit.
Comment[ja]=╔╚╔И║╪╔п║╪╓Ри╫╪╗
Comment[no]=Vis fargelinjer.
Comment[ru]=Показывать цветные столбики.
Comment[sk]=Zobrazi╩ farebnИ pruhy
Comment[sl]=Ka╬i pasove barv.
Comment[sv]=Visa fДrgade rutor.
Comment[uk]=В╕добража╓ кольоров╕ стопвчики.

