[Desktop Entry]
Encoding=UTF-8
Name=Calculator
Name[ar]=آلة حاسبة
Name[be]=Калькулятар
Name[bg]=Калкулатор
Name[ca]=Calculadora
Name[cs]=Kalkulátor
Name[da]=Lommeregner
Name[de]=Taschenrechner
Name[el]=Αριθμομηχανή
Name[es]=Calculadora
Name[et]=Taskuarvuti
Name[fr]=Calculatrice
Name[hu]=Számológép
Name[ja]=GNOME 電卓
Name[ko]=계산기
Name[lt]=Skaičiuotuvas
Name[lv]=Kalkulators
Name[ms]=Kalkulator
Name[nl]=Rekenmachine
Name[nn]=Kalkulator
Name[no]=Kalkulator
Name[pl]=Kalkulator
Name[pt]=Calculadora
Name[pt_BR]=Calculadora
Name[ro]=Calculator
Name[ru]=Калькулятор
Name[sk]=Kalkulačka
Name[sl]=Kalkulator
Name[sv]=Miniräknare
Name[tr]=Hesap Makinası
Name[uk]=Калькулятор
Name[vi]=Máy tính
Name[wa]=Carculete
Name[zh_CN]=计算器
Name[zh_TW]=計算機
Comment=Perform simple calculations
Comment[ar]=القيام بعمليات حسابية بسيطة
Comment[be]=Выканаць простыя вылічэньні
Comment[bg]=Позволява прости изчисления
Comment[ca]=Fa càlculs simples
Comment[cs]=Provádět jednoduché kalkulace
Comment[da]=Foretag simple beregninger
Comment[de]=Einfache Berechnungen durchführen
Comment[el]=Κάνει απλούς υπολογισμούς
Comment[es]=Realiza cálculos simples
Comment[et]=Lihtsate arvutuste jaoks
Comment[fr]=Effectue des calculs simples
Comment[hu]=Egyszerű számítások elvégzése
Comment[ja]=単純な計算をします
Comment[ko]=간단한 계산 수행
Comment[lt]=Atlikti paprastus skaičiavimus
Comment[lv]=Izdarīt vienkāršas kalkulācijas
Comment[ms]=Lakukan pengiraan ringkas
Comment[nl]=Eenvoudige berekeningen maken
Comment[nn]=Gjer enkle kalkulasjonar
Comment[no]=Utfør enkle beregninger
Comment[pl]=Kalkulator do prostych obliczeń
Comment[pt]=Executa cálculos simples
Comment[pt_BR]=Faça cálculos simples
Comment[ro]=Efectuează calcule simple
Comment[ru]=Выполнить простые вычисления
Comment[sk]=Vykoná jednoduché výpočty
Comment[sl]=Opravi enostavno računanje
Comment[sv]=Utför enkla beräkningar
Comment[tr]=Basit hesapları yapın
Comment[uk]=Здійснення простих обрахунків
Comment[vi]=Thực hiện các tính toán đơn giản
Comment[wa]=Fé des carculaedjes simpes
Comment[zh_CN]=执行简单计算
Comment[zh_TW]=可進行簡單的計算
Exec=gnome-calculator
Icon=gnome-calc3.png
Terminal=false
Type=Application
X-GNOME-DocPath=gnome-calculator/gnome-calculator.xml
Categories=GNOME;Application;Utility;
