[Desktop Entry]
Encoding=UTF-8
Name=New Server
Name[am]=አዲስ ሰርቨር
Name[be]=Новы паслужнік
Name[bg]=Нов Сървър
Name[ca]=Nou servidor
Name[cs]=Nový server
Name[da]=Ny server
Name[de]=Neuer Server
Name[el]=Νέος εξυπηρετητής
Name[es]=Nuevo servidor
Name[et]=Uus server
Name[fi]=Uusi palvelin
Name[fr]=Nouveau serveur
Name[he]=שרת חדש
Name[hu]=Új kiszolgáló
Name[it]=Nuovo server
Name[ko]=새로운 서버
Name[lv]=Jauns Serveris
Name[mn]=Шинэ сервер
Name[ms]=Pelayan Baru
Name[nl]=Nieuwe server
Name[no]=New tjener
Name[pl]=Nowy serwer
Name[pt]=Novo Servidor
Name[pt_BR]=Novo Servidor
Name[ro]=Server nou
Name[ru]=Новая сервер
Name[sk]=Nový server
Name[sl]=Nov strežnik
Name[sq]=Server i Ri
Name[sv]=Ny server
Name[th]=เซิร์ฟเวอร์ใหม่
Name[tr]=Yeni Sunucu
Name[uk]=Новий сервер
Name[vi]=Máy chủ mới
Name[zh_CN]=新建服务器
Name[zh_TW]=新增伺服程式
Comment=Add a new server to your Network Servers and connect to it
Comment[be]=Дадаць новы паслужнік да Сеткавых паслужнікаў і далучыцца да яго
Comment[bg]=Добавя нов сървър към вашите мрежови сървъри и се свързва с него
Comment[ca]=Afegeix un nou servidor als vostres Servidors de xarxa i es connecta a ell
Comment[cs]=Přidat nový server k vašim Síťovým serverům a připojit se k němu
Comment[da]=Tilføj en ny server til dine netværksservere og tilkobl til den
Comment[de]=Einen neuen Server zu Ihren Netzwerk-Servern hinzufügen und eine Verbindung zu diesem aufbauen
Comment[el]=Προσθέστε ένα νέο εξυπηρετητή στους Εξυπηρετητές Δικτύου και συνδεθείτε με αυτόν.
Comment[es]=Agrega un servidor nuevo a sus servidores de red y se conecta a él
Comment[fi]=Lisää uusi palvelin palvelinluetteloon, ja muodosta siihen yhteys
Comment[fr]=Ajoute un nouveau serveur à vos Serveurs réseaux et s'y connecte
Comment[he]=הוסף שרת חדש לשרתי הרשת והתחבר אליו
Comment[hu]=Új kiszolgáló hozzáadása a hálózati kiszolgálók listájához, és csatlakozás ahhoz
Comment[it]=Aggiunge un nuovo server ai Server di Rete e si collega ad esso
Comment[ko]=네트워크 서버에 새로운 서버를 더하고 연결합니다
Comment[lv]=Pievienot jaunu serveri jūsu Tīkla Serveriem un pieslēgties tam
Comment[mn]=Сүлжээний серверүүддээ нэг шинэ сервеер нэмж өгөн түүнийгээ холбож өгөх
Comment[ms]=Tambah pelayan baru pada Pelayan Rangkaian dan sambungi ia
Comment[nl]=Nieuwe server toevoegen aan uw Netwerkservers en ermee verbinden
Comment[no]=Legg til en ny tjener under Nettverkstjenere og koble til denne
Comment[pl]=Dodanie nowego serwera do listy serwerów sieciowych i nawiązanie z nim połączenia
Comment[pt]=Adicionar um novo servidor à sua Rede de Servidores e ligar-se a ele
Comment[pt_BR]=Adicionar um novo servidor à seus Servidores de Redes e conectar a ele
Comment[ro]=Adaugă un server nou la Servere reţea şi conectează-te la el
Comment[ru]=Добавит новый сервер к Сетевым серверам и подключиться к нему
Comment[sk]=Pridať nový server do vašeho Sieťové servery a pripojiť sa k nemu
Comment[sl]=Med Mrežne strežnike dodaj novega in se z njim poveži
Comment[sq]=Shto një server të ri tek Rrjeti i server-ve tuaj dhe lidhu me të
Comment[sv]=Lägg till en ny server till dina nätverksservrar och anslut till den
Comment[th]=เพิ่มเซิร์ฟเวอร์ลงในรายชื่อ Network Servers แล้วเชื่อมต่อไปที่นั่น
Comment[tr]=Ağ Sunucularınıza yeni bir sunucu ekleyin ve ona bağlanın
Comment[uk]=Додати новий сервер до Серверів мережі та під'єднатися до нього
Comment[vi]=Thêm máy chủ mới vào máy chủ mạng và kết nối đến nó
Comment[zh_CN]=向您的网络服务器中添加一台新服务器然后连接到该服务器
Comment[zh_TW]=在「網路伺服器」中新增伺服器，並進行連線
TryExec=nautilus-server-connect
Exec=nautilus-server-connect
Icon=nautilus/nautilus-server-connect.png
Terminal=0
Type=Application
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=nautilus
X-GNOME-Bugzilla-Component=general
