[Desktop Entry]
Encoding=UTF-8
Name=Network Servers
Name[af]=Netwerkbedieners
Name[am]=የመረብ ሰርቨር
Name[ar]=نوادل الشبكة
Name[az]=Şəbəkə Vericiləri
Name[be]=Сеткавыя паслужнікі
Name[bg]=Мрежови сървъри
Name[bn]=নেটওয়ার্ক সার্ভার
Name[bs]=Mrežni serveri
Name[ca]=Servidors de xarxa
Name[cs]=Síťové servery
Name[cy]=Gweinyddion Rhwydwaith
Name[da]=Netværksservere
Name[de]=Netzwerk-Server
Name[el]=Εξυπηρετητές Δικτύου
Name[en_CA]=Network Servers
Name[en_GB]=Network Servers
Name[es]=Servidores de red
Name[et]=Võrguserverid
Name[eu]=Sareko zerbitzariak
Name[fa]=خادم‌های شبکه
Name[fi]=Verkkopalvelimet
Name[fr]=Serveurs réseaux
Name[ga]=Riarthóir ar an líontán
Name[gu]=નેટવર્ક સર્વરો
Name[he]=שרתי רשת
Name[hi]=नेटवर्क सर्वर्स
Name[hr]=Mrežni poslužitelji
Name[hu]=Hálózati kiszolgálók
Name[id]=Server jaringan
Name[is]=Netþjónar
Name[it]=Server di rete
Name[ja]=ネットワーク・サーバ
Name[ko]=네트워크 서버
Name[li]=Netwirkservers
Name[lt]=Tinklo serveriai
Name[lv]=Tīkla Serveri
Name[mi]=Ngā rorohiko tuku
Name[mk]=Мрежни сервери
Name[ml]=ശൃംഖലാ സേവനം
Name[mn]=Сүлжээний серверүүд
Name[ms]=Pelayan Rangkaian
Name[nb]=Nettverkstjenere
Name[ne]=संजाल सेवादायक
Name[nl]=Netwerkservers
Name[nn]=Nettverkstenarar
Name[no]=Nettverkstjenere
Name[pa]=ਨੈੱਟਵਰਕ ਸਰਵਰ
Name[pl]=Serwery sieciowe
Name[pt]=Servidores de Rede
Name[pt_BR]=Servidores de Rede
Name[ro]=Servere reţea
Name[ru]=Сетевые серверы
Name[sk]=Sieťové servery
Name[sl]=Mrežni strežniki
Name[sq]=Rrjeti i Server-ve
Name[sr]=Мрежни сервери
Name[sr@Latn]=Mrežni serveri
Name[sr@ije]=Мрежни сервери
Name[sv]=Nätverksservrar
Name[ta]=வலைப்பின்னல் சேவகன்கள்
Name[th]=เซิร์ฟเวอร์ในเครือข่าย
Name[tk]=Şebeke Gullukçiler
Name[tr]=Ağ Sunucuları
Name[uk]=Сервери мережі
Name[vi]=Máy chủ mạng
Name[wa]=Sierveus rantoele
Name[zh_CN]=网络服务器
Name[zh_TW]=網路伺服器
Comment=View your network servers in the Nautilus file manager
Comment[af]=Bekyk jou netwerkbedieners in die Nautlius-lêerbestuurder
Comment[ar]=اعرض نوادل شبكتك في مدير الملفات نوتلس
Comment[az]=Nautilus fayl idarəçisində şəbəkə vericilərinizi görün
Comment[be]=Прагляд вашых сеткавых паслужнікаў у Наўтылюсе
Comment[bg]=Преглед на вашите мрежови сървъри във файловия мениджър Nautilus
Comment[bn]=আপনার ব্যবহৃত নেটওয়ার্ক সার্ভারগুলোকে নটিলাস ফাইল ব্যবস্থাপক থেকে দেখুন
Comment[bs]=Pregledajte vaše mrežne servere u Nautilusovom upravitelju datoteka
Comment[ca]=Visualitza els vostres servidors de xarxa en el gestor de fitxers Nautilus
Comment[cs]=Zobrazit vaše síťové servery ve správci souborů Nautilus
Comment[cy]=Gweld eich gweinyddion rhwydwaith yn y trefnydd ffeiliau Nautilus
Comment[da]=Vis dine netværksservere i Nautilus-filhåndteringen
Comment[de]=Ihre Netzwerk-Server im Dateimanager Nautilus anzeigen
Comment[el]=Εμφάνιση των εξυπηρετητών δικτύου στο διαχειριστή αρχείων του Ναυτίλου
Comment[en_CA]=View your network servers in the Nautilus file manager
Comment[en_GB]=View your network servers in the Nautilus file manager
Comment[es]=Ver sus servidores de red en el administrador de archivos Nautilus
Comment[et]=Vaata oma võrgu servereid Nautiluse failihalduris.
Comment[eu]=Ikusi zure sareko zerbitzariak Nautilus fitxategi-kudeatzailean
Comment[fi]=Katsele verkkopalvelimia Nautilus-tiedostonhallintaohjelmalla
Comment[fr]=Affiche vos serveurs réseaux dans le gestionnaire de fichiers Nautilus
Comment[ga]=Féach ar na riarthóir líontán i Nautilus
Comment[gu]=નોટિલસ ફાઇલ વ્યવસ્થાપકમાં તમારા નેટવર્ક સર્વરને જુઓ
Comment[he]=ראה את שרתי הרשת שלך במנהל הקבצים של נאוטילוס
Comment[hi]=नॉटिलस फ़ाइल प्रबंधक में अपने नेटवर्क सर्वर्स देखें
Comment[hr]=Pogledajte vaše mrežne poslužitelje u Nautilusovom upravitelju datotekama
Comment[hu]=Hálózati kiszolgálók megtekintése a Nautilus fájlkezelőben
Comment[id]=Lihat Server Jaringan Anda di file manager Nautilus
Comment[is]=Skoða netþjóna í Nautilus skráarstjóranum
Comment[it]=Mostra i server della propria rete nel file manager Nautilus
Comment[ja]=Nautilus でお使いのネットワークのサーバを表示します
Comment[ko]=노틸러스 파일 관리자에서 네트워크 서버를 봅니다
Comment[li]=Eure netwirkservers tuine mit Nautilus Besjtandjwirtsjaf
Comment[lt]=Rodyti tinkle esančius serverius su Nautilus bylų tvarkykle
Comment[lv]=Skatīt jūsu tīkla serverus Nautilus failu pāvaldniekā
Comment[mk]=Гледај ги твоите мрежни сервери во Наутилус - менаџерот за датотеки
Comment[mn]=Наутилусын файл менежерээр дамжуулан Сүлжээний серверүүдийг харах.
Comment[ms]=Lihat pelayan rangkaian pada pengurus fail Nautilus
Comment[nb]=Vis dine nettverkstjenere i filhåndtereren Nautilus
Comment[ne]=संजाल सेवादायकलाई नटिलस फाइल प्रबन्धकमा हेर्नुस्
Comment[nl]=Uw netwerkservers weergeven met Nautilus bestandsbeheer
Comment[nn]=Vis nettverkstenarane dine i Nautilus
Comment[no]=Vis dine nettverkstjenere i filhåndtereren Nautilus
Comment[pa]=ਨਟਾਲਿਸ ਫਾਇਲ ਮੈਨੇਜਰ ਵਿੱਚ ਆਪਣਾ ਨੈੱਟਵਰਕ ਸਰਵਰ ਵੇਖੋ
Comment[pl]=Wyświetla serwery sieciowe przy użyciu menedżera plików - Nautilusa
Comment[pt]=Ver os seus servidores de rede no gestor de ficheiros do Nautilus
Comment[pt_BR]=Veja seus servidores de rede no gerenciador de arquivos Nautilus
Comment[ro]=Vizualizează serverele de reţea în Nautilus
Comment[ru]=Окно просмотра сетевых серверов в файловом менеджере "Наутилус"
Comment[sk]=Zobrazí vaše sieťové servery v správcovi súborov Nautilus
Comment[sl]=Glej svoje mrežne strežnike v upravljalniku daototek Nautilus
Comment[sq]=Shiko rrjetin tuaj të server-ve tek organizuesi i file Nautilus
Comment[sr]=Прегледајте ваше мрежне сервере у Наутилусовом управнику датотека
Comment[sr@Latn]=Pregledajte vaše mrežne servere u Nautilusovom upravniku datoteka
Comment[sr@ije]=Прегледајте ваше мрежне сервере у Наутилусовом управнику датотека
Comment[sv]=Visa dina nätverksservrar i filhanteraren Nautilus
Comment[ta]=நாடுலஸ் கோப்பு மேலாளரில் வலைப்பின்னல் சேவகனை காட்டு
Comment[th]=ดูเซิร์ฟเวอร์ในเครือข่ายด้วย Nautilus
Comment[tk]=Şebeke gullukçilerni Nautilus faýl müdirinde görkez
Comment[tr]=Nautilus dosya yöneticisinde ağ sunucularını görüntüle
Comment[uk]=Перегляд серверів мережі у файловому менеджері "Наутілус"
Comment[vi]=Xem máy chủ mạng trong trình quản lý tập tin của Nautilus
Comment[wa]=Vey vos sierveus rantoele dins l' manaedjeu di fitchîs Nautilus
Comment[zh_CN]=在 Nautilus 文件管理器中查看您的网络服务器
Comment[zh_TW]=在 Nautilus 檔案總管中瀏覽網路伺服器
TryExec=nautilus
Exec=nautilus network:
Terminal=false
Type=Application
Icon=gnome-fs-network
Categories=Application;Core;
OnlyShowIn=GNOME;
