[Desktop Entry]
Encoding=UTF-8
Name=Network Servers
Name[am]=የመረብ ሰርቨር
Name[az]=Şəbəkə Vericiləri
Name[be]=Сеткавыя паслужнікі
Name[bg]=Мрежови Сървъри
Name[ca]=Servidors de xarxa
Name[cs]=Síťové servery
Name[da]=Netværksservere
Name[de]=Netzwerk-Server
Name[el]=Εξυπηρετητές Δικτύου
Name[es]=Servidores de red
Name[et]=Võrguserverid
Name[fa]=خادم‌های شبکه
Name[fi]=Verkkopalvelimet
Name[fr]=Serveurs réseaux
Name[he]=שרתי רשת
Name[hu]=Hálózati kiszolgálók
Name[it]=Server di rete
Name[ja]=ネットワーク・サーバ
Name[ko]=네트워크 서버
Name[lv]=Tīkla Serveri
Name[mk]=Мрежни Сервери
Name[ml]=ശൃംഖലാ സേവനം
Name[mn]=Сүлжээний серверүүд
Name[ms]=Pelayan Rangkaian
Name[nl]=Netwerkservers
Name[no]=Nettverkstjenere
Name[pl]=Serwery sieciowe
Name[pt]=Servidores Rede
Name[pt_BR]=Servidores de Rede
Name[ro]=Servere reţea
Name[ru]=Сетевые серверы
Name[sk]=Sieťové servery
Name[sl]=Mrežni strežniki
Name[sq]=Rrjeti i Server-ve
Name[sr]=Мрежни сервери
Name[sr@Latn]=Mrežni serveri
Name[sv]=Nätverksservrar
Name[tr]=Ağ Sunucuları
Name[uk]=Сервери мережі
Name[vi]=Máy chủ mạng
Name[wa]=Sierveus rantoele
Name[zh_CN]=网络服务器
Name[zh_TW]=網路伺服器
Comment=View your network servers in the Nautilus file manager
Comment[az]=Nautilus fayl idarəçisində şəbəkə vericilərinizi göstərin
Comment[be]=Прагляд вашых сеткавых паслужнікаў у файлавым мэнаджары "Наўцілус"
Comment[bg]=Преглед на вашите мрежови сървъри във файловиет мениджър Nautilus 
Comment[ca]=Visualitza els vostres servidors de xarxa en el gestor de fitxers Nautilus
Comment[cs]=Zobrazit vaše síťové servery ve správci souborů Nautilus
Comment[da]=Vis dine netværksservere i Nautilus-filhåndteringen
Comment[de]=Ihre Netzwerk-Server im Dateimanager Nautilus anzeigen
Comment[el]=Εμφάνιση των εξυπηρετητών δικτύου στον διαχειριστή αρχείων του Ναυτίλου
Comment[es]=Ver sus servidores de red en el administrador de archivos Nautilus
Comment[fi]=Katsele verkkopalvelimia Nautilus-tiedostonhallintaohjelmalla
Comment[fr]=Affiche vos serveurs réseaux dans le gestionnaire de fichiers Nautilus
Comment[he]=ראה את שרתי הרשת שלך במנהל הקבצים של נאוטילוס
Comment[hu]=Hálózati kiszolgálók megjelenítése a Nautilus fájlkezelőben
Comment[it]=Mostra i server della rete nel file manager Nautilus
Comment[ja]=Nautilus でお使いのネットワークのサーバを表示します
Comment[ko]=노틸러스 파일 관리자에서 네트워크 서버를 봅니다
Comment[lv]=Skatīt jūsu tīkla serverus Nautilus failu pāvaldniekā
Comment[mn]=Наутилусын файл менежерээр дамжуулан Сүлжээний серверүүдийг харах.
Comment[ms]=Lihat pelayan rangkaian pada pengurus fail Nautilus
Comment[nl]=Uw netwerkservers weergeven met Nautilus bestandsbeheer
Comment[no]=Vis dine nettverkstjenere i Nautilus
Comment[pl]=Wyświetla serwery sieciowe przy użyciu menedżera plików - Nautilusa
Comment[pt]=Ver os seus servidores de rede no gestor de ficheiros do Nautilus
Comment[pt_BR]=Visualizar seus servidores de rede no gerenciador de arquivos Nautilus
Comment[ro]=Vizualizează serverele de reţea în Nautilus
Comment[ru]=Окно просмотра сетевых серверов файлового менеджера "Наутилус"
Comment[sk]=Zobrazí vaše sieťové servery v správcovi súborov Nautilus
Comment[sl]=Glej svoje mrežne strežnike v upravljalniku daototek Nautilus
Comment[sq]=Shiko rrjetin tuaj të server-ve tek file manager i Nautilus
Comment[sr]=Прегледајте ваше мрежне сервере у Наутилусовом управнику датотека
Comment[sr@Latn]=Pregledajte vaše mrežne servere u Nautilusovom upravniku datoteka
Comment[sv]=Visa dina nätverksservrar i filhanteraren Nautilus
Comment[th]=ดูเซิร์ฟเวอร์เครือข่ายใน Nautilus
Comment[tr]=Nautilus dosya yöneticisinde ağ sunucularını görüntüle
Comment[uk]=Перегляд серверів мережі у файловому менеджері "Наутілус"
Comment[vi]=Xem máy chủ mạng trong trình quản lý tập tin của Nautilus
Comment[zh_CN]=在 Nautilus 文件管理器中查看您的网络服务器
Comment[zh_TW]=在 Nautilus 檔案總管中瀏覽網路伺服器
TryExec=nautilus
Exec=nautilus network:
Terminal=0
Type=Application
Icon=gnome-fs-network
Categories=Application;Core;
