Source: debathena-gconfd-2-wrapper
Section: debathena/gnome
Priority: extra
Maintainer: Debathena Project <debathena@mit.edu>
Build-Depends: debhelper (>= 7.0~), dh-buildinfo, config-package-dev (>= 5.0~)
Standards-Version: 3.9.3

Package: debathena-gconfd-2-wrapper
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, debathena-gconf2-config
Provides: ${diverted-files}
Conflicts: ${diverted-files}
Description: Wrapper to configure gconf2 daemon for Debathena
 This package provides a wrapper for the stock gconf2 daemon.  It
 ensures that newly-created .gconf and .gconfd directories are made
 private.
