[GdmGreeterTheme]
Encoding=UTF-8
Greeter=debathena.xml
Name=Debathena
Description=Standard Athena login dialog
Author=Debathena Project <debathena@mit.edu>
Copyright=© 2009 MIT (MIT license)
Screenshot=screenshot.png
