[Desktop Entry]
Encoding=UTF-8
Name=Help
Name[am]=መረጃ
Name[ar]=مساعدة
Name[be]=Дапамога
Name[bg]=Помощ
Name[ca]=Ajuda
Name[cs]=Nápověda
Name[da]=Hjælp
Name[de]=Hilfe
Name[el]=Βοήθεια
Name[es]=Ayuda
Name[et]=Abi
Name[fi]=Ohje
Name[fr]=Aide
Name[gl]=Axuda
Name[he]=עזרה
Name[hi]=सहायता
Name[hu]=Súgó
Name[it]=Aiuto
Name[ja]=GNOME ヘルプ・システム
Name[ko]=도움말
Name[lv]=Palīdzība
Name[mk]=Помош 
Name[ms]=Bantuan
Name[nl]=Hulp
Name[nn]=Hjelp
Name[no]=Hjelp
Name[pl]=Pomoc
Name[pt]=Ajuda
Name[pt_BR]=Ajuda
Name[ro]=Ajutor
Name[ru]=Справка
Name[sk]=Pomocník
Name[sl]=Pomoč
Name[sq]=Ndihmë
Name[sv]=Hjälp
Name[ta]=¯¾Å¢
Name[tr]=Yardım
Name[uk]=Довідка
Name[vi]=Trợ giúp
Name[wa]=Aidance
Name[zh_CN]=帮助
Name[zh_TW]=說明
Comment=Get help with GNOME
Comment[am]=ከኖም መረጃ አግኝ
Comment[ar]=احصل على المساعدة مع جينوم
Comment[be]=Атрымаць дапамогу ў асяродьдзі GNOME
Comment[bg]=Помощ с ГНОМ
Comment[ca]=Obteniu ajuda amb GNOME
Comment[cs]=Poradí s prostředím GNOME
Comment[da]=Få hjælp til Gnome
Comment[de]=Hilfe für GNOME holen
Comment[el]=Λήψη βοήθειας για το GNOME
Comment[es]=Obtener ayuda con GNOME
Comment[et]=Abistab GNOMEi kasutamisel
Comment[fi]=Hae apua Gnomen käytössä
Comment[fr]=Aide sur GNOME
Comment[gl]=Obter axuda con GNOME
Comment[he]=קבל עזרה עם GNOME
Comment[hi]=गनोम से सहायता लो
Comment[hu]=A GNOME súgója
Comment[it]=Ricevi aiuto con GNOME
Comment[ja]=GNOME 2.0 向けヘルプ・ブラウザ
Comment[ko]=그놈에서 도움말을 봅니다
Comment[lv]=Saņemt palīdzību ar GNOME
Comment[mk]=Побарај помош со GNOME
Comment[ms]=Mendapatkan bantuan bersama GNOME
Comment[nl]=Hulp bij GNOME
Comment[nn]=Få hjelp om GNOME
Comment[no]=Få hjelp med GNOME
Comment[pl]=Pomoc GNOME
Comment[pt]=Obter ajuda sobre o GNOME
Comment[pt_BR]=Obter ajuda sobre o GNOME
Comment[ro]=Primeşte ajutor despre GNOME
Comment[ru]=Окно для получения справки в среде Гном
Comment[sk]=Zobraziť Pomocníka pre GNOME
Comment[sl]=Dobi pomoč o GNOME
Comment[sq]=Merr ndihmë me GNOME
Comment[sv]=Få hjälp med GNOME
Comment[ta]=¸§É¡¨Áô ÀüÈ¢ ¯¾Å¢ ¦ÀÚ
Comment[tr]=GNOME hakkında yardım
Comment[uk]=Отримати довідку про GNOME
Comment[vi]=Trợ giúp với GNOME
Comment[wa]=Houkî l' aidance di GNOME
Comment[zh_CN]=用 GNOME 获取帮助
Comment[zh_TW]=顯示 GNOME 的說明文件
Exec=yelp
Icon=gnome-help.png
Terminal=false
Type=Application
Categories=GNOME;Application;Core;
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=Yelp
X-GNOME-Bugzilla-Component=general
