[Desktop Entry]
Encoding=UTF-8
Name=Help
Name[af]=Hulp
Name[am]=መረጃ
Name[ar]=مساعدة
Name[az]=Yardım
Name[be]=Даведка
Name[bg]=Помощ
Name[bn]=সহায়িকা
Name[bs]=Pomoć
Name[ca]=Ajuda
Name[cs]=Nápověda
Name[cy]=Cymorth
Name[da]=Hjælp
Name[de]=Hilfe
Name[el]=Βοήθεια
Name[en_CA]=Help
Name[en_GB]=Help
Name[eo]=Helpo
Name[es]=Ayuda
Name[et]=Abi
Name[eu]=Laguntza
Name[fa]=راهنما
Name[fi]=Ohje
Name[fr]=Aide
Name[ga]=Cabhair
Name[gl]=Axuda
Name[gu]=મદદ
Name[he]=עזרה
Name[hi]=मदद
Name[hr]=Pomoć
Name[hu]=Súgó
Name[id]=Bantuan
Name[is]=Hjálp
Name[it]=Aiuto
Name[ja]=ヘルプ
Name[ka]=დახმარება
Name[kn]=ಸಹಾಯ
Name[ko]=도움말
Name[li]=Hulp
Name[lt]=Pagalba
Name[lv]=Palīdzība
Name[mk]=Помош 
Name[ml]=സഹായം
Name[mn]=Тусламж
Name[mr]=मदत
Name[ms]=Bantuan
Name[nb]=Hjelp
Name[ne]=सहायता
Name[nl]=Hulp
Name[nn]=Hjelp
Name[no]=Hjelp
Name[pa]=ਸਹਾਇਤਾ
Name[pl]=Pomoc
Name[pt]=Ajuda
Name[pt_BR]=Ajuda
Name[ro]=Ajutor
Name[ru]=Справка
Name[sk]=Pomocník
Name[sl]=Pomoč
Name[sq]=Ndihmë
Name[sr]=Помоћ
Name[sr@Latn]=Pomoć
Name[sv]=Hjälp
Name[ta]=உதவி
Name[tg]=Ёрӣ
Name[th]=วิธีใช้
Name[tk]=Ýardam
Name[tr]=Yardım
Name[uk]=Довідка
Name[vi]=Trợ giúp
Name[wa]=Aidance
Name[zh_CN]=帮助
Name[zh_TW]=說明文件瀏覽器
Comment=Get help with GNOME
Comment[af]=Kry hulp met GNOME
Comment[am]=ከኖም መረጃ አግኝ
Comment[ar]=احصل على مساعدة مع جُنوم
Comment[az]=GNOME haqqında yardım alın
Comment[be]=Атрымаць даведку ў асяродьдзі GNOME
Comment[bg]=Помощ с GNOME
Comment[bn]=গ্নোমের মধ্যে দিয়ে সহায়িকা পড়ুন
Comment[bs]=Primi pomoć sa GMOME-om
Comment[ca]=Obteniu ajuda amb GNOME
Comment[cs]=Získat nápovědu o GNOME
Comment[cy]=Cael cymorth â GNOME
Comment[da]=Få hjælp til Gnome
Comment[de]=Hilfe zu GNOME holen
Comment[el]=Λήψη βοήθειας για το GNOME
Comment[en_CA]=Get help with GNOME
Comment[en_GB]=Get help with GNOME
Comment[eo]=Ricevu helpon kun GNOME
Comment[es]=Obtenga ayuda acerca de Gnome
Comment[et]=Abistab GNOMEi kasutamisel
Comment[eu]=Eskuratu GNOMEri buruzko laguntza 
Comment[fa]=راهنمایی گرفتن در مورد گنوم
Comment[fi]=Hae apua Gnomen käytössä
Comment[fr]=Affiche l'aide sur GNOME
Comment[ga]=Faigh cabhair le haighaidh GNOME
Comment[gl]=Obter axuda con GNOME
Comment[gu]=જીનોમ સાથે મદદ લો
Comment[he]=קבל עזרה עם GNOME
Comment[hi]=गनोम से मदद लें
Comment[hr]=Zatražite pomoć za GNOME
Comment[hu]=A GNOME súgója
Comment[id]=Buka bantuan GNOME
Comment[is]=Fá hjálp með GNOME
Comment[it]=Consulta la documentazione con GNOME
Comment[ja]=GNOME のヘルプを手にいれます
Comment[ka]=დახმარება GNOME-ში
Comment[kn]=ಘನೋಮಿನ ಬಗ್ಗೆ ಸಹಾಯ ಪಡೆ
Comment[ko]=그놈에서 도움말을 봅니다
Comment[li]=Hulp bie GNOME
Comment[lt]=Gauti pagalbą dirbant su GNOME
Comment[lv]=Saņemt palīdzību ar GNOME
Comment[mk]=Побарај помош со GNOME
Comment[ml]=ഗ്നോം സഹായം ലഭിക്കുക
Comment[mn]=ГНОМЕ-р тусламж авах
Comment[mr]=गनोम पासून मदत घ्या 
Comment[ms]=Mendapatkan bantuan bersama GNOME
Comment[nb]=Få hjelp med GNOME
Comment[ne]=GNOME को सहयोग लिनुस
Comment[nl]=Hulp bij GNOME
Comment[nn]=Få hjelp om GNOME
Comment[no]=Få hjelp med GNOME
Comment[pa]=ਗਨੋਮ ਨਾਲ ਸਹਾਇਤਾ ਲਵੋ
Comment[pl]=Pomoc GNOME
Comment[pt]=Obtenha ajuda com o GNOME
Comment[pt_BR]=Obter ajuda sobre o GNOME
Comment[ro]=Primeşte ajutor despre GNOME
Comment[ru]=Окно для получения справки в среде Гном
Comment[sk]=Zobraziť Pomocníka pre GNOME
Comment[sl]=Dobi pomoč o GNOME
Comment[sq]=Merr ndihmë me GNOME
Comment[sr]=Потражи помоћ са Гномом
Comment[sr@Latn]=Potraži pomoć sa Gnomom
Comment[sv]=Få hjälp med GNOME
Comment[ta]=கனோமைப் பற்றி உதவி பெறு
Comment[tg]=Гирофтани мадад бо GNOME
Comment[th]=วิธีการใช้ GNOME
Comment[tk]=GNOME bilen ýardam tap
Comment[tr]=GNOME ile Yardım Alın
Comment[uk]=Отримати довідку про GNOME
Comment[vi]=Trợ giúp với GNOME
Comment[wa]=Houkî l' aidance di GNOME
Comment[zh_CN]=获得 GNOME 的帮助
Comment[zh_TW]=顯示 GNOME 說明文件
Exec=yelp
Icon=gnome-help.png
StartupNotify=true
Terminal=false
Type=Application
Categories=GNOME;Application;Core;
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=Yelp
X-GNOME-Bugzilla-Component=general
