#!/usr/bin/make -f

DEB_AUTO_UPDATE_DEBIAN_CONTROL = 1
DEB_AUTO_UPDATE_AUTOCONF = 2.50

DEB_DIVERT_EXTENSION=.debathena
DEB_DIVERT_FILES_debathena-firefox-wrapper += \
	/usr/bin/firefox.debathena \
	/usr/bin/iceweasel.debathena

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/makefile.mk
include /usr/share/cdbs/1/rules/config-package.mk

DEB_MAKE_INSTALL_TARGET = install DESTDIR=$(DEB_DESTDIR)
DEB_DH_LINK_ARGS += usr/bin/firefox.debathena usr/bin/iceweasel.debathena

clean::
	rm -f configure
