[Desktop Entry]
Encoding=UTF-8
Name=Floppy Formatter
Name[ar]=مهيىء الأقراص المرنة
Name[be]=Фарматаваньне гнуткіх дыскаў
Name[bg]=Програма за Форматиране на Флопи
Name[ca]=Formatador de disquet
Name[cs]=Formátovač disket
Name[da]=Disketteformatering
Name[de]=Diskette formatieren
Name[el]=Μορφοποιητής Δισκέτας
Name[es]=Formateador de disquetes
Name[et]=Diskettide vormindaja
Name[fi]=Levykkeen alustaja
Name[fr]=Formateur de disquette
Name[hi]=फ्लापी डिस्क फार्मेट करें
Name[hu]=Floppy-formázó
Name[ja]=フロッピー初期化ツール
Name[ko]=플로피 포맷
Name[lt]=Diskelių formatavimas
Name[lv]=Disketes Formatētājs
Name[mn]=А-диск форматлагч
Name[ms]=Pengformat Liut
Name[nl]=Diskettes formatteren
Name[nn]=Diskettformaterar
Name[no]=Formatering av diskett
Name[pl]=Formater dyskietek
Name[pt]=Formatador de Disquetes
Name[pt_BR]=Formatador de Disquetes
Name[ro]=Formare dischetă
Name[ru]=Программа форматирования дискет
Name[sk]=Formátovanie diskety
Name[sl]=Formatirnik disket
Name[sv]=Diskettformaterare
Name[tr]=Disket Biçimlendirici
Name[uk]=Форматування дискет
Name[vi]=Trình định dạng đĩa mềm
Name[wa]=Abwesnaedje di plaketes
Name[zh_CN]=软盘格式化器
Name[zh_TW]=軟碟格式化程式
Comment=Format Floppy Disks
Comment[ar]=تهيئة اﻷقراص المرنة
Comment[az]=Disketləri şəkilləndirər
Comment[be]=Фарматаваць гнуткія дыскі
Comment[bg]=Форматиране на Флопи
Comment[ca]=Formata disquets
Comment[cs]=Formátování disket
Comment[da]=Formatér disketter
Comment[de]=Disketten formatieren
Comment[el]=Μορφοποιεί Εύκαμπτους Δίσκους
Comment[es]=Formatear un disquete
Comment[et]=Vorminda diskette (flopisid)
Comment[eu]=Formateatu disketeak
Comment[fi]=Alusta levykkeitä
Comment[fr]=Formatage de disquette
Comment[gl]=Formatador de disquetes
Comment[hi]=फ्लापी डिस्क फार्मेट करें
Comment[hu]=Floppy lemezek formázása
Comment[it]=Formatta dischetti
Comment[ja]=フロッピーディスクをフォーマットするツールです
Comment[ko]=플로피 디스크 포맷
Comment[lt]=Diskelių formatavimo įrankis
Comment[lv]=Formatēt Disketi
Comment[mn]=Зөөлөн диск форматлах
Comment[ms]=Format Cakera Liut
Comment[nl]=Diskettes formatteren
Comment[nn]=Formatere diskettar
Comment[no]=Formater disketter
Comment[pl]=Narzędzie do formatowania dyskietek
Comment[pt]=Formatar Disquetes
Comment[pt_BR]=Formatar disquetes
Comment[ro]=Formatează o dischetă
Comment[ru]=Программа для форматирования гибких дисков
Comment[sk]=Formátuje diskety
Comment[sl]=Formatira diskete
Comment[sv]=Formatera disketter
Comment[tr]=Disketleri Biçimlendir
Comment[uk]=Форматування дискет
Comment[vi]=Định dạng đĩa mềm
Comment[wa]=Abwesneye les plaketes
Comment[zh_CN]=格式化软盘
Comment[zh_TW]=將軟碟格式化
Exec=gfloppy
Terminal=false
Icon=document-icons/i-floppy.png
Type=Application
StartupNotify=true
Categories=GNOME;Application;System;
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=gnome-utils
X-GNOME-Bugzilla-Component=gfloppy
