[Desktop Entry]
Name=SAS
Comment=Statistical analysis program
Exec=gathrun sas
Terminal=false
Type=Application
Icon=/usr/share/debathena-locker-menu/sas.png
Categories=Locker;
# No StartupWMClass available
