[Desktop Entry]
Name=Stata
Comment=Statistical analysis program
Exec=gathrun stata xstata-se
Terminal=false
Type=Application
Icon=/usr/share/debathena-locker-menu/stata.png
Categories=Locker;
