[Desktop Entry]
Name=Tecplot
Comment=Plotting package designed for engineers and scientists
Exec=gathrun tecplot 
Terminal=false
Type=Application
Icon=/usr/share/debathena-locker-menu/tecplot.png
Categories=Locker;
StartupWMClass="Tecplot"
