[Desktop Entry]
Name=Xess
Comment=Spreadsheet program designed for scientists (supported)
Exec=gathrun xess
Terminal=false
Type=Application
Icon=/usr/share/debathena-locker-menu/xess.png
Categories=Locker;
# No StartupWMClass available
