[Desktop Entry]
Name=Maple
Comment=Symbolic math and visualization package (supported)
Exec=gathrun maple maple.java
Terminal=false
Type=Application
Icon=/usr/share/debathena-locker-menu/maple.png
Categories=Locker;
# Maple's StartupWMClass is " ", which needless to say doesn't work.
