[Desktop Entry]
Name=MATLAB
Comment="MATrix LABoratory" package for numeric computation, data analysis, and visualization (supported)
Exec=gathrun matlab matlab -desktop
Terminal=true
Type=Application
Icon=/usr/share/debathena-locker-menu/matlabicon.png
Categories=Locker;
# The name of the window first opened by the app to indicate
# a successful launch
StartupWMClass="MATLAB"
