[Desktop Entry]
Name=Mathematica
Comment=Symbolic math and numerical calculation environment (unsupported, limited licenses)
Exec=gathrun math mathematica 
Terminal=false
Type=Application
Icon=/usr/share/debathena-locker-menu/mathematica.png
Categories=Locker;
