[Desktop Entry]
Name=List of available software
Comment=Visit a more complete list of locker software on the web
Exec=gnome-open http://web.mit.edu/acs/www/whereruns.html
Icon=info
Terminal=false
Type=Application
Categories=Locker;
