[Desktop Entry]
Name=Maple
Comment=Symbolic math and visualization package (supported)
Exec=gathrun maple maple.java
Terminal=false
Type=Application
Icon=gnome-run
Categories=Locker;
