#!/usr/bin/make -f

%:
	dh $@

override_dh_auto_build:
	mkdir -p $(CURDIR)/icons-nonfree
	cp /afs/athena.mit.edu/system/athena10/locker-menu-icons/*.png $(CURDIR)/icons-nonfree

override_dh_clean:
	dh_clean
	rm -rf $(CURDIR)/icons-nonfree


