#!/usr/bin/make -f

GDM_VERSION = $(shell dpkg-query --showformat='$${Version}' --show gdm)
NEW_GDM = $(shell dpkg --compare-versions $(GDM_VERSION) ge '2.25.2~' && echo y)
XSPLASH = $(shell grep -q xsplash /etc/gdm/Init/Default && echo y)

ifneq ($(wildcard /etc/gdm/gdm.conf-custom),)
    GDM_CONFFILE = /etc/gdm/gdm.conf-custom.debathena
    DEB_DH_LINK_ARGS_debathena-gdm-config=/etc/gdm/gdm.conf-custom.debathena /etc/gdm/gdm.conf.debathena
else
    GDM_CONFFILE = /etc/gdm/gdm.conf.debathena
endif

DEB_DIVERT_EXTENSION = .debathena
DEB_TRANSFORM_SCRIPT_${GDM_CONFFILE} = debian/transform_gdm.conf.debathena
DEB_DIVERT_FILES_debathena-gdm-config += \
	/etc/gdm/PreSession/Default.debathena \
	/etc/gdm/PostSession/Default.debathena
DEB_REMOVE_FILES_debathena-gdm-config += \
	/usr/share/xsessions/ssh.desktop

ifneq ($(NEW_GDM),y)
    DEB_TRANSFORM_FILES_debathena-gdm-config += \
	${GDM_CONFFILE}
    DEB_DIVERT_FILES_debathena-gdm-config += \
	/usr/share/gdm/BuiltInSessions/default.desktop.debathena
endif

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/rules/config-package.mk

ifeq ($(XSPLASH),y)
    DEB_DIVERT_FILES_debathena-gdm-config += \
        /usr/share/images/xsplash/bg_2560x1600.debathena.jpg \
        /usr/share/images/xsplash/throbber_small.debathena.png \
        /usr/share/images/xsplash/throbber_medium.debathena.png \
        /usr/share/images/xsplash/throbber_large.debathena.png \
        /usr/share/images/xsplash/throbber_xtra_large.debathena.png
    install/debathena-gdm-config::
	dh_install debian/bg_2560x1600.debathena.jpg usr/share/images/xsplash
	dh_install debian/throbber_large.debathena.png usr/share/images/xsplash
	dh_link usr/share/images/xsplash/throbber_large.debathena.png \
	        usr/share/images/xsplash/throbber_small.debathena.png
	dh_link usr/share/images/xsplash/throbber_large.debathena.png \
	        usr/share/images/xsplash/throbber_medium.debathena.png
	dh_link usr/share/images/xsplash/throbber_large.debathena.png \
	        usr/share/images/xsplash/throbber_xtra_large.debathena.png
endif

common-build-indep:: debathena/distro.svg

debathena/distro.svg: debian/distro.svg.sh
	sh $< > $@

ifneq ($(NEW_GDM),y)
    install/debathena-gdm-config::
	dh_install debian/default.desktop.debathena usr/share/gdm/BuiltInSessions
else
    install/debathena-gdm-config::
	dh_gconf --priority 90
endif

clean::
	-rm debathena/distro.svg
