Source: debathena-dns-config
Section: debathena/base
Priority: extra
Maintainer: Debian-Athena Project <debathena@mit.edu>
Build-Depends: cdbs (>= 0.4.23-1.1), debhelper (>= 4.2.0), config-package-dev (>= 4.5~), bind9
Standards-Version: 3.7.2

Package: debathena-dns-config
Architecture: all
Depends: bind9, resolvconf
Description: Sets up a local caching named
 This package sets up a local caching named for better DNS lookup
 security and scalability than we can get by using the MIT resolvers
 directly.
