#!/usr/bin/make -f

# We used to divert /etc/bind/named.conf
DEB_DIVERT_EXTENSION = .debathena
DEB_UNDIVERT_FILES_debathena-dns-config += \
	/etc/bind/named.conf.options.debathena

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/rules/config-package.mk
