XCOMM #########################################################################
XCOMM # SCCS_data: %Z% %M% %I% %E% %U%
XCOMM #
XCOMM # Wcl Client Template
XCOMM #
XCOMM # DEPLIBS,
XCOMM # CLIENT_LDFLAGS, CLIENT_LIBS, DEBUG_CLIENT_LIBS, CLIENT_INCS,
XCOMM # CLIENT, CLASS, SRCS, OBJS, APPDEFS
XCOMM # all need to be set before including this.
XCOMM #

       WCL_LIBS = $(WCLIB) $(XMULIB) $(XTOOLLIB) $(XLIB)
 DEBUG_WCL_LIBS = $(DEBUGWCLIB) $(DEBUGXMULIB) $(DEBUGXTOOLLIB) $(DEBUGXLIB)

  LOCAL_LDFLAGS = $(CLIENT_LDFLAGS) $(WCLDFLAG)
LOCAL_LIBRARIES = $(CLIENT_LIBS) $(WCL_LIBS)
DEBUG_LIBRARIES = $(DEBUG_CLIENT_LIBS) $(DEBUG_WCL_LIBS)

/* Need to re-evaluate these Make variables
*/
    DEPENDFLAGS = $(CLIENT_INCS)
      LINTFLAGS = $(LINTOPTS) -DLINT $(ALLDEFINES) $(CLIENT_INCS)
         CFLAGS = $(CDEBUGFLAGS) $(CCOPTIONS) $(ALLDEFINES) $(CLIENT_INCS)
      LDOPTIONS = $(CDEBUGFLAGS) $(CCOPTIONS) $(LOCAL_LDFLAGS) $(GLOBAL_LDFLAGS)


/* Build and install client and man page
*/
ComplexProgramTarget($(CLIENT))

install:: $(CLASS)
	$(INSTALL) -c $(INSTAPPFLAGS) $(CLASS) $(DESTDIR)$(XAPPLOADDIR)/$(CLASS)

/* Indigo has busted InstallMultipleDestFlags - it does not create dir!
*/
install::
	@if [ -d $(DESTDIR)$(XAPPLOADDIR)/$(CLIENT) ]; then set +x; \
	else (set -x; $(MKDIRHIER) $(DESTDIR)$(XAPPLOADDIR)/$(CLIENT)); fi

InstallMultipleDestFlags(install,$(APPDEFS),$(XAPPLOADDIR)/$(CLIENT),$(INSTAPPFLAGS))

/* Optional Uninstalled Test Program
****************************************************************************
*/
#ifdef UninstalledTestProgram

all:: Test

Test.c:	$(CLIENT).c
	rm -f Test.c ; ln $(CLIENT).c Test.c

clean::
	rm -rf Test Test.o

SpecialObjectRule(Test.o,Test.c,$(DEBUG_CLIENT_OPTIONS))

#ifdef NullParameter
NormalProgramTarget(Test,Test.o,$(DEPLIBS),$(DEBUG_LIBRARIES),NullParameter)
#else
NormalProgramTarget(Test,Test.o,$(DEPLIBS),$(DEBUG_LIBRARIES),)
#endif

#endif /*UninstalledTestProgram*/
