##########################################################################
# SCCS_data: @(#) WcMakeL.tmpl	1.5 92/12/10 15:06:30
#
# Wcl Make Library Template
# 
# Uses:
# LIBRARY_NAME LIBRARY_FILE  HEADERS, SRCS, OBJS MAN_PAGES

.c.o:
	rm -f $@ 
	$(CC) -c $(CFLAGS_LIBS) $*.c

all:: $(LIBRARY_FILE)

$(LIBRARY_FILE): $(OBJS)
	rm -f $(LIBRARY_FILE)
	$(MKLIB_CMD)

clean::
	rm -f $(LIBRARY_FILE) $(OBJS)

install:: $(LIBRARY_FILE)
	$(CP_LIB) $(LIBRARY_FILE) $(DESTDIR)$(USRLIBDIR)/$(LIBRARY_FILE)
	chown $(OWNER) $(DESTDIR)$(USRLIBDIR)/$(LIBRARY_FILE)
	chmod $(INSTLIBFLAGS) $(DESTDIR)$(USRLIBDIR)/$(LIBRARY_FILE)
	$(RANLIB) $(DESTDIR)$(USRLIBDIR)/$(LIBRARY_FILE)

includes::
	@if [ -d $(WCTOPDIR)/X11 ]; then set +x; \
	else (set -x; mkdir $(WCTOPDIR)/X11); fi
	@if [ -d $(WCTOPDIR)/X11/$(LIBRARY_NAME) ]; then set +x; \
	else (set -x; mkdir $(WCTOPDIR)/X11/$(LIBRARY_NAME)); fi
	@(set -x; cd $(WCTOPDIR)/X11/$(LIBRARY_NAME); for i in $(HEADERS); do \
	rm -f $$i; \
	$(LN) ../../$(LIBRARY_NAME)/$$i .; \
	done)

install::
	@if [ -d $(DESTDIR)$(INCDIR) ]; then set +x; \
	else (set -x; mkdir $(DESTDIR)$(INCDIR) ; \
	chown $(OWNER) $(DESTDIR)$(INCDIR) ; \
	chmod $(INSTDIRFLAGS) $(DESTDIR)$(INCDIR)); fi
	@if [ -d $(DESTDIR)$(INCDIR)/$(LIBRARY_NAME) ]; then set +x; \
	else (set -x; mkdir $(DESTDIR)$(INCDIR)/$(LIBRARY_NAME) ; \
	chown $(OWNER) $(DESTDIR)$(INCDIR)/$(LIBRARY_NAME) ; \
	chmod $(INSTDIRFLAGS) $(DESTDIR)$(INCDIR)/$(LIBRARY_NAME)); fi
	for i in $(HEADERS); do \
	rm -f $(DESTDIR)$(INCDIR)/$(LIBRARY_NAME)/$$i; \
	cp $$i $(DESTDIR)$(INCDIR)/$(LIBRARY_NAME)/$$i; \
	done
	chown $(OWNER) $(DESTDIR)$(INCDIR)/$(LIBRARY_NAME)/*
	chmod $(INSTINCFLAGS) $(DESTDIR)$(INCDIR)/$(LIBRARY_NAME)/*

install.man::
	@(set -x; for i in $(MAN_PAGES); do \
	rm -f $(DESTDIR)$(LIBMANDIR)/$$i.$(LIBMANSUFFIX) ; \
	cp $$i.$(LIBMANSRCSUFFIX) $(DESTDIR)$(LIBMANDIR)/$$i.$(LIBMANSUFFIX) ; \
	chown $(OWNER) $(DESTDIR)$(LIBMANDIR)/$$i.$(LIBMANSUFFIX) ; \
	chmod $(INSTMANFLAGS) $(DESTDIR)$(LIBMANDIR)/$$i.$(LIBMANSUFFIX) ; \
	done )

scoman:
	@(set -x; for i in $(MAN_PAGES); do \
	rm -f $$i.S.z ; \
	nroff -man $$i.man > $$i.S ; \
	pack -f $$i.S ; \
	done )
