########################################################################
# SCCS_data: @(#) WcMakeC.tmpl 1.5 92/12/09 14:20:31
#
# Wcl Makefile Client Template
#
# LOCAL_LIBRARIES 
# CLIENT, CLASS, SRCS, OBJS,
# APPDEFS, APPDEF_DEFS
# all need to be set before including this.
#

# Build and install client and man page
#

.c.o:
	rm -f $@
	$(CC) -c $(CFLAGS_PROG) $*.c

all:: $(CLIENT)

$(CLIENT): $(OBJS) $(DEPLIBS)
	rm -f $@
	$(LD) -o $@ $(OBJS) $(LDFLAGS_PROG)

install:: $(CLIENT)
	cp $(CLIENT) $(DESTDIR)$(BINDIR)
	chown $(OWNER) $(DESTDIR)$(BINDIR)/$(CLIENT)
	chmod $(INSTBINFLAGS) $(DESTDIR)$(BINDIR)/$(CLIENT)

install.man:: $(CLIENT).man
	cp $(CLIENT).$(PGMMANSRCSUFFIX) \
                              $(DESTDIR)$(PGMMANDIR)/$(CLIENT).$(PGMMANSUFFIX)
	chown $(OWNER)        $(DESTDIR)$(PGMMANDIR)/$(CLIENT).$(PGMMANSUFFIX)
	chmod $(INSTMANFLAGS) $(DESTDIR)$(PGMMANDIR)/$(CLIENT).$(PGMMANSUFFIX)

scoman:
	rm -f $(CLIENT).C.z
	nroff -man $(CLIENT).$(PGMMANSRCSUFFIX) > $(CLIENT).C
	pack -f $(CLIENT).C

clean::
	rm -f $(CLIENT) $(OBJS)

install::
	if [ -d $(DESTDIR)$(XAPPLOADDIR)/$(CLIENT) ]; then \
	set +x; \
	else (set -x; mkdir $(DESTDIR)$(XAPPLOADDIR)/$(CLIENT) ; \
		chmod 555 $(DESTDIR)$(XAPPLOADDIR)/$(CLIENT) ) ; \
	fi

install:: $(CLASS)
	cp $(CLASS) $(DESTDIR)$(XAPPLOADDIR)
	chown $(OWNER) $(DESTDIR)$(XAPPLOADDIR)/$(CLASS)
	chmod $(INSTAPPDEFFLAGS) $(DESTDIR)$(XAPPLOADDIR)/$(CLASS)

install:: $(APPDEFS)
	for i in $(APPDEFS); do \
	(set -x; cp $$i $(DESTDIR)$(XAPPLOADDIR)/$(CLIENT)) ; \
	done
	( cd $(DESTDIR)$(XAPPLOADDIR)/$(CLIENT) ; \
		chown $(OWNER) * ; chmod $(INSTAPPDEFFLAGS) * )

includes::
	@echo Done including in $(CLIENT)
