SHELL=/bin/bash
PATH=/sbin:/bin:/usr/sbin:/usr/bin
MAILTO=root

# run-parts
01 * * * * root run-parts /etc/cron.hourly
02 4 * * * root run-parts /etc/cron.daily
22 4 * * 0 root run-parts /etc/cron.weekly
42 4 1 * * root run-parts /etc/cron.monthly

# Athena additions
05 3 * * * 	root	/etc/athena/desync; /etc/athena/newsyslog
20 4 * * *	root	/etc/athena/clean_tmp_areas > /dev/null
37 * * * *	root	/etc/athena/desync; /usr/sbin/sendmail -q
45 0,12 * * *	root	/etc/athena/desync 39600; . /etc/athena/rc.conf; /etc/athena/gettime -g 60 -s $TIMEHUB > /dev/null
