#!/usr/bin/make -f

LIGHTDM_VERSION = $(shell apt-cache policy lightdm 2>/dev/null | awk '/^  Candidate/ { print $$2 }' | fgrep -vx '(none)')
HAVE_LIGHTDM_106 = $(shell dpkg --compare-versions '$(LIGHTDM_VERSION)' ge '1.0.6~' && echo y)

ifeq ($(HAVE_LIGHTDM_106),y)
binary-predeb/debathena-login-graphical::
	echo "debathena-maybe-lightdm-config=debathena-lightdm-config" >> debian/debathena-login-graphical.substvars
endif


include /usr/share/cdbs/1/rules/debhelper.mk
