#!/usr/bin/make -f

DEB_DIVERT_EXTENSION = .debathena
DEB_DIVERT_FILES_debathena-linerva += \
	/usr/bin/elinks.debathena \
	/etc/motd.debathena \
	/etc/resolv.conf.debathena \
	/etc/security/limits.conf.debathena \
	/sbin/init.debathena \
	/etc/ssh/sshd_config.debathena.debathena \
	/etc/security/access.conf.debathena.debathena \
	/etc/openafs/cacheinfo.debathena.debathena
DEB_TRANSFORM_FILES_debathena-linerva += \
	/etc/rsyslog.conf.debathena \
	/etc/cron.d/logcheck.debathena

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/rules/config-package.mk
