Source: debathena-email-icon-config
Section: debathena-config/net
Priority: extra
Maintainer: Debathena Project <debathena@mit.edu>
Build-Depends: cdbs, debhelper, dh-buildinfo, config-package-dev (>= 5.0~)
Standards-Version: 3.9.3

Package: debathena-email-icon-config
Architecture: all
Depends: ${misc:Depends}, firefox | iceweasel | sensible-utils | debianutils (>= 2.0), hesiod
Description: Email icon configuration for Debathena graphical logins
 Since Outlook Web Access provides a vastly better user experience than
 Evolution for Exchange users, this package configures the Evolution
 e-mail wrapper to determine if you use Exchange, and if so, launch
 OWA in a web browser instead.
