[Desktop Entry]
Name=Bonobo Component Browser
Name[bg]=Компонент за браузър на Bonobo
Name[ca]=Navegador de components Bonobo
Name[cs]=Prohlížeč komponent Bonobo
Name[cy]=Porwr Cydrannau Bonobo
Name[da]=Bonobo-komponentbrowser
Name[de]=Bonobo-Komponenten-Browser
Name[en_CA]=Bonobo Component Browser
Name[en_GB]=Bonobo Component Browser
Name[es]=Examinador de componentes Bonobo
Name[hu]=Bonobo-komponensböngésző
Name[it]=Browser dei componenti Bonobo
Name[ko]=보노보 컴포넌트 브라우저
Name[lt]=Bonobo komponentų naršyklė
Name[nb]=Komponentvisning for Bonobo
Name[nl]=Bonobo componentverkenner
Name[nn]=Bonobo komponentvisar
Name[no]=Komponentvisning for Bonobo
Name[or]=ବନୋବୋ ଯନ୍ତ୍ରାଂଶ ଖୋଜାଳି
Name[pl]=Przeglądarka komponentów Bonobo
Name[pt]=Navegador de Componentes Bonobo
Name[pt_BR]=Navegador de Componentes Bonobo
Name[ru]=Обозреватель компонентов Bonobo
Name[sk]=Prehliadač súčastí bonobo
Name[sq]=Shfletuesi i komponentëve Bonobo
Name[sr]=Разгледач Бонобо компоненти
Name[sr@Latn]=Razgledač Bonobo komponenti
Name[sv]=Bonobo-komponentbläddrare
Name[zh_CN]=Bonobo 组件浏览器
Comment=Shows available Bonobo components
Comment[bg]=Показване на наличните компоненти на Bonobo
Comment[ca]=Mostra els components Bonobo disponibles
Comment[cs]=Zobrazí dostupné komponenty Bonobo
Comment[cy]=Dangos y cydrannau Bonobo sydd ar gael
Comment[da]=Viser tilgængelige bonobo-komponenter
Comment[de]=Verfügbare Bonobo-Komponenten anzeigen
Comment[en_CA]=Shows available Bonobo components
Comment[en_GB]=Shows available Bonobo components
Comment[es]=Muestra los componentes Bonobo disponibles
Comment[hu]=Elérhető Bonobo-komponensek megjelenítése
Comment[it]=Mostra i componenti Bonobo disponibili
Comment[ko]=사용할 수 있는 보노보 컴포넌트를 표시합니다
Comment[lt]=Rodo prieinamus Bonobo komponentus
Comment[nb]=Viser tilgjengelige Bonobo-komponenter
Comment[nl]=Toont beschikbare Bonobo-componenten
Comment[nn]=Visar tilgjengelege Bonobo-komponentar
Comment[no]=Viser tilgjengelige Bonobo-komponenter
Comment[or]=ଉପଲବ୍ଧ ବନୋବୋ ଯନ୍ତ୍ରାଂଶ ଦେଖାଏ
Comment[pl]=Wyświetla dostępne komponenty Bonobo
Comment[pt]=Apresenta componentes Bonobo disponíveis
Comment[pt_BR]=Mostra os componentes Bonobo disponíveis
Comment[ru]=Показывает доступные компоненты Bonobo
Comment[sk]=Zobraziť dostupné súčasti bonobo
Comment[sq]=Shfaq komponentët Bonobo në dispozicion
Comment[sr]=Прикажи доступне Бонобо компоненте
Comment[sr@Latn]=Prikaži dostupne Bonobo komponente
Comment[sv]=Visar tillgängliga Bonobo-komponenter
Comment[zh_CN]=显示可用的 Bonobo 组件
Exec=bonobo-browser
Terminal=0
Type=Application
Icon=
Categories=Application;System;
