[Desktop Entry]
Name=File Roller
Name[bg]=File Roller
Name[ca]=File Roller
Name[cs]=File Roller
Name[da]=Filpakker
Name[de]=File Roller
Name[el]=File Roller
Name[es]=File Roller
Name[et]=File Roller
Name[fi]=Tiedostokäärin
Name[fr]=File Roller
Name[hi]=फ़ाइल रोल्लर
Name[hu]=File Roller
Name[it]=File Roller
Name[ja]=File Roller
Name[ko]=파일 롤러
Name[lv]=File Roller
Name[mn]=Файл Бүртгэгч
Name[ms]=File Roller
Name[nl]=File Roller
Name[no]=Filknuser
Name[pl]=File Roller
Name[pt_BR]=File Roller
Name[ro]=File Roller
Name[ru]=File Roller
Name[sk]=File Roller
Name[sl]=File roller
Name[sq]=File Roller
Name[sv]=File Roller
Name[uk]=Файловий млин
Name[vi]=File Roller
Name[zh_CN]=文件打包器
GenericName=Archive Manager
GenericName[am]=የመዝገብ ቤት መቆጣጠሪያ
GenericName[bg]=Мениджър на архивите
GenericName[ca]=Gestor d'arxius
GenericName[cs]=Správce archivů
GenericName[da]=Arkivhåndtering
GenericName[de]=Archiv-Manager
GenericName[el]=Διαχειριστής Συμπιεσμένων Αρχείων
GenericName[es]=Gestor de archivos comprimidos
GenericName[et]=Arhiivihaldur
GenericName[fi]=Pakettien käsittelyohjelma
GenericName[fr]=Gestionnaire d'archives
GenericName[hi]=सीकोडने वाला
GenericName[hu]=Archívumkezelő
GenericName[it]=Gestore di archivi
GenericName[ja]=書庫マネージャ
GenericName[ko]=압축 관리자
GenericName[lv]=Arhīvu Pārvaldnieks
GenericName[mk]=Менаџер за Архиви
GenericName[mn]=Архив Удирдлага
GenericName[ms]=Pengurus Arkib
GenericName[nl]=Archiefbeheer
GenericName[no]=Arkiveringsbestyrer
GenericName[pl]=Menedżer archiwów
GenericName[pt_BR]=Gerenciador de Pacotes
GenericName[ro]=Manager arhive
GenericName[ru]=Менеджер архивов
GenericName[sk]=Správca archívov
GenericName[sl]=Upravljalnik arhivov
GenericName[sq]=Manazhues i arkivit
GenericName[sv]=Arkivhanterare
GenericName[uk]=Менеджер архівів
GenericName[vi]=Trình Quản Lý Lưu Trữ
GenericName[zh_CN]=压缩文件管理器
Comment=Handle compressed archives
Comment[ca]=Gestiona els arxius comprimits
Comment[cs]=Zpracovat komprimované archivy
Comment[da]=Håndter komprimerede arkiver
Comment[de]=Komprimierte Archive handhaben
Comment[el]=Διαχειρίζεται συμπιεσμένα αρχεία
Comment[es]=Maneja archivos comprimidos
Comment[et]=Käsitle pakitud arhiive
Comment[fi]=Käsittele tiivistettyjä paketteja
Comment[fr]=Gestionnaire d'archives compressées
Comment[hi]=सिकुडि फ़ाइल को सम्भाले
Comment[hu]=Tömörített archívumok kezelése
Comment[it]=Gestore di archivi compressi
Comment[ja]=圧縮された書庫を管理するツールです
Comment[ko]=압축된 파일 처리
Comment[lv]=Apstrādā kompresētus arhīvus
Comment[mn]=Жолоодлоготой Шахсан Архив
Comment[ms]=Mengendali akrib termampat
Comment[nl]=Beheer gecomprimeerde archieven
Comment[no]=Håndter komprimerte arkiv
Comment[pl]=Obsługa skompresowanych archiwów
Comment[pt_BR]=Lidar com pacotes comprimidos
Comment[ro]=Gestionează arhivele comprimate
Comment[ru]=Универсальная программа для работы со сжатыми файлами
Comment[sk]=Práca so komprimovanými archívmi
Comment[sl]=Obravnavaj komprimirane arhive
Comment[sq]=Manazhues i arkiveve të kompresuar
Comment[sv]=Hantera komprimerade arkiv
Comment[uk]=Універсальна програма роботи із архівами
Comment[vi]=Quản lý lưu trữ dạng nén
Comment[zh_CN]=处理压缩文件
Categories=GNOME;Application;Utility;
Encoding=UTF-8
Exec=file-roller
Icon=file-roller.png
StartupNotify=true
Terminal=false
Type=Application
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=file-roller
X-GNOME-Bugzilla-Component=general
X-GNOME-DocPath=file-roller/file-roller.xml
