[Desktop Entry]
Name=Archive Manager
Name[am]=የመዝገብ ቤት መቆጣጠሪያ
Name[ar]=مدير المحفوظات
Name[az]=Arxiv İdarəçisi
Name[be]=Кіраўнік архіваў
Name[bg]=Мениджър на архивите
Name[bn]=আরকাইভ ম্যানেজার
Name[bs]=Upravitelj arhivama
Name[ca]=Gestor d'arxius
Name[cs]=Správce archivů
Name[cy]=Rheolydd Archifau
Name[da]=Arkivhåndtering
Name[de]=Archivmanager
Name[el]=Διαχειριστής Συμπιεσμένων Αρχείων
Name[en_CA]=Archive Manager
Name[en_GB]=Archive Manager
Name[es]=Gestor de archivos comprimidos
Name[eu]=Pakete kudeatzailea
Name[fa]=مدیر آرشیو
Name[fi]=Pakettienkäsittelyohjelma
Name[fr]=Gestionnaire d'archives
Name[gu]=પેટીનો વ્યવસ્થાપક
Name[he]=מנהל הארכיון
Name[hi]=अभिलेख प्रबंधक
Name[hr]=Upravljanje arhivom
Name[hu]=Archívumkezelő
Name[id]=Manajer Arsip
Name[is]=Skráarsafnstjóri
Name[it]=Gestore di archivi
Name[ja]=書庫マネージャ
Name[ko]=압축 관리자
Name[lt]=Archyvų tvarkymo programa
Name[lv]=Arhīvu Pārvaldnieks
Name[mk]=Менаџер на архиви
Name[ml]=േശഖര പാലകന്
Name[mn]=Архив Менежер
Name[ms]=Pengurus Arkib
Name[nb]=Arkivhåndtering
Name[ne]=अभिलेख प्रबन्धक
Name[nl]=Archiefbeheer
Name[nn]=Arkivhandsamar
Name[no]=Arkivhåndtering
Name[pa]=ਸੁਕੰਚਿਤ ਪ੍ਰਬੰਧਕ
Name[pl]=Zarządca archiwów
Name[pt]=Gestor de Arquivos
Name[pt_BR]=Gerenciador de Pacotes (Arquivos Compactados)
Name[ro]=Administrator arhive
Name[ru]=Менеджер архивов
Name[sk]=Správca archívov
Name[sl]=Upravljalnik arhivov
Name[sq]=Organizuesi i Arkivit
Name[sr]=Управљање архивом
Name[sr@Latn]=Upravljanje arhivom
Name[sr@ije]=Управљање архивом
Name[sv]=Arkivhanterare
Name[ta]=களஞ்சிய மேலாளர்
Name[th]=ตัวจัดการแฟ้มจัดเก็บ
Name[tk]=Arşiw Mudyry
Name[tr]=Arşiv Yöneticisi
Name[uk]=Менеджер архівів
Name[vi]=Trình Quản Lý Kho lưu
Name[zh_CN]=归档管理器
Name[zh_TW]=壓縮檔管理員
Comment=Create and modify an archive
Comment[ar]=إنشاء و تغيير محفوظة
Comment[az]=Arxiv yaradın və açın
Comment[be]=Стварыць ці зьмяніць архіў
Comment[bg]=Създаване и промяна на архив
Comment[bs]=Napravi i promijeni arhiv
Comment[ca]=Crea i modifica un arxiu
Comment[cs]=Vytvářet a upravovat archiv
Comment[cy]=Creu a newid archif
Comment[da]=Opret og ændr et arkiv
Comment[de]=Archive anlegen und verändern
Comment[el]=Δημιουργία και τροποποίηση ενός συμπιεσμένου αρχείου
Comment[en_CA]=Create and modify an archive
Comment[en_GB]=Create and modify an archive
Comment[es]=Crear y modificar un archivo comprimido
Comment[eu]=Sortu eta aldatu artxibo bat
Comment[fi]=Luo arkisto tai muokkaa arkistoa
Comment[fr]=Crée et modifie les archives
Comment[gu]=પેટી બનાવો અને સુધારો
Comment[he]=צור ועדכן ארכיונים
Comment[hi]=अभिलेख बनाएँ तथा परिवर्धित करें
Comment[hr]=Stvori i izmijeni arhivu
Comment[hu]=Archívum létrehozása és módosítása
Comment[it]=Crea e modifica un archivio
Comment[ja]=書庫を作成したり修正します
Comment[ko]=압축 파일을 만들고 고칩니다
Comment[lt]=Kurti ir modifikuoti archyvą
Comment[lv]=Izveidot un izmainīt arhīvu
Comment[mk]=Креирај и измени архива
Comment[mn]=Архив үүсгэх ба өөрчилөх
Comment[ms]=Cipta dan ubahsuai arkib
Comment[nb]=Opprett og endre arkiv
Comment[ne]=अभिलेख बनाउ र शुद्धिकरण गर
Comment[nl]=Maak en wijzig een archief
Comment[nn]=Lag og endra arkiv
Comment[no]=Opprett og endre arkiv
Comment[pa]=ਇੱਕ ਸੁਕੰਚਿਤ ਬਣਾਉ ਅਤੇ ਸੋਧੋ
Comment[pl]=Tworzy i modyfikuje archiwa
Comment[pt]=Criar e alterar um arquivo
Comment[pt_BR]=Cria e modifica um pacote
Comment[ro]=Creează şi modifică o arhivă
Comment[ru]=Программа создания и измения архивов
Comment[sk]=Vytvoriť a upraviť archív
Comment[sq]=Krijo dhe ndrysho një arkiv
Comment[sr]=Направите и измените неку архиву
Comment[sr@Latn]=Napravite i izmenite neku arhivu
Comment[sr@ije]=Направите и измјените архиву
Comment[sv]=Skapa och ändra ett arkiv
Comment[ta]=களஞ்சியத்தை உருவாக்கு அல்லது திருத்து
Comment[th]=สร้างและแก้ไขแฟ้มจัดเก็บ
Comment[tk]=Bir arşiwi bejerip üýtget
Comment[tr]=Bir arşiv yarat ve değiştir
Comment[uk]=Створити та змінити новий архів
Comment[zh_CN]=创建并修改归档文件
Comment[zh_TW]=建立或更改壓縮檔
Categories=GNOME;Application;System;Utility;
Encoding=UTF-8
Exec=file-roller %F
Icon=file-roller.png
MimeType=application/x-arj;application/x-bzip;application/x-bzip-compressed-tar;application/x-compress;application/x-compressed-tar;application/x-gtar;application/x-gzip;application/x-lha;application/x-lhz;application/x-rar;application/x-rar-compressed;application/x-tar;application/x-zip;application/x-zip-compressed;application/zip;multipart/x-zip;application/x-rpm;application/x-jar;application/x-java-archive;application/x-lzop;application/x-zoo;application/x-cd-image;
StartupNotify=true
Terminal=false
Type=Application
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=file-roller
X-GNOME-Bugzilla-Component=general
X-GNOME-DocPath=file-roller/file-roller.xml
