#!/bin/sh
#
# athena-verify: Public workstation integrity verification.
#
# chkconfig: 2345 80 30
# description: Public workstation integrity verification.

# "daemon ".  There.  I said it.  This makes the Red Hat boot process
# not mess with my output.

# Source function library
. /etc/rc.d/init.d/functions
. /etc/athena/rc.conf

PATH=/etc/athena:/bin/athena:/usr/athena/bin:$PATH

# See how we were called

case "$1" in
  start)
	if [ "$PUBLIC" = true ]; then
		echo "Starting public workstation integrity check"
		/etc/athena/verify 2>&1 | tee /var/athena/verify.log
	fi
	;;
  stop)
	;;
  status)
	;;
  restart)
	$0 start
	;;
  reload)
	;;
  *)
	echo "Usage: athena-verify {start|stop|status|restart|reload}"
	exit 1
	;;
esac

exit 0

