#!/bin/sh
#
# athena-ntp:	Start the Athena ntp time service.
#
# chkconfig: 345 55 45
# description: ntp time sync startup.
# processname: ntpd
# pidfile: /var/athena/ntpd.pid
# config: /etc/athena/ntp.conf

# Source function library
. /etc/rc.d/init.d/functions

. /etc/sysconfig/network
. /etc/athena/rc.conf

PATH=/etc/athena:/bin/athena:/usr/athena/bin:$PATH

# Check that networking is up.
if [ ${NETWORKING} = "no" ]
then
	exit 0
fi

[ -f /etc/athena/ntpd ] || exit 0

RETVAL=0

# See how we were called
case "$1" in
  start)
	[ "$DISCONNECTABLE" = true ] && exit 0
	echo -n "Starting Athena NTP: "
	gettime -s $TIMEHUB
	daemon ntpd
	RETVAL=$?

	echo
	[ $RETVAL -eq 0 ] && touch /var/lock/subsys/athena-ntp
	;;

  stop)
	echo -n "Stopping Athena NTP: "
	killproc ntpd
	RETVAL=$?

	echo
	[ $RETVAL -eq 0 ] && rm -f /var/lock/subsys/athena-ntp
	;;

  status)
	status ntpd
	RETVAL=$?
	;;

  restart)
	$0 stop
	$0 start
	RETVAL=$?
	;;

  reload)
	killall -HUP ntpd
	RETVAL=$?
	;;

  *)
	echo "Usage: athena-ntp {start|stop|status|restart|reload}"
	exit 1
esac

exit $RETVAL
