#!/bin/sh
#
# athena-sshd:	Start the Athena sshd service.
#
# chkconfig: 2345 80 30
# description: sshd startup.
# processname: sshd
#
# config: /etc/sysconfig/network

# Source function library
. /etc/rc.d/init.d/functions

. /etc/sysconfig/network
. /etc/sysconfig/athena-sshd
. /etc/sysconfig/athena-inetd

PATH=/etc/athena:/bin/athena:/usr/athena/bin:$PATH

# Check that networking is up.
if [ ${NETWORKING} = "no" ]
then
	exit 0
fi

[ -f /etc/athena/sshd ] || exit 0

[ "$SSHD" = true -o "$SSHD" = switched ] || exit 0

RETVAL=0

# See how we were called
case "$1" in
  start)
	echo -n "Starting Athena ssh: "

	case $SSHD,$ACCESSON in
		true,*)		opt= ;;
		switched,true)	opt=-s ;;
		switched,*)	opt=-S ;;
	esac

	daemon /etc/athena/sshd $opt
	RETVAL=$?

	echo
	[ $RETVAL -eq 0 ] && touch /var/lock/subsys/athena-sshd
	;;

  stop)
	echo -n "Stopping Athena ssh: "
	killproc sshd
	RETVAL=$?

	echo
	[ $RETVAL -eq 0 ] && rm -f /var/lock/subsys/athena-sshd
	;;

  status)
	status sshd
	RETVAL=$?
	;;

  restart)
	$0 stop
	$0 start
	RETVAL=$?
	;;

  reload)
	killall -HUP sshd
	RETVAL=$?
	;;

  *)
	echo "Usage: athena-sshd {start|stop|status|restart|reload}"
	exit 1
esac

exit $RETVAL
