#!/bin/sh
#
# zephyrd:	Start the Athena zephyrd.
#
# chkconfig: 2345 80 30
# description: Zephyrd startup.
# processname: zephyrd
#
# config: /etc/sysconfig/network
# config: /etc/sendmail.cf

# Source function library
. /etc/rc.d/init.d/functions

. /etc/sysconfig/network
. /etc/sysconfig/zhm

PATH=/etc/athena:/bin/athena:/usr/athena/bin:$PATH

# Check that networking is up.
if [ ${NETWORKING} = "no" ]
then
	exit 0
fi

[ -f /usr/athena/etc/zephyrd ] || exit 0

[ "$ZSERVER" = true ] || exit 0

RETVAL=0

# See how we were called
case "$1" in
  start)
	echo -n "Starting Athena zephyr server: "
	daemon zephyrd
	RETVAL=$?

	echo
	[ $RETVAL -eq 0 ] && touch /var/lock/subsys/zephyrd
	;;

  stop)
	echo -n "Stopping Athena zephyr server: "
	killproc zephyrd
	RETVAL=$?

	echo
	[ $RETVAL -eq 0 ] && rm -f /var/lock/subsys/zephyrd
	;;

  status)
	status zephyrd
	RETVAL=$?
	;;

  restart)
	$0 stop
	$0 start
	RETVAL=$?
	;;

  reload)
	killall -HUP zephyrd
	RETVAL=$?
	;;

  *)
	echo "Usage: zephyrd {start|stop|status|restart|reload}"
	exit 1
esac

exit $RETVAL
