DEPEXTENSIONLIB=/usr/X11R6/lib/libXext.a
DEPXLIB=/usr/X11R6/lib/libX11.a
DEPXMULIB=/usr/X11R6/lib/libXmu.a
DEPOLDXLIB=/usr/X11R6/lib/liboldX.a
DEPXTOOLLIB=/usr/X11R6/lib/libXt.a
DEPXAWLIB=/usr/X11R6/lib/libXaw.a
DEPXILIB=/usr/X11R6/lib/libXi.a

EXTENSIONLIB=-lXext
XLIB=-lX11
XMULIB=-lXmu
OLDXLIB=-loldX
XTOOLLIB=-lXt
XAWLIB=-lXaw
XILIB=-lXi

PICFLAGS=PositionIndependentCFlags
SHLIBLDFLAGS=-shared
