XCOMM $Id: NetBSDLib.tmpl,v 1.1 1999-01-30 03:43:16 ghudson Exp $

/* NetBSD shared library template. */

     SHLIBLDFLAGS = SharedLibraryLoadFlags
         PICFLAGS = PositionIndependentCFlags

/* As far as X libraries are concerned, we are always UseInstalled (we
 * don't have sources for X libraries here) and we don't care about
 * dependencies. */
     EXTENSIONLIB = -lXext
             XLIB = -lXext -lX11
          OLDXLIB = -loldX
           XMULIB = -lXmu
         XTOOLLIB = -lXt
           XAWLIB = -lXaw
            XILIB = -lXi
         XTESTLIB = -lXtst
           PEXLIB = -lPEX5
