#!/sbin/sh
# $Id: athena-lpd.rc,v 1.2 2003-10-02 22:39:39 jweiss Exp $
#
# athena-lpd: Stop/Start the Athena lpd
#
. /etc/athena/rc.conf

HOME=/; export HOME
PATH=/etc/athena:/bin/athena:/bin:/usr/ucb:/usr/sbin:/etc:/sbin:/usr/athena/etc
export PATH

umask 022

if [ "$LPD" != true ]; then
  exit 0
fi

case "$1" in
start)
  # Use absolute path to distinguish from the vendor lpd.
  echo "Starting Athena lpd."
  /usr/athena/etc/lpd &
  ;;
stop)
  pkill -x lpd
  ;;
restart)
  $0 stop
  $0 start
  ;;
*)
  echo "Usage: $0 {start|stop|restart}"
  ;;
esac
