#!/usr/bin/make -f

TBIRD_VERSION = $(shell dpkg-query --showformat='$${Version}' --show thunderbird)
NEW_TBIRD = $(shell dpkg --compare-versions $(TBIRD_VERSION) ge '3.0~' && echo y)


DEB_DIVERT_EXTENSION = .debathena
DEB_DIVERT_FILES_debathena-thunderbird-config += \
	/usr/bin/thunderbird.debathena \
	/usr/bin/icedove.debathena

ifneq ($(NEW_TBIRD),y)
    install/debathena-thunderbird-config::
	dh_link usr/share/debathena-thunderbird-config/debathena.js etc/thunderbird/pref/debathena.js
endif

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/rules/config-package.mk
