[Desktop Entry]
Encoding=UTF-8
Name=On-Screen Keyboard
Name[ar]=لوحة المفاتيح الموجودة على الشاشة
Name[az]=Ekran Üstü Klaviatura
Name[be]=Клявіятура на экране
Name[bg]=Екранна клавиатура
Name[bn]=স্ক্রীনস্থিত কীবোর্ড
Name[ca]=Teclat en pantalla
Name[cs]=Klávesnice na obrazovce
Name[cy]=Bysellfwrdd Ar Sgrîn
Name[da]=Skærmtastatur
Name[de]=Bildschirmtastatur
Name[el]=Πληκτρολόγιο οθόνης
Name[en_CA]=On-Screen Keyboard
Name[en_GB]=On-Screen Keyboard
Name[es]=Teclado en pantalla
Name[fi]=Näppäimistö näytöllä
Name[fr]=Clavier visuel
Name[gu]=સ્ક્રિન પરનું કીબોર્ડ
Name[hi]=ऑन-स्क्रीन कुंजीपटल
Name[hr]=Tipkovnica
Name[hu]=Képernyő-billentyűzet
Name[id]=Keyboard Layar
Name[it]=Tastiera a schermo
Name[ja]=オンスクリーン・キーボード
Name[ko]=화면 키보드
Name[lt]=Vaizdinė klaviatūra
Name[mn]=Дэлгэц гар
Name[ms]=Papan Kekunci Pada-Skrin
Name[nb]=Skjermtastatur
Name[nl]=Schermtoetsenbord
Name[no]=Skjermtastatur
Name[pa]=ਪਰਦੇ ਉੱਪਰ ਕੀਬੋਰਡ
Name[pl]=Klawiatura ekranowa
Name[pt]=Teclado No Ecrã
Name[pt_BR]=Teclado Virtual
Name[sk]=Obrazovková klávesnica
Name[sl]=Zaslonska tipkovnica
Name[sq]=Tastierë në ekran
Name[sr]=Тастатура на екрану
Name[sr@Latn]=Tastatura na ekranu
Name[sv]=Skärmtangentbord
Name[ta]=திரையில்-உள்ள விசைப்பலகை
Name[tr]=Ekran Klavyesi
Name[uk]=Екранна клавіатура
Name[vi]=Bàn phím-màn hình
Name[zh_CN]=屏幕上的键盘
Name[zh_TW]=畫面鍵盤
Comment=The GNOME On-screen Keyboard
Comment[ar]=لوحة المفاتيح الموجودة على الشاشة لجنوم
Comment[az]=GNOME Ekran Üstü Klaviaturası
Comment[be]=Клявіятура на экране для GNOME
Comment[bg]=GNOME екранна клавиатура
Comment[bn]=গুহ্‌নোমের স্ক্রীনস্থিত কীবোর্ড
Comment[ca]=Teclat en pantalla del GNOME
Comment[cs]=GNOME klávesnice na obrazovce
Comment[cy]=Bysellfwrdd Ar Sgrîn GNOME
Comment[da]=Gnomes tastatur-på-skærmen
Comment[de]=Die GNOME-Bildschirmtastatur
Comment[el]=Το Πληκτρολόγιο οθόνης του GNOME
Comment[en_CA]=The GNOME On-screen Keyboard
Comment[en_GB]=The GNOME On-screen Keyboard
Comment[es]=El teclado en pantalla de Gnome
Comment[fi]=Gnomen näppäimistö näytöllä
Comment[fr]=Clavier visuel GOK
Comment[gu]=GNOME સ્ક્રિન પરનું કીબોર્ડ
Comment[hi]=गनोम ऑन-स्क्रीन कुंजीपटल पर उभारें
Comment[hr]=Gnomeova tipkovnica na zaslonu
Comment[hu]=A GNOME Képernyő-billentyűzet
Comment[id]=Keyboard Layar GNOME
Comment[it]=La tastiera a schermo di GNOME
Comment[ja]=GNOME 用のオンスクリーン・キーボードです
Comment[ko]=그놈 화면 키보드
Comment[lt]=GNOME vaizdinė klaviatūra
Comment[mn]=ГНОМЕ дэлгэц гар
Comment[ms]=Papan Kekunci Pada-Skrin GNOME
Comment[nb]=GNOME skjermtastatur
Comment[nl]=Het schermtoetsenbord van GNOME
Comment[no]=GNOME skjermtastatur
Comment[pa]=ਗਨੋਮ ਦਾ ਪਰਦੇ ਉੱਪਰ ਕੀਬੋਰਡ
Comment[pl]=Klawiatura ekranowa GNOME
Comment[pt]=O Teclado No Ecrã GNOME
Comment[pt_BR]=O Teclado Virtual do GNOME
Comment[sk]=Obrazovková klávesnica GNOME
Comment[sl]=Zaslonska tipkovnica GNOME
Comment[sq]=Tastiera në ekran për GNOME
Comment[sr]=Гномова тастатура на екрану
Comment[sr@Latn]=Gnomova tastatura na ekranu
Comment[sv]=GNOME-skärmtangentbordet
Comment[ta]=க்னோம் திரையின் மேல் விசைப்பலகை
Comment[tr]=GNOME Ekran Klavyesi
Comment[uk]=Екранна клавіатура для GNOME
Comment[vi]=Bàn phím-Màn hình GNOME
Comment[zh_CN]=GNOME 软键盘
Comment[zh_TW]=GNOME 畫面鍵盤
Exec=gok
Terminal=false
Type=Application
Icon=gok.png
Categories=Application;Accessibility;
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=gok
X-GNOME-Bugzilla-Component=general
