Source: debathena-tmp-cleaner
Section: debathena/base
Priority: extra
Maintainer: Debian-Athena Project <debathena@mit.edu>
Build-Depends: cdbs (>= 0.4.23-1.1), debhelper (>= 4.2.0)
Standards-Version: 3.7.2

Package: debathena-tmp-cleaner
Architecture: all
Depends: perl, cron, debathena-saferm, ${misc:Depends}
Description: Cleans up temporary areas of the filesystem
 This package contains a cron job which runs once a day to clean up
 files in temporary areas of the filesystem which have not been
 recently accessed.
