[Desktop Entry]
Name=Applications
Name[ca]=Aplicacions
Name[cs]=Aplikace
Name[da]=Programudseende
Name[de]=Anwendungen
Name[es]=Aplicaciones
Name[et]=Rakendused
Name[fi]=Sovellukset
Name[fr]=Application
Name[ga]=Fograiocht
Name[gl]=Aplicación
Name[hu]=Alkalmazások
Name[it]=Applicazioni
Name[ja]=¥¢¥×¥ê¥±¡¼¥·¥ç¥ó
Name[ko]=ÀÀ¿ë ÇÁ·Î±×·¥ ±âº»»çÇ×
Name[lt]=Programos
Name[no]=Applikasjoner
Name[pl]=Aplikacje
Name[pt]=Aplicações
Name[ru]=ğÒÉÌÏÖÅÎÉÑ
Name[sk]=Aplikácie
Name[sl]=Programi
Name[sv]=Applikation
Name[uk]=ğÒÏÇÒÁÍÉ
Name[wa]=Programes
Comment=Sets the default feel of GNOME applications
Comment[ca]=Establir el comportament de les aplicacions de GNOME.
Comment[cs]=Nastavení standardního vzhledu aplikací Gnome
Comment[da]=Indstil Gnome-programmers standardudseende
Comment[de]=Legt das Ausssehen von GNOME Anwendungen fest
Comment[es]=Establece el comportamiento predeterminado de las aplicaciones GNOME
Comment[et]=Määrab GNOME rakendusprogrammide väljanägemise
Comment[fi]=Määritä GNOME-sovellusten oletustoiminnallisuutta.
Comment[fr]=Configuration du comportement des applications GNOME.
Comment[gl]=Configurar o aspecto por defecto das aplicacións de GNOME.
Comment[hu]=Alkalmazások megjelenésének meghatározása
Comment[it]=Imposta il comportamento di default delle applicazioni GNOME
Comment[ja]=GNOME ¥¢¥×¥ê¥±¡¼¥·¥ç¥ó¤ÎÉ¸½àÅª¤ÊµóÆ°¤òÀßÄê
Comment[ko]=±×³ğ ÀÀ¿ë ÇÁ·Î±×·¥ÀÇ ±âº» »çÇ× °áÁ¤
Comment[lt]=Pasirink áprastà programø iğvaizdà ir elgesá
Comment[no]=Setter forvalgt oppførsel for GNOME applikasjoner
Comment[pl]=Ustawia domy¶lne zachowanie siê aplikacji GNOME
Comment[pt]=Configurar o comportamento por omissão das aplicações GNOME.
Comment[ru]=ïĞÒÅÄÅÌÉÔØ ×ÎÅÛÎÉÊ ×ÉÄ ĞÒÉÌÏÖÅÎÉÊ GNOME.
Comment[sk]=Nastavenie ¹tandardného vzhµadu aplikácií GNOME.
Comment[sl]=Nastavi privzet izgled in obna¹anje programov GNOME
Comment[sv]=Konfigurera hur GNOME-applikationer uppför sig.
Comment[uk]=÷ÓÔÁÎÏ×ÉÔÉ ÔÉĞÏ×ÉÊ ×ÉÇÌÑÄ ĞÒÏÇÒÁÍ GNOME
Exec=ui-properties --cap-id=1
Icon=gnome-applications.png
Terminal=0
Type=Application
