[Desktop Entry]
Name=MDI
Name[ca]=Multidocument
Name[da]=Multidokument
Name[de]=MDI
Name[es]=MDI
Name[et]=Multidokument
Name[fi]=Usean asiakirjan käyttö
Name[fr]=Multi-document
Name[gl]=Multi-Documento
Name[hu]=MDI
Name[ja]=MDI
Name[ko]=¿©·¯¹®¼­
Name[lt]=MDI
Name[no]=MDI
Name[pl]=MDI
Name[pt]=MDI
Name[ru]=ïäé
Name[sk]=MDI
Name[sl]=MDI (veèdokumetni vmesnik)
Name[sv]=MDI
Name[wa]=MDI
Exec=ui-properties --cap-id=2
Icon=gnome-mdi.png
Terminal=0
Type=Application
