Source: debathena-finger-config
Section: debathena-config/net
Priority: extra
Maintainer: Debathena Project <debathena@mit.edu>
Build-Depends: cdbs, debhelper, dh-buildinfo, config-package-dev (>= 5.0~)
Standards-Version: 3.9.3

Package: debathena-finger-config
Architecture: all
Depends: finger (<< 0.17-13~), ${misc:Depends}
Provides: ${diverted-files}
Conflicts: ${diverted-files}, debathena-finger (<= 10.0.2-0debathena1)
Replaces: debathena-finger (<= 10.0.2-0debathena1)
Description: Set Athena finger as default
 This package makes /usr/bin/finger a wrapper which adds "-m" on some
 older platforms.
