#!/usr/bin/make -f

%:
	dh $@

HAVE_LIBREOFFICE = $(shell apt-cache show libreoffice 2>/dev/null | grep -q '^Version:' && echo y)

override_dh_gencontrol:
ifeq ($(HAVE_LIBREOFFICE),y)
	dh_gencontrol -- -Vdebathena-cool-kids-office-suite=libreoffice
else
	dh_gencontrol -- -Vdebathena-cool-kids-office-suite=openoffice.org
endif

ifeq ($(HAVE_LIBREOFFICE),y)
override_dh_install:
	dh_install
	dh_install debian/ooffice usr/bin
endif

