[Desktop Entry]
Name=Enlightenment
Name[da]=Enlightenment
Name[de]=Enlightenment
Name[el]=Enlightenment
Name[es]=Enlightenment
Name[fi]=Enlightenment
Name[fr]=Enlightenment
Name[gl]=Enlightenment
Name[ja]=Enlightenment
Name[ko]=인라이튼먼트
Name[no]=Enlightenment
Name[pl]=Enlightenment
Name[sk]=Enlightenment
Name[sv]=Enlightenment
Name[wa]=Enlightenment
NAme[tr]=Enlightenment
Exec=enlightenment
TryExec=enlightenment

[Window Manager]
ConfigExec=e-conf
ConfigTryExec=e-conf
SessionManaged=true
