[Desktop Entry]
Name=Enlightenment
Name[pt_BR]=Enlightenment
Name[sl]=Enlightenment
Name[cs]=Enlightenment
Name[da]=Enlightenment
Name[el]=Διαφώτιση
Name[ko]=ΐΞ¶σΐΜΖ°ΈΥΖ®
Name[fr]=Enlightenment
Name[pl]=Enlightenment
Exec=enlightenment
TryExec=enlightenment

[Window Manager]
ConfigExec=e-conf
ConfigTryExec=e-conf
SessionManaged=true
