[Desktop Entry]
Name=Ice WM
Name[ca]=Gestor Ice
Name[da]=IceWM
Name[de]=Ice WM
Name[es]=Ice WM
Name[fi]=Ice WM
Name[fr]=Ice WM
Name[gl]=IceWM
Name[ja]=Ice WM
Name[ko]=Ice WM
Name[no]=Ice WM
Name[pl]=Mened¿er okien Ice (IceWM)
Name[sk]=Ice WM
Name[sv]=Ice WM
Name[tr]=Ice WM
Name[wa]=Ice WM
Exec=icewm
TryExec=icewm

[Window Manager]
SessionManaged=true
