[Desktop Entry]
Name=Scwm
Name[pt_BR]=Scwm
Name[sl]=Scwm
Name[cs]=Scwm
Name[da]=Scwm
Name[el]=Scwm
Name[ko]=scwm
Name[fr]=Scwm
Name[no]=Scwm
Name[pl]=Scwm
Exec=scwm
TryExec=scwm

[Window Manager]
SessionManaged=true
