[Desktop Entry]
Name=twm
Name[da]=Twm
Name[de]=twm
Name[es]=twm
Name[fi]=twm
Name[fr]=twm
Name[gl]=twm
Name[hu]=twm
Name[ja]=twm
Name[ko]=twm
Name[no]=twm
Name[pl]=twm
Name[ru]=twm
Name[sk]=twm
Name[sl]=twm
Name[sv]=twm
Name[uk]=twm
Name[wa]=twm
Exec=twm
TryExec=twm

[Window Manager]
SessionManaged=false
