[Desktop Entry]
Name=Window Maker
Name[da]=WindowMaker
Name[de]=Window Maker
Name[es]=Window Maker
Name[fi]=Window Maker
Name[fr]=Window Maker
Name[gl]=WindowMaker
Name[hu]=Window Maker
Name[ja]=Window Maker
Name[ko]=윈도우 메이커
Name[no]=Window Maker
Name[pl]=Window Maker
Name[ru]=Window Maker
Name[sk]=Window Maker
Name[sl]=Window maker
Name[sv]=Window Maker
Name[uk]=Window Maker
Name[wa]=Window Maker
Exec=wmaker
TryExec=wmaker

[Window Manager]
SessionManaged=false
ConfigExec=/usr/X11R6/lib/GNUstep/Apps/WPrefs.app/WPrefs
