
[Config]
applet_count=8
panel_count=1
tearoffs_count=0

[Panel_1]
type=0
hidebuttons_enabled=true
hidebutton_pixmaps_enabled=true
mode=0
state=0
level=0
avoid_on_maximize=true
screen=0
unique_id=10000001
sz=48
fit_pixmap_bg=true
strech_pixmap_bg=false
rotate_pixmap_bg=true
backpixmap=
backcolor=#000000
back_type=0
edge=2
