Source: debathena-lprng-config
Section: debathena-config/net
Priority: extra
Maintainer: Debathena Project <debathena@mit.edu>
Build-Depends: cdbs, debhelper, dh-buildinfo, config-package-dev (>= 5.0~)
Standards-Version: 3.9.3

Package: debathena-lprng-config
Architecture: all
Depends: debathena-lprng, debathena-hesiod-config, debathena-kerberos-config, ${misc:Depends}
Provides: ${diverted-files}
Conflicts: ${diverted-files}
Description: Printing configuration for Debathena
 This packages configures lprng to get printer information from
 the Athena Hesiod domain.

