# $Id: sshd_config,v 1.3 2000-12-29 04:26:33 zacheiss Exp $

# Athena sshd configuration file

PidFile /var/athena/sshd.pid
RhostsAuthentication no
RhostsRSAAuthentication no
RSAAuthentication no
StrictModes no
KerberosOrLocalPasswd yes
CheckMail no
SyslogFacility AUTH
